<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Account Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="4">
					<h:outputText value="Account ID" styleClass="caption" />
					<p:inputText value="#{account.item.accountId}" size="20"
						readonly="#{account.item.objectId gt 0}" />
					<h:outputText value="Account Desc" styleClass="caption" />
					<p:inputText value="#{account.item.accountDesc}" size="20" />
					<h:outputText value="Account No" styleClass="caption" />
					<p:inputText value="#{account.item.accountNo}" size="20" />
					<h:outputText value="IFS Code" styleClass="caption" />
					<p:inputText value="#{account.item.ifsCode}" size="20" />
					<h:outputText value="Address" styleClass="caption" />
					<p:inputText value="#{account.item.address}" size="20" />
					<h:outputText value="Remark" styleClass="caption" />
					<p:inputText value="#{account.item.remarks}" size="20" />
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{account.commit()}"
							rendered="#{account.item.addAddowed or account.item.modifyAddowed }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{account.addNew()}"
							rendered="#{account.item.addAddowed  and account.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{account.refreshList()}"
							rendered="#{account.item.viewAddowed}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{account.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan"
							rendered="#{account.item.deleteAddowed and account.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>


					</h:panelGrid>
				</f:facet>

			</p:panel>

			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{account.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{account.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{account.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{account.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{account.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
