<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Article List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="20" id="searchPan">
					<h:panelGrid columns="1">
						<h:outputText value="Search" styleClass="caption" />
						<p:inputText value="#{article.filter.search_text}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Bar Code" styleClass="caption" />
						<p:inputText value="#{article.filter.bar_code}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Article No" styleClass="caption" />
						<p:inputText value="#{article.filter.articleNo}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Article Desc" styleClass="caption" />
						<p:inputText value="#{article.filter.articleDesc}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Article Type" styleClass="caption" />
						<p:inputText value="#{article.filter.article_type}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Section" styleClass="caption" />
						<p:selectOneMenu value="#{article.filter.article_group}"
							id="group" filter="true" style="width: 100px">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{section.listSelectOne}" var="sec"
								itemValue="#{sec.sectionNo}" itemLabel="#{sec.sectionDesc}" />
							<p:ajax process="group" update="sub_group"
								listener="#{article.rePreapreFilterSubSecList()}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Sub Sec" styleClass="caption" />
						<p:selectOneMenu value="#{article.filter.article_sub_group}"
							id="sub_group" filter="true" style="width: 100px">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{subSection.listSelectOne}" var="subSec"
								itemValue="#{subSec.subSection}"
								itemLabel="#{subSec.subSectionDesc}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Manufacturer" styleClass="caption" />
						<p:selectOneMenu value="#{article.filter.manufacturer}"
							style="width: 100px;" filter="true">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{brand.listSelectOne}" var="br"
								itemValue="#{br.brand}" itemLabel="#{br.brand}" />
						</p:selectOneMenu>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="HSN Code" styleClass="caption" />
						<p:inputText value="#{article.filter.remark1}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Remark2" styleClass="caption" />
						<p:inputText value="#{article.filter.remark2}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Remark3" styleClass="caption" />
						<p:inputText value="#{article.filter.remark3}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Rack" styleClass="caption" />
						<p:inputText value="#{article.filter.rack}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:spacer width="10" height="10" />
						<p:commandButton action="#{article.search()}" process="searchPan"
							update="detail_table,messagePan" value="Search" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:spacer width="10" height="10" />
						<p:commandButton action="#{article.resetFilter()}"
							process="searchPan" update="searchPan,detail_table,messagePan"
							value="Reset" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{article.list}" var="row" id="detail_table"
						scrollable="true" scrollHeight="400" rowIndexVar="r"
						resizableColumns="true">
						<p:column headerText="SrNo" width="50">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.articleNo}" headerText="Article No">
							<h:commandLink action="#{article.load(row.articleNo)}"
								value="#{row.articleNo}" />
						</p:column>
						<p:column sortBy="#{row.articleDesc}" headerText="Article Desc"
							width="180">
							<h:outputText value="#{row.articleDesc}" />
						</p:column>

						<p:column headerText="Article Type">
							<h:outputText value="#{row.article_type}" />
						</p:column>
						<p:column headerText="Section">
							<h:outputText value="#{row.article_group}" />
						</p:column>
						<p:column headerText="Sub Section">
							<h:outputText value="#{row.article_sub_group}" />
						</p:column>
						<p:column headerText="UOM">
							<h:outputText value="#{row.inventory_uom}" />
						</p:column>
						<p:column headerText="Disc%">
							<h:outputText value="#{row.disc_per}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Wsp Disc%">
							<h:outputText value="#{row.wsp_disc_per}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="HSN">
							<h:outputText value="#{row.remark1}" />
						</p:column>
						<p:column headerText="GST%">
							<h:outputText value="#{row.tax_per}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Rem1">
							<h:outputText value="#{row.remark2}" />
						</p:column>
						<p:column headerText="Rem2">
							<h:outputText value="#{row.remark3}" />
						</p:column>
						<p:column headerText="Rack">
							<h:outputText value="#{row.rack}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:messages id="messagePan" />
		</h:form>
	</ui:define>

</ui:composition>
