<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Company Parameters
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Parameter ID" styleClass="caption" />
					<p:inputText value="#{companyParameter.item.parameterId}" size="50"
						readonly="true" />
					<h:outputText value="Tin" styleClass="caption" />
					<p:inputText value="#{companyParameter.item.tin}"
						autocomplete="false" size="50" />
					<h:outputText value="CST" styleClass="caption" />
					<p:inputText value="#{companyParameter.item.cst}" size="50" />
					<h:outputText value="Phone No" styleClass="caption" />
					<p:inputText value="#{companyParameter.item.lst}" size="50" />
					<h:outputText value="ITEM CODE PREFIX" styleClass="caption" />
					<p:inputText value="#{companyParameter.item.iteCodePrefix}"
						size="50" />
					<h:outputText value="Invoice Footer Notes" styleClass="caption" />
					<p:inputTextarea
						value="#{companyParameter.item.invoiceFooterNotes}" rows="5"
						cols="100" />
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false"
							rendered="#{companyParameter.item.addAddowed || companyParameter.item.modifyAddowed}"
							icon="ui-icon-disk" value="Save"
							action="#{companyParameter.commit}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{companyParameter.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{companyParameter.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{companyParameter.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{companyParameter.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{companyParameter.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
