<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Customer List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Cust ID" styleClass="caption" />
						<p:inputText value="#{cust.item.custId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust Name" styleClass="caption" />
						<p:inputText value="#{cust.item.custName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust Address" styleClass="caption" />
						<p:inputText value="#{cust.item.address}" size="8" />
					</h:panelGrid>
					
					
					<h:panelGrid columns="1">
						<h:outputText value="Phone" styleClass="caption" />
						<p:inputText value="#{cust.item.phone}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="E-mail" styleClass="caption" />
						<p:inputText value="#{cust.item.mail}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{cust.search()}"
							update="detail" icon="ui-icon-search" value="Search" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{cust.refresh()}"
							update="detail,searchPan" icon="ui-icon-refresh" value="Refresh" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="false" action="#{cust.addNew()}"
							value="Add New" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{cust.generateXls()}"
							process="searchPan" value="Xls" />
					</h:panelGrid>
				</h:panelGrid>


			</p:panel>
			<p:fieldset id="detail">
				<p:dataTable value="#{cust.list}" var="row" rowIndexVar="r"
					scrollable="true" scrollHeight="400">
					<p:column headerText="Sr#" width="50">
                        #{r+1}
                    </p:column>
					<p:column headerText="ID" sortBy="#{row.custId}">
						<h:commandLink action="#{cust.load(row.custId)}"
							value="#{row.custId}">
						</h:commandLink>
					</p:column>
					<p:column headerText="Name" width="250">
						<h:outputText value="#{row.custName}" />
					</p:column>
					<p:column headerText="Address" width="250">
						<h:outputText value="#{row.address}" />
					</p:column>
					<p:column headerText="Tin">
						<h:outputText value="#{row.tin}" />
					</p:column>
					
					<p:column headerText="Phone">
						<h:outputText value="#{row.phone}" />
					</p:column>
					
					<p:column headerText="mail">
						<h:outputText value="#{row.mail}" />
					</p:column>
					<p:column headerText="Disc%">
						<h:outputText value="#{row.discPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Status" width="60" styleClass="tac">
						<h:outputText value="#{row.status}" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
