<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Customer Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2" columnClasses="vat,vat">
					<h:panelGrid columns="4" columnClasses="vat,vat,vat">
						<h:panelGrid columns="4">
							<h:outputText value="Customer ID" styleClass="caption" />
							<p:inputText value="#{cust.item.custId}" size="50"
								readonly="#{cust.item.objectId gt 0}" />
							<h:outputText value="Name" styleClass="caption" />
							<p:inputText value="#{cust.item.custName}" size="50" />
							<h:outputText value="GSTIN" styleClass="caption" />
							<p:inputText value="#{cust.item.tin}" size="50" />
							
							<h:outputText value="Phone" styleClass="caption" />
							<p:inputText value="#{cust.item.phone}" size="50" />
							
							<h:outputText value="Mail" styleClass="caption" />
							<p:inputText value="#{cust.item.mail}" size="50" />
							<h:outputText value="Disc Per" styleClass="caption" />
							<p:inputText value="#{cust.item.discPer}" size="50">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
							<h:outputText value="DOB" styleClass="caption" />
							<p:inputText value="#{cust.item.dob}" size="50">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
							
							<h:outputText value="Reg.No." styleClass="caption" />
							<p:inputText value="#{cust.item.reg}" size="50" />
							<h:outputText value="WSP Disc Allowed" styleClass="caption" />
							<p:selectOneRadio value="#{cust.item.wsDiscAllowed}">
								<f:selectItem itemValue="Y" itemLabel="Yes" />
								<f:selectItem itemValue="N" itemLabel="No" />
							</p:selectOneRadio>
							<h:outputText value="Status" styleClass="caption" />
							<p:selectOneRadio value="#{cust.item.status}">
								<f:selectItem itemValue="Active" itemLabel="Active" />
								<f:selectItem itemValue="InActive" itemLabel="InActive" />
							</p:selectOneRadio>
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<h:panelGrid columns="1">
						<h:outputText value="Address" styleClass="caption" />
						<p:inputTextarea rows="2" cols="50" value="#{cust.item.address}"
							autoResize="false" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Remark" styleClass="caption" />
						<p:inputTextarea rows="2" cols="50" autoResize="false"
							value="#{cust.item.noteText}" />
					</h:panelGrid>
				</h:panelGrid>

				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" accesskey="s" icon="ui-icon-disk"
							value="Save" action="#{cust.commit}"
							rendered="#{cust.item.addAddowed or cust.item.modifyAddowed }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{cust.addNew}"
							rendered="#{cust.item.addAddowed  and cust.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{cust.getCustomerList}"
							rendered="#{cust.item.viewAddowed}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{cust.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{cust.item.deleteAddowed and cust.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset id="histPan">
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{cust.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{cust.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{cust.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{cust.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{cust.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
