<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Damages List</ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Damage No" styleClass="caption" />
						<p:inputText value="#{damage.item.damageNo}" size="8" />
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="From Date" styleClass="caption" />
						<p:inputText value="#{damage.item.fromDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Date" styleClass="caption" />
						<p:inputText value="#{damage.item.toDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Sarch" action="#{damage.search}"
							ajax="true" process="searchPan" update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" action="#{damage.refreshList}"
							ajax="true" process="searchPan" update="searchPan,data_table" />
					</h:panelGrid>
				</h:panelGrid>

				<f:facet name="footer">
					<p:dataTable id="data_table" value="#{damage.list}" var="row"
						rowIndexVar="r" resizableColumns="true" scrollable="true"
						scrollHeight="400" scrollRows="20">
						<p:column headerText="Sr#" width="30">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.damageNo}" headerText="Damage No">
							<h:commandLink action="#{damage.load(row.damageNo)}"
								value="#{row.damageNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Damage Date" width="80">
							<h:outputText value="#{row.damageDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>

						<p:column headerText="Net Value" styleClass="tar">

							<h:outputText value="#{row.netValue}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" width="80" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="40%" />
					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:messages />
		</h:form>
	</ui:define>

</ui:composition>
