<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="top">
        Damages
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2" columnClasses="vat,vat,vat,vat">
					<h:outputText value="Damage No" styleClass="caption" />
					<p:inputText value="#{damage.item.damageNo}" />
					<h:outputText value="Date" styleClass="caption" />
					<p:inputText value="#{damage.item.damageDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>

					<h:outputText value="Status" styleClass="caption" />
					<h:outputText value="#{damage.item.status}" styleClass="caption" />
				</h:panelGrid>

			</p:panel>
			<h:panelGrid columns="20" id="selectionPan">
				<h:panelGrid columns="1">
					<h:outputText value="Search" />
					<p:inputText value="#{damage.item.damageLineSelected.search_text}"
						size="6">
						<p:ajax process="@this" listener="#{damage.searchItems()}"
							update="selectionPan,infoSelected,selPanel,msgBoard"></p:ajax>
					</p:inputText>
				</h:panelGrid>


				<h:panelGrid columns="1">
					<h:outputText value="Item Desc" />
					<p:inputText value="#{damage.item.damageLineSelected.itemDesc}"
						size="18">
						<p:ajax process="@this" listener="#{damage.searchItems()}"
							update="selectionPan,infoSelected,selPanel,msgBoard"></p:ajax>
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Qty" />
					<p:inputText value="#{damage.item.damageLineSelected.qty}" size="2">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{damage.reProcessSelected}"
							update="selectionPan" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="UOM" />
					<p:inputText value="#{damage.item.damageLineSelected.uom}" size="4" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="MRP" />
					<p:inputText value="#{damage.item.damageLineSelected.mrp}" size="4">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="SP" />
					<p:inputText value="#{damage.item.damageLineSelected.salesPrice}"
						size="4" readonly="#{masterParameter.item.editSalePrice eq 'No'}">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{damage.reProcessSelected}"
							update="selectionPan,tax_amt,disc_amt,net_amt" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc%" />
					<p:inputText value="#{damage.item.damageLineSelected.discPer}"
						size="2" readonly="#{masterParameter.item.editDiscount eq 'No'}">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{damage.reProcessSelected}"
							update="selectionPan,disc_amt,net_amt,msgBoard" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc Amt" />
					<p:inputText value="#{damage.item.damageLineSelected.discAmt}"
						size="2" id="disc_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>

				<h:panelGrid columns="1">
					<h:outputText value="GST%" />
					<p:inputText value="#{damage.item.damageLineSelected.taxPer}"
						size="2" id="tax_per">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{damage.reProcessSelected}"
							update="selectionPan" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="GST Amt" />
					<p:inputText value="#{damage.item.damageLineSelected.taxAmt}"
						size="2" id="tax_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Net Amt" />
					<p:inputText value="#{damage.item.damageLineSelected.netAmt}"
						size="4" id="net_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Sub Sec" />
					<p:inputText value="#{damage.item.damageLineSelected.subSection}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Sec" />
					<p:inputText value="#{damage.item.damageLineSelected.section}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Size" />
					<p:inputText value="#{damage.item.damageLineSelected.itemSize}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Color" />
					<p:inputText value="#{damage.item.damageLineSelected.color}"
						size="3" />
				</h:panelGrid>

				<h:panelGrid columns="1">
					<h:outputText value="Batch" />
					<p:inputText value="#{damage.item.damageLineSelected.batch}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="ExpDt" />
					<p:inputText value="#{damage.item.damageLineSelected.expDate}"
						size="10">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
				</h:panelGrid>

				<h:panelGrid columns="1"
					rendered="#{damage.item.status != 'Approved'}">
					<h:outputText value="&nbsp;" />
					<p:commandButton action="#{damage.addItem}" value="Add"
						rendered="#{damage.item.damageLineSelected.lineNo == 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,finalSummary,infoSelected,msgBoard" />
					<p:commandButton action="#{damage.updateItem}" value="Update"
						rendered="#{damage.item.damageLineSelected.lineNo != 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,finalSummary,infoSelected,msgBoard" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="&nbsp;" />
					<p:commandButton ajax="true" action="#{damage.resetSelected}"
						value="Reset" process="selectionPan"
						update="selectionPan,infoSelected" />
				</h:panelGrid>
			</h:panelGrid>
			<h:panelGrid columns="1" id="selPanel">
				<p:dataTable value="#{damage.articleItems.list}" var="s"
					scrollable="true" scrollHeight="100"
					rendered="#{damage.articleItems.list.size() gt 1}">
					<p:column headerText="ItemsCode" width="100">
						<h:commandLink value="#{s.item_code}"
							action="#{damage.setItemCode(s.item_code)}" />
					</p:column>
					<p:column headerText="QtyOnHand" width="100">
						<h:outputText value="#{s.qty_on_hand}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="MRP" width="100">
						<h:outputText value="#{s.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" width="100">
						<h:outputText value="#{s.wsp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Article" width="100">
						<h:outputText value="#{s.article_no}" />
					</p:column>
					<p:column headerText="BarCode" width="100">
						<h:outputText value="#{s.bar_code}" />
					</p:column>
					<p:column headerText="Item Desc">
						<h:outputText value="#{s.article_desc}" />
					</p:column>
				</p:dataTable>
			</h:panelGrid>
			<h:panelGrid columns="20" id="infoSelected">
				<h:outputText value="Qty In Stock : "
					rendered="#{damage.stock.list.size() eq 1}" />
				<h:outputText value="#{damage.item.damageLineSelected.qtyOnHand}"
					rendered="#{damage.stock.list.size() eq 1}"
					style="font-weight: bold;color: red">
					<f:convertNumber pattern="#0.00" />
				</h:outputText>
			</h:panelGrid>
			<p:panel>
				<p:dataTable value="#{damage.item.damageLines}" id="datatable"
					var="row" rowIndexVar="r" scrollable="true" scrollHeight="150">
					<p:column headerText="Sl" width="20">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Item Code" width="60">
						<h:outputText value="#{row.itemCode}" />
					</p:column>
					<p:column headerText="Article" width="60">
						<h:outputText value="#{row.articleNo}" />
					</p:column>
					<p:column headerText="BarCode" width="80">
						<h:outputText value="#{row.barCode}" />
					</p:column>
					<p:column headerText="Description" width="120">
						<h:outputText value="#{row.itemDesc}" />
					</p:column>
					<p:column headerText="Qty" styleClass="num" width="40">
						<h:outputText value="#{row.qty}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="UOM" width="40">
						<h:outputText value="#{row.uom}" />
					</p:column>
					<p:column headerText="MRP" styleClass="num" width="40">
						<h:outputText value="#{row.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" styleClass="num" width="40">
						<h:outputText value="#{row.salesPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc%" styleClass="num" width="40">
						<h:outputText value="#{row.discPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="DiscAmt" styleClass="num" width="60">
						<h:outputText value="#{row.discAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="GST%" styleClass="num" width="40">
						<h:outputText value="#{row.taxPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="GSTAmt" styleClass="num" width="60">
						<h:outputText value="#{row.taxAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Net Amt" styleClass="num" width="80">
						<h:outputText value="#{row.netAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Sec" rendered="false" width="60">
						<h:outputText value="#{row.section}" />
					</p:column>
					<p:column headerText="Sub Sec" rendered="false" width="60">
						<h:outputText value="#{row.subSection}" />
					</p:column>
					<p:column headerText="Size" width="40" rendered="false">
						<h:outputText value="#{row.itemSize}" />
					</p:column>
					<p:column headerText="Color" width="40" rendered="false">
						<h:outputText value="#{row.color}" />
					</p:column>
					<p:column headerText="Batch" styleClass="centerAligned" width="40">
						<h:outputText value="#{row.batch}" />
					</p:column>
					<p:column headerText="ExpDt" styleClass="centerAligned" width="70">
						<h:outputText value="#{row.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="Action" width="80">
						<p:commandButton ajax="false"
							action="#{damage.setSlectedDetail(row)}" icon="ui-icon-pencil"
							rendered="#{damage.item.status != 'Approved'}" />
						<p:spacer width="2" />
						<p:commandButton ajax="false" action="#{damage.deletDetail(row)}"
							icon="ui-icon-trash"
							rendered="#{damage.item.status != 'Approved'}" />
					</p:column>
				</p:dataTable>
			</p:panel>
			<h:panelGrid columns="3" style="width:100%" styleClass=",,tar">
				<p:fieldset style="height:60px;">
					<h:panelGrid columns="20">
						<p:commandButton ajax="false" icon="ui-icon-disk"
							action="#{damage.commit}" value="Save"
							rendered="#{damage.item.status != 'Approved' and ( damage.item.addAddowed or damage.item.modifyAddowed)}"
							accesskey="s" onclick="this.form.target = ''" />
						<p:commandButton ajax="false" action="#{damage.addNew}"
							value="New" rendered="#{damage.item.objectId gt 0}" accesskey="n" />
						<p:commandButton ajax="false" action="#{damage.approveDamage}"
							value="Approve Damage"
							rendered="#{damage.item.status != 'Approved' and damage.item.damageNo.length() gt 0}" />
						<p:commandButton ajax="false" action="#{damage.refreshList() }"
							value="List" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false" icon="ui-icon-print"
							rendered="#{damage.item.printAddowed and damage.item.objectId gt 0}"
							accesskey="t" action="#{damage.printThermalReport()}" />
					</h:panelGrid>
				</p:fieldset>
				<p:fieldset style="height:60px;" id="msgBoard">
					<p:messages></p:messages>
				</p:fieldset>
				<p:fieldset style="height:60px;" id="finalSummary">
					<h:panelGrid columns="8">
						<h:panelGrid columns="1">
							<h:outputText value="Gross Value" styleClass="caption" />
							<p:inputText value="#{damage.item.grossValue}" readonly="true"
								styleClass="num" size="12">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid columns="1">
							<h:outputText value="Net Amount" styleClass="caption" />

							<p:inputText value="#{damage.item.netValue}"
								style="font-weight: bold;background: #c3d9ff;" size="10"
								readonly="true" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</h:panelGrid>
					</h:panelGrid>
				</p:fieldset>
			</h:panelGrid>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{damage.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By:" styleClass="caption" />
					<h:outputText value="#{damage.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{damage.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By:" styleClass="caption" />
					<h:outputText value="#{damage.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID : " styleClass="caption" />
					<h:outputText value="#{damage.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>

				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
