<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Expense Head Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2">
					<h:outputText value="Head" styleClass="caption" />
					<p:inputText value="#{expenseHead.item.head}" size="20" />
					<h:outputText value="Head Desc" styleClass="caption" />
					<p:inputText value="#{expenseHead.item.headDesc}" size="50" />
					<h:outputText value="Status" styleClass="caption" />
					<p:selectOneRadio value="#{expenseHead.item.status}">
						<f:selectItem itemValue="Active" itemLabel="Active" />
						<f:selectItem itemValue="InActive" itemLabel="InActive" />
					</p:selectOneRadio>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{expenseHead.commit()}"
							rendered="#{expenseHead.item.addAddowed or expenseHead.item.modifyAddowed}" />
						<p:commandButton ajax="false" value="Add New"
							action="#{expenseHead.addNew()}"
							rendered="#{expenseHead.item.addAddowed and expenseHead.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{expenseHead.refreshList()}"
							rendered="#{expenseHead.item.viewAddowed}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{expenseHead.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{expenseHead.item.deleteAddowed and expenseHead.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>

			</p:panel>

			<p:fieldset>
				<h:panelGrid columns="20" id="histPan">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{expenseHead.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{expenseHead.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{expenseHead.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{expenseHead.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{expenseHead.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
