<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="top">
        Sales Return
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" columnClasses="vat,vat,vat">
					<h:panelGrid columns="6" columnClasses="vat,vat,vat,vat">
						<h:panelGrid columns="2">
							<h:outputText value="Ret No" styleClass="caption" />
							<p:inputText value="#{invRet.item.invRetNo}" size="15"
								readonly="#{invRet.item.objectId gt 0}" />
							<h:outputText value="Ret Date" styleClass="caption" />
							<p:inputText value="#{invRet.item.invRetDate}" size="15">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</h:panelGrid>
						<h:panelGrid columns="2">
							<h:outputText value="Ret Prefix" styleClass="caption" />
							<p:selectOneMenu value="#{invRet.item.invoicePrefix}"
								disabled="#{invRet.item.objectId gt 0}" style="width:100px">
								<f:selectItem itemValue="" itemLabel="" />
								<f:selectItems value="#{invRet.trans.invRetPrefixlist}"
									var="invprefix" itemValue="#{invprefix.prefix}"
									itemLabel="#{invprefix.prefix }" />
							</p:selectOneMenu>
							<h:outputText value="Status" styleClass="caption" />
							<h:outputText value="#{invRet.item.status}" styleClass="caption" />
						</h:panelGrid>
						<h:panelGrid columns="2">
							<h:outputText value="Inv No" styleClass="caption" />
							<h:panelGrid columns="2">

								<p:inputText value="#{invRet.item.invoiceNo}" size="15"
									readonly="#{invRet.item.status eq 'Returned'}" />
								<p:commandButton
									action="#{invRet.prepareSalesReturn(invRet.item.invoiceNo)}"
									ajax="false" title="Sale Return"
									rendered="#{invRet.item.addAddowed and invRet.item.status ne 'Returned'}"
									icon="ui-icon-refresh"></p:commandButton>
							</h:panelGrid>
							<h:outputText value="Inv Date" styleClass="caption" />
							<p:inputText value="#{invRet.item.invoiceDate}" size="15">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid columns="2" columnClasses="vat,vat">
						<h:panelGrid columns="2">
							<h:outputText value="Customer ID" styleClass="caption" />
							<p:selectOneMenu value="#{invRet.item.customerId}"
								style="width: 100px;" id="cust_id" filter="true">
								<f:selectItem itemValue="" itemLabel=""></f:selectItem>
								<f:selectItems value="#{cust.listSelectOne}" var="lst"
									itemValue="#{lst.custId}" itemLabel="#{lst.custName}"></f:selectItems>
								<p:ajax update="cust_name,cust_address"
									listener="#{invRet.setCustomer}" process="cust_id" />
							</p:selectOneMenu>
							<h:outputText value="Name" styleClass="caption" />
							<p:inputText value="#{invRet.item.customerName}" size="20"
								id="cust_name" />
						</h:panelGrid>
						<h:panelGrid columns="1" columnClasses="vat,vat">
							<h:outputText value="Address" styleClass="caption" />
							<p:inputTextarea rows="1" cols="40"
								value="#{invRet.item.custAddress}" id="cust_address"
								autoResize="false" />
						</h:panelGrid>
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
			<h:panelGrid columns="20" id="selectionPan"
				rendered="#{invRet.item.status ne 'Returned'}">
				<h:panelGrid columns="1">
					<h:outputText value="Search" />
					<p:inputText
						value="#{invRet.item.invoiceRetLineSelected.search_text}" size="6">
						<p:ajax process="@this" listener="#{invRet.searchItems()}"
							update="selectionPan,infoSelected,selPanel"></p:ajax>
					</p:inputText>
				</h:panelGrid>


				<h:panelGrid columns="1">
					<h:outputText value="Item Desc" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.itemDesc}"
						size="15">
						<p:ajax process="@this" listener="#{invRet.searchItems()}"
							update="selectionPan,infoSelected,selPanel"></p:ajax>
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Qty" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.qty}"
						size="2">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invRet.reProcessSelected}"
							update="tax_amt,disc_amt,net_amt" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="UOM" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.uom}"
						size="4" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="MRP" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.mrp}"
						size="4">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="SP" />
					<p:inputText
						value="#{invRet.item.invoiceRetLineSelected.salesPrice}" size="4">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invRet.reProcessSelected}"
							update="tax_amt,disc_amt,net_amt" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc%" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.discPer}"
						size="2">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invRet.reProcessSelected}"
							update="disc_amt,net_amt" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc Amt" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.discAmt}"
						size="2" id="disc_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="GST%" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.taxPer}"
						size="2" id="tax_per">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invRet.reProcessSelected}"
							update="tax_amt,net_amt" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="GST Amt" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.taxAmt}"
						size="2" id="tax_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Net Amt" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.netAmt}"
						size="4" id="net_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Sales Per" />
					<p:selectOneMenu
						value="#{invRet.item.invoiceRetLineSelected.selsPers}"
						style="width:60px;">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{salesPerson.list}" var="sp"
							itemValue="#{sp.personCode}" itemLabel="#{sp.personName}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Sub Sec" />
					<p:inputText
						value="#{invRet.item.invoiceRetLineSelected.subSection}" size="4" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Sec" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.section}"
						size="4" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Batch" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.batch}"
						size="4" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="ExpDt" />
					<p:inputText value="#{invRet.item.invoiceRetLineSelected.expDate}"
						size="8">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="&nbsp;" />
					<p:commandButton action="#{invRet.addItem}" value="Add It"
						rendered="#{invRet.item.invoiceRetLineSelected.lineNo == 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,summaryPan,payPan,finalSummary,infoSelected,msgPan" />
					<p:commandButton action="#{invRet.updateItem}" value="Update"
						rendered="#{invRet.item.invoiceRetLineSelected.lineNo != 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,summaryPan,payPan,finalSummary,infoSelected" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="&nbsp;" />

					<p:commandButton action="#{invRet.resetSelected()}" value="Reset"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,summaryPan,payPan,selPanel,finalSummary,infoSelected" />
				</h:panelGrid>

			</h:panelGrid>
			<h:panelGrid columns="1" id="selPanel">
				<p:dataTable value="#{invRet.articleItems.list}" var="s"
					scrollable="true" scrollHeight="100"
					rendered="#{invRet.articleItems.list.size() gt 1}">
					<p:column headerText="ItemsCode">
						<h:commandLink value="#{s.item_code}"
							action="#{invRet.setItemCode(s.item_code)}" />
					</p:column>
					<p:column headerText="MRP">
						<h:outputText value="#{s.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP">
						<h:outputText value="#{s.wsp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Color">
						<h:outputText value="#{s.color}" />
					</p:column>

					<p:column headerText="Article">
						<h:outputText value="#{s.article_no}" />
					</p:column>
					<p:column headerText="BarCode">
						<h:outputText value="#{s.bar_code}" />
					</p:column>
					<p:column headerText="Item Desc">
						<h:outputText value="#{s.article_desc}" />
					</p:column>

				</p:dataTable>
			</h:panelGrid>
			<h:panelGrid columns="20" id="infoSelected"
				rendered="#{invRet.item.status ne 'Returned'}">
				<h:outputText value="Qty OnHand : "
					rendered="#{invRet.stock.list.size() eq 1}" styleClass="caption" />
				<h:outputText
					value="#{invRet.item.invoiceRetLineSelected.qtyOnHand}"
					rendered="#{invRet.stock.list.size() eq 1}">
					<f:convertNumber pattern="#0.00" />
				</h:outputText>
			</h:panelGrid>
			<p:panel>
				<p:dataTable value="#{invRet.item.invoiceRetLines}" id="datatable"
					var="row" rowIndexVar="r" scrollable="true" scrollHeight="100">
					<p:column headerText="Sl" width="30">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Item Code" width="60">
						<h:outputText value="#{row.itemCode}" />
					</p:column>
					<p:column headerText="Article" width="70" rendered="false">
						<h:outputText value="#{row.articleNo}" />
					</p:column>
					<p:column headerText="Description" width="100">
						<h:outputText value="#{row.itemDesc}" />
					</p:column>
					<p:column headerText="Qty" styleClass="num" width="40">
						<h:outputText value="#{row.qty}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="UOM" width="40">
						<h:outputText value="#{row.uom}" />
					</p:column>
					<p:column headerText="MRP" styleClass="num" width="60">
						<h:outputText value="#{row.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" styleClass="num" width="40">
						<h:outputText value="#{row.salesPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc%" styleClass="num" width="40">
						<h:outputText value="#{row.discPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc Amt" styleClass="num" width="60">
						<h:outputText value="#{row.discAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="GST%" styleClass="num" width="40">
						<h:outputText value="#{row.taxPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="GST Amt" styleClass="num" width="60">
						<h:outputText value="#{row.taxAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Net Amt" styleClass="num" width="60">
						<h:outputText value="#{row.netAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Size" width="40">
						<h:outputText value="#{row.itemSize}" />
					</p:column>
					<p:column headerText="SubSec" rendered="false" width="50">
						<h:outputText value="#{row.subSection}" />
					</p:column>
					<p:column headerText="Sec" rendered="false" width="40">
						<h:outputText value="#{row.section}" />
					</p:column>
					<p:column headerText="Batch" styleClass="centerAligned" width="40">
						<h:outputText value="#{row.batch}" />
					</p:column>
					<p:column headerText="ExpDt" styleClass="centerAligned" width="70">
						<h:outputText value="#{row.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					<p:column width="40">
						<f:facet name="header">
                            Del <p:selectBooleanCheckbox
								value="#{invRet.item.selAll}">
								<p:ajax listener="#{invRet.selectAllClicked()}"
									process="datatable" update="datatable" />
							</p:selectBooleanCheckbox>
						</f:facet>
						<p:selectBooleanCheckbox value="#{row.tempSel}" />
					</p:column>
					<p:column headerText="Action" width="100">
						<p:commandButton ajax="false"
							action="#{invRet.setSlectedDetail(row)}" icon="ui-icon-pencil"
							rendered="#{invRet.item.status ne 'Returned'}" />
						<p:spacer width="10" />
						<p:commandButton ajax="false" action="#{invRet.deletDetail(row)}"
							rendered="#{invRet.item.status ne 'Returned'}"
							icon="ui-icon-trash" />
					</p:column>
				</p:dataTable>

				<f:facet name="footer">
					<h:panelGrid columns="20" id="summaryPan">
						<h:outputText value="T Qty : " styleClass="caption" />
						<h:outputText value="#{invRet.item.totQty}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T MRP : "
							styleClass="caption" />
						<h:outputText value="#{invRet.item.totMrp}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T SP : "
							styleClass="caption" />
						<h:outputText value="#{invRet.item.totSalsePrice}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T Discount : "
							styleClass="caption" />
						<h:outputText value="#{invRet.item.totDiscValue}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T Tax : "
							styleClass="caption" />
						<h:outputText value="#{invRet.item.totalTax}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="100" height="1" />
						<h:outputText style="padding-left:100px;" styleClass="caption"
							value="Net Value :"></h:outputText>
						<h:outputText styleClass="captionValue"
							value="#{invRet.item.netValue}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" style="width:100%" styleClass=",,tar">
					<p:fieldset style="height:60px;">
						<h:panelGrid columns="20">
							<p:commandButton ajax="false" action="#{invRet.commit}"
								rendered="#{invRet.item.addAddowed and invRet.item.status ne 'Returned'}"
								value="Save" />
							<p:commandButton ajax="false" action="#{invRet.addNew}"
								rendered="#{invRet.item.addAddowed }" value="New" />
							<p:commandButton ajax="false" action="#{invRet.invReturned}"
								rendered="#{invRet.item.postAddowed and invRet.item.status ne 'Returned' }"
								value="Return" />
							<p:commandButton ajax="false" action="#{invRet.refreshList}"
								rendered="#{invRet.item.viewAddowed }" value="List" />
						</h:panelGrid>
					</p:fieldset>
					<p:fieldset style="height:60px;" id="msgPan">
						<p:messages></p:messages>
					</p:fieldset>
					<p:fieldset style="height:60px;" id="finalSummary">
						<h:panelGrid columns="15">
							<h:panelGrid columns="1">
								<h:outputText value="Sub Total" styleClass="caption" />
								<p:inputText value="#{invRet.item.subTotal}" readonly="true"
									styleClass="num" size="12">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Disc %" styleClass="caption" />
								<p:inputText value="#{invRet.item.discPer}" size="4"
									styleClass="num">
									<f:convertNumber pattern="#0.00" />
									<p:ajax listener="#{invRet.processHeader()}"
										update="finalSummary" process="finalSummary" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Disc Amt" styleClass="caption" />
								<p:inputText value="#{invRet.item.discAmt}" size="8"
									readonly="true" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>

							<h:panelGrid columns="1">
								<h:outputText value="GST %" styleClass="caption" />
								<p:inputText value="#{invRet.item.taxPerOnInv}" size="4"
									styleClass="num">
									<f:convertNumber pattern="#0.00" />
									<p:ajax listener="#{invRet.processHeader}"
										update="finalSummary" process="finalSummary" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="GST Amt" styleClass="caption" />
								<p:inputText value="#{invRet.item.taxAmtOnInv}" size="8"
									readonly="true" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>

							<h:panelGrid columns="1">
								<h:outputText value="Other Charges" styleClass="caption" />
								<p:inputText value="#{invRet.item.otherCharges}" size="10"
									styleClass="num">
									<f:convertNumber pattern="#0.00" />
									<p:ajax listener="#{invRet.processHeader}"
										update="finalSummary" process="finalSummary" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Round Off" styleClass="caption" />
								<p:inputText value="#{invRet.item.roundOff}" size="8"
									readonly="true" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Net Amount" styleClass="caption" />
								<p:inputText value="#{invRet.item.netValue}" size="12"
									readonly="true" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{invRet.item.invRetPayLines}" id="payPan"
						var="r" rowIndexVar="rno">
						<p:column headerText="Sr">
                            #{rno+1}
                        </p:column>
						<p:column headerText="PayMode">
							<p:selectOneMenu value="#{r.payModeId}">
								<f:selectItem itemValue="" itemLabel="" />
								<f:selectItems value="#{payMode.list}" var="li"
									itemValue="#{li.payModeId}" itemLabel="#{li.payModeDesc}" />
							</p:selectOneMenu>
						</p:column>
						<p:column headerText="Amount">
							<p:inputText value="#{r.payAmt}" size="8" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="Tender">
							<p:inputText value="#{r.cashTAmt}" size="8" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="Refund">
							<p:inputText value="#{r.refAmt}" size="8" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="CC Code">
							<p:inputText value="#{r.ccCode}" size="8" />
						</p:column>
						<p:column headerText="CC No">
							<p:inputText value="#{r.ccNo}" size="8" />
						</p:column>
						<p:column headerText="Cheque">
							<p:inputText value="#{r.chequeNo}" size="8" />
						</p:column>
						<p:column headerText="Cheque DT">
							<p:inputText value="#{r.chequeDt}" size="8">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</p:column>
						<p:column headerText="Bank">
							<p:inputText value="#{r.bankName}" size="8" />
						</p:column>
						<p:column headerText="Action">
							<p:commandButton ajax="false"
								action="#{invRet.deletePayDetail(r)}" icon="ui-icon-trash"
								rendered="#{invRet.item.status ne 'Returned'}" />
						</p:column>
					</p:dataTable>
					<p:commandLink ajax="true" process="@this" update="payPan"
						rendered="#{invRet.item.status ne 'Returned'}"
						value="Add New Line" action="#{invRet.addNewPayLine()}" />
				</f:facet>
			</p:panel>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On" styleClass="caption" />
					<h:outputText value="#{invRet.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By" styleClass="caption" />
					<h:outputText value="#{invRet.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On" styleClass="caption" />
					<h:outputText value="#{invRet.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By" styleClass="caption" />
					<h:outputText value="#{invRet.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID : " styleClass="caption" />
					<h:outputText value="#{invRet.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>

				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>
