<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="top">
        Invoice
    </ui:define>

	<ui:define name="content">



		<h:form id="form1">
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" columnClasses="vat,vat,vat"
					style="width:100%">

					<h:panelGrid columns="4" columnClasses="vat,vat,vat,vat">
						<h:outputText value="Invoice No" styleClass="caption" />
						<p:inputText value="#{invoice.item.invoiceNo}" readonly="true" />

						<h:outputText value="Inv Prefix" styleClass="caption" />
						<p:selectOneMenu value="#{invoice.item.invoicePrefix}"
							style="width:100px">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{invoice.trans.invPrefixlist}"
								var="invprefix" itemValue="#{invprefix.prefix}"
								itemLabel="#{invprefix.prefix }" />
						</p:selectOneMenu>

						<h:outputText value="Date" styleClass="caption" />
						<p:inputText value="#{invoice.item.invoiceDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>

						<h:outputText value="Status" styleClass="caption" />

						<h:outputText value="#{invoice.item.status}" styleClass="caption" />
						
							<h:outputText value="Remark" styleClass="caption" />
							<p:inputTextarea rows="3" cols="30"
								value="#{invoice.item.custRemark}"  />
					</h:panelGrid>
                     
                     	<h:panelGrid columns="3" columnClasses="vat,vat,vat">
						<h:panelGrid columns="2">

							<h:outputText value="Cust ID" styleClass="caption" />
							<p:selectOneMenu value="#{invoice.item.customerId}"
								style="width: 100px;" id="cust_id" filter="true">
								<f:selectItem itemValue="" itemLabel=""></f:selectItem>
								<f:selectItems value="#{cust.listSelectOne}" var="lst"
									itemValue="#{lst.custId}"
									itemLabel="#{lst.custName}- #{lst.reg}"></f:selectItems>
								<p:ajax update="cust_name,cust_address,cust_tin,cust_mob,cust_reg,finalSummary"
									listener="#{invoice.setCustomer}" process="cust_id" />
							</p:selectOneMenu>
							<h:outputText value="Cust Name" styleClass="caption" />
							<p:inputText value="#{invoice.item.customerName}" size="20"
								id="cust_name" />
							<h:outputText styleClass="caption" value="Mob" />
							<p:inputText value="#{invoice.item.custMob}" size="20"
								id="cust_mob" />
								<h:outputText styleClass="caption" value="GSTIN" />
							<p:inputText value="#{invoice.item.custTin}" size="20"
								id="cust_tin" />
						</h:panelGrid>
						<h:panelGrid columns="1">
							<h:outputText value="Address" styleClass="caption" />
							<p:inputTextarea rows="3" cols="30"
								value="#{invoice.item.custAddress}" id="cust_address" />
						</h:panelGrid>
						<h:panelGrid columns="2">
						
							<h:outputText value="REG. NO." styleClass="caption" />
							<p:inputText value="#{invoice.item.custReg}" size="20" id="cust_reg"/>
							
						</h:panelGrid>
					</h:panelGrid>

				</h:panelGrid>

			</p:panel>
			<h:panelGrid columns="20" id="selectionPan"
				rendered="#{invoice.item.status ne 'Delivered'}">
				<h:panelGrid columns="1">
					<h:outputText value="Search" />
					<p:inputText
						value="#{invoice.item.invoiceLineSelected.search_text}" size="20">
						<p:ajax process="selectionPan" listener="#{invoice.searchItems()}"
							update="selectionPan,infoSelected,selPanel,msgBoard"></p:ajax>
					</p:inputText>
				</h:panelGrid>

				<h:panelGrid columns="1">
					<h:outputText value="Item Desc" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.itemDesc}"
						size="40">
						<p:ajax process="selectionPan" listener="#{invoice.searchItems()}"
							update="selectionPan,infoSelected,selPanel,msgBoard"></p:ajax>
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Qty" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.qty}"
						size="4">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invoice.reProcessSelected}"
							update="selectionPan" process="selectionPan" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="UOM" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.uom}"
						size="4" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="MRP" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.mrp}"
						size="8">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Over" />
					<p:selectBooleanCheckbox
						value="#{invoice.item.invoiceLineSelected.isExtraChargeApplicable}">
						<p:ajax listener="#{invoice.reProcessSelected}"
							update="selectionPan" process="selectionPan" />
					</p:selectBooleanCheckbox>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="SP" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.salesPrice}"
						size="8" readonly="#{masterParameter.item.editSalePrice eq 'No'}">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invoice.reProcessSelected}"
							update="selectionPan" process="selectionPan" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc%" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.discPer}"
						size="6" readonly="#{masterParameter.item.editDiscount eq 'No'}">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invoice.reProcessSelected}"
							update="selectionPan,msgBoard" process="selectionPan" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc Amt" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.discAmt}"
						readonly="true" size="6" id="disc_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>

				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="GST%" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.taxPer}"
						size="2" id="tax_per">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{invoice.reProcessSelected}"
							update="selectionPan" process="selectionPan" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="GST Amt" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.taxAmt}"
						size="2" readonly="true" id="tax_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Net Amt" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.netAmt}"
						size="10" id="net_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Sales Per" />
					<p:selectOneMenu
						value="#{invoice.item.invoiceLineSelected.selsPers}"
						style="width:60px;">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{salesPerson.list}" var="sp"
							itemValue="#{sp.personCode}" itemLabel="#{sp.personName}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Sub Sec" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.subSection}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Sec" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.section}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Size" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.itemSize}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Color" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.color}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="Batch" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.batch}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1" rendered="false">
					<h:outputText value="ExpDt" />
					<p:inputText value="#{invoice.item.invoiceLineSelected.expDate}"
						size="10">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
				</h:panelGrid>

				<h:panelGrid columns="1"
					rendered="#{invoice.item.status ne 'Delivered'}">
					<h:outputText value="&nbsp;" />
					<p:commandButton action="#{invoice.addItem}" value="Add"
						rendered="#{invoice.item.invoiceLineSelected.lineNo == 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,summaryPan,payPan,finalSummary,infoSelected,msgBoard" />
					<p:commandButton action="#{invoice.updateItem}" value="Update"
						rendered="#{invoice.item.invoiceLineSelected.lineNo != 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,summaryPan,payPan,finalSummary,infoSelected,msgBoard" />

				</h:panelGrid>
				<h:panelGrid columns="1"
					rendered="#{invoice.item.status ne 'Delivered'}">
					<h:outputText value="&nbsp;" />
					<p:commandButton action="#{invoice.resetSelected}" value="Reset"
						process="selectionPan" ajax="true"
						update="selectionPan,infoSelected,selPanel" />
				</h:panelGrid>

			</h:panelGrid>
			<h:panelGrid columns="1" id="selPanel"
				rendered="#{invoice.item.status ne 'Delivered'}">
				<p:dataTable value="#{invoice.articleItems.list}" var="s"
					scrollable="true" scrollHeight="100"
					rendered="#{invoice.articleItems.list.size() gt 1}">
					<p:column headerText="ItemsCode" width="150">
						<h:commandLink value="#{s.item_code}"
							action="#{invoice.setItemCode(s.item_code)}" />
					</p:column>
					<p:column headerText="MRP" width="150">
						<h:outputText value="#{s.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" width="150">
						<h:outputText value="#{s.wsp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Color" rendered="false" width="150">
						<h:outputText value="#{s.color}" />
					</p:column>

					<p:column headerText="Article" width="150">
						<h:outputText value="#{s.article_no}" />
					</p:column>
					<p:column headerText="BarCode" width="150">
						<h:outputText value="#{s.bar_code}" />
					</p:column>
					<p:column headerText="Item Desc">
						<h:outputText value="#{s.article_desc}" />
					</p:column>

				</p:dataTable>
			</h:panelGrid>
			<h:panelGrid columns="20" id="infoSelected"
				rendered="#{invoice.item.status ne 'Delivered'}">
				<h:outputText value="Qty In Stock : "
					rendered="#{invoice.articleItems.list.size() eq 1}" />
				<h:outputText value="#{invoice.item.invoiceLineSelected.qtyOnHand}"
					rendered="#{invoice.stock.list.size() eq 1}"
					style="font-weight: bold;color: red">
					<f:convertNumber pattern="#0.00" />
				</h:outputText>
			</h:panelGrid>
			<p:panel>
				<p:dataTable value="#{invoice.item.invoiceLines}" id="datatable"
					var="row" rowIndexVar="r" scrollable="true" scrollHeight="130">
					<p:column headerText="Sl" width="30">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Item Code" width="60">
						<h:outputText value="#{row.itemCode}" />
					</p:column>
					<p:column headerText="Article" width="60" rendered="false">
						<h:outputText value="#{row.articleNo}" />
					</p:column>
					<p:column headerText="BarCode" width="90" rendered="false">
						<h:outputText value="#{row.barCode}" />
					</p:column>
					<p:column headerText="Description" width="200">
						<h:outputText value="#{row.itemDesc}" />
					</p:column>
					<p:column headerText="Qty" styleClass="num" width="60">
						<h:outputText value="#{row.qty}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="UOM" styleClass="centerAligned" width="40">
						<h:outputText value="#{row.uom}" />
					</p:column>
					<p:column headerText="MRP" styleClass="num" width="60">
						<h:outputText value="#{row.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" styleClass="num" width="60">
						<h:outputText value="#{row.salesPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc%" styleClass="num" width="40">
						<h:outputText value="#{row.discPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc Amt" styleClass="num" width="60">
						<h:outputText value="#{row.discAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="GST%" styleClass="num" width="40">
						<h:outputText value="#{row.taxPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="GST Amt" styleClass="num" width="60">
						<h:outputText value="#{row.taxAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Net Amt" styleClass="num" width="80">
						<h:outputText value="#{row.netAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Sec" rendered="false" width="40">
						<h:outputText value="#{row.section}" />
					</p:column>
					<p:column headerText="Sub Sec" rendered="false" width="40">
						<h:outputText value="#{row.subSection}" />
					</p:column>
					<p:column headerText="Size" styleClass="centerAligned" width="30"
						rendered="false">
						<h:outputText value="#{row.itemSize}" />
					</p:column>
					<p:column headerText="Color" styleClass="centerAligned" width="40"
						rendered="false">
						<h:outputText value="#{row.color}" />
					</p:column>
					<p:column headerText="Batch" styleClass="centerAligned" width="40"
						rendered="false">
						<h:outputText value="#{row.batch}" />
					</p:column>
					<p:column headerText="ExpDt" styleClass="centerAligned" width="70"
						rendered="false">
						<h:outputText value="#{row.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="Action"
						rendered="#{invoice.item.status ne 'Delivered'}" width="100">
						<p:commandButton icon="ui-icon-pencil" ajax="false"
							action="#{invoice.setSlectedDetail(row)}"
							onclick="this.form.target = ''" />
						<p:commandButton icon="ui-icon-trash" ajax="false"
							action="#{invoice.deletDetail(row)}"
							onclick="this.form.target = ''"
							rendered="#{invoice.item.status ne 'Delivered'}" />
					</p:column>
				</p:dataTable>

				<f:facet name="footer">
					<h:panelGrid columns="20" id="summaryPan">
						<h:outputText value="T Qty : " styleClass="caption" />
						<h:outputText value="#{invoice.item.totQty}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T MRP : "
							styleClass="caption" />
						<h:outputText value="#{invoice.item.totMrp}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T SP : "
							styleClass="caption" />
						<h:outputText value="#{invoice.item.totSalsePrice}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T Discount : "
							styleClass="caption" />
						<h:outputText value="#{invoice.item.totDiscValue}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="20" height="1" />
						<h:outputText style="padding-left:20px;" value="T Tax : "
							styleClass="caption" />
						<h:outputText value="#{invoice.item.totalTax}"
							styleClass="captionValue">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
						<p:spacer width="40" height="1" />
						<h:outputText style="padding-left:100px;" styleClass="caption"
							value="Net Amt :"></h:outputText>
						<h:outputText styleClass="captionValue"
							value="#{invoice.item.netValue}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" style="width:100%" styleClass=",,tar">
					<p:fieldset style="height:60px;">
						<h:panelGrid columns="20">
							<p:commandButton ajax="false" action="#{invoice.commit}"
								icon="ui-icon-disk" value="Save" accesskey="s"
								onclick="this.form.target = ''"
								rendered="#{invoice.item.status ne 'Delivered' and (invoice.item.addAddowed or invoice.item.modifyAddowed) }" />
							<p:commandButton ajax="false" action="#{invoice.addNew}"
								value="New" accesskey="n" onclick="this.form.target = ''"
								rendered="#{invoice.item.addAddowed and invoice.item.objectId gt 0}" />

							<p:commandButton ajax="false" action="#{invoice.deliver}"
								value="Deliver" onclick="this.form.target = ''"
								rendered="#{invoice.item.status ne 'Delivered' and invoice.item.postAddowed and invoice.item.objectId gt 0}" />

							<p:commandButton ajax="false" action="#{invoice.getInvoiceList }"
								value="List" onclick="this.form.target = ''"
								rendered="#{invoice.item.viewAddowed }" />
							<p:spacer width="20" height="1" />
							<p:commandButton ajax="false" icon="ui-icon-print"
								rendered="#{invoice.item.status eq 'Delivered' and invoice.item.printAddowed}"
								onclick="this.form.target = '_blank'" accesskey="p"
								action="#{invoice.printThermalReport}" value="3in" />
							<p:spacer width="2" height="1" />
							<p:commandButton ajax="true" icon="ui-icon-print"
								rendered="#{invoice.item.status eq 'Delivered' and invoice.item.printAddowed}"
								action="#{invoice.printToPrinter()}" value="3inPrint" />
							<p:spacer width="2" height="1" />
							<p:commandButton ajax="false" icon="ui-icon-print"
								rendered="#{invoice.item.status eq 'Delivered' and invoice.item.printAddowed}"
								onclick="this.form.target = '_blank'"
								action="#{invoice.printA4}" value="A4" />
							<p:spacer width="2" height="1" />

							<p:commandButton ajax="false" icon="ui-icon-print"
								rendered="#{invoice.item.status eq 'Delivered' and invoice.item.printAddowed}"
								onclick="this.form.target = '_blank'"
								action="#{invoice.printA5}" value="A5" />
							<p:commandButton ajax="true" icon="ui-icon-refresh"
								rendered="#{invoice.item.status eq 'Delivered' and invoice.item.cancelAllowed}"
								process="form1" update="form1"
								action="#{invoice.cancelDelivery()}" value="Modify">
								<p:confirm header="Confirmation"
									message="Are you sure you want to Cancel Delivery?"
									icon="ui-icon-alert" />
							</p:commandButton>

						</h:panelGrid>
					</p:fieldset>
					<p:fieldset style="height:60px;" id="msgBoard">
						<p:messages></p:messages>
					</p:fieldset>
					<p:fieldset style="height:60px;" id="finalSummary">
						<h:panelGrid columns="9">
							<h:panelGrid columns="1">
								<h:outputText value="Sub Total" styleClass="caption" />
								<p:inputText value="#{invoice.item.subTotal}" readonly="true"
									styleClass="num" size="10">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Disc %" styleClass="caption" />
								<p:inputText value="#{invoice.item.discPer}" size="4"
									styleClass="num"
									readonly="#{masterParameter.item.editDiscOnInv eq 'No'}">
									<p:ajax listener="#{invoice.process()}" process="finalSummary"
										update="finalSummary,msgBoard" />
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Disc Amt" styleClass="caption" />
								<p:inputText value="#{invoice.item.discAmt}" size="4"
									styleClass="num">
									<p:ajax listener="#{invoice.processForDiscAmount()}"
										process="finalSummary" update="finalSummary,msgBoard" />
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="GST%" styleClass="caption" />
								<p:inputText value="#{invoice.item.taxPerOnInv}" size="4"
									styleClass="num">
									<f:convertNumber pattern="#0.00" />
									<p:ajax listener="#{invoice.process()}" process="finalSummary"
										update="finalSummary,msgBoard" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="GST Amt" styleClass="caption" />
								<p:inputText value="#{invoice.item.taxAmtOnInv}" size="4"
									readonly="true" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Other Char" styleClass="caption" />
								<p:inputText value="#{invoice.item.otherCharges}" size="4"
									styleClass="num">
									<f:convertNumber pattern="#0.00" />
									<p:ajax listener="#{invoice.process()}" process="finalSummary"
										update="finalSummary,msgBoard" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Round Off" styleClass="caption" />
								<p:inputText value="#{invoice.item.roundOff}" size="4"
									readonly="true" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Net Payable Amount" styleClass="caption" />

								<p:inputText value="#{invoice.item.netValue}"
									style="font-weight: bold;background: #c3d9ff;" size="6"
									readonly="true" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1" rendered="false">
								<h:outputText value="Is GST Inclusive" styleClass="caption" />
								<h:outputText value="#{invoice.item.taxInclusiveExclusive}"
									styleClass="captionValue" />

							</h:panelGrid>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable id="payPan" value="#{invoice.item.invPayLines}"
						var="r" rowIndexVar="rno">
						<p:column headerText="Sr">
                            #{rno+1}
                        </p:column>
						<p:column headerText="PayMode">
							<p:selectOneMenu value="#{r.payModeId}">
								<f:selectItem itemValue="" itemLabel="" />
								<f:selectItems value="#{payMode.list}" var="li"
									itemValue="#{li.payModeId}" itemLabel="#{li.payModeDesc}" />
							</p:selectOneMenu>
						</p:column>
						<p:column headerText="Amount">
							<p:inputText value="#{r.payAmt}" size="8" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="Tender">
							<p:inputText value="#{r.cashTAmt}" size="8" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="Refund">
							<p:inputText value="#{r.refAmt}" size="8" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="CC Code">
							<p:inputText value="#{r.ccCode}" size="8" />
						</p:column>
						<p:column headerText="CC No">
							<p:inputText value="#{r.ccNo}" size="8" />
						</p:column>
						<p:column headerText="Cheque">
							<p:inputText value="#{r.chequeNo}" size="8" />
						</p:column>
						<p:column headerText="Cheque DT">
							<p:inputText value="#{r.chequeDt}" size="8">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</p:column>
						<p:column headerText="Bank">
							<p:inputText value="#{r.bankName}" size="8" />
						</p:column>
						<p:column headerText="Adjustment">
							<h:outputText value="#{r.refundVouchernNo}" />
							<p:selectOneMenu value="#{r.refundVouchernNo}"
								rendered="#{r.payModeId eq 'REFUND' and r.refundVouchernNo eq null }">
								<f:selectItem itemValue="" itemLabel="" />
								<f:selectItems value="#{invRefund.listPending}" var="rvl"
									itemValue="#{rvl.refundVoucherNo}"
									itemLabel="#{rvl.refundVoucherNo} #{rvl.refundValue}" />
							</p:selectOneMenu>
						</p:column>
						<p:column headerText="Action">
							<p:commandLink value="X" ajax="false"
								action="#{invoice.deletePayDetail(r)}"
								rendered="#{invoice.item.status ne  'Delivered' and invoice.item.objectId gt 0}" />

							<p:commandLink ajax="false" value="Receive Against Credit"
								rendered="#{invoice.item.status  eq 'Delivered' and r.payModeId eq 'CREDIT' }"
								action="#{invoice.creditRecPage}" />
						</p:column>
					</p:dataTable>
					<p:commandLink ajax="true" process="@this" update="payPan"
						rendered="#{invoice.item.status ne  'Delivered' and invoice.item.objectId gt 0}"
						value="Add New Line" action="#{invoice.addNewPayLine()}" />
					<p:spacer width="100" height="1" />

				</f:facet>
			</p:panel>
			<p:fieldset>
				<h:panelGrid columns="20">

					<h:outputText value="Created On" styleClass="caption" />
					<h:outputText value="#{invoice.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By" styleClass="caption" />
					<h:outputText value="#{invoice.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On" styleClass="caption" />
					<h:outputText value="#{invoice.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By" styleClass="caption" />
					<h:outputText value="#{invoice.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID : " styleClass="caption" />
					<h:outputText value="#{invoice.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>

			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
