<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Invoice Credit Receipt
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="CreditReceiptPan">
				<h:panelGrid columns="2">
					<h:outputText value="Invoice No" styleClass="caption" />
					<h:outputText value=": #{invoice.item.invoiceNo}"
						styleClass="captionValue" />
					<h:outputText value="Invoice Credit Amount" styleClass="caption" />
					<h:outputText value=": #{invoice.item.creditAmount}"
						styleClass="captionValue">
						<f:convertNumber pattern="#0.00" />
					</h:outputText>
				</h:panelGrid>

				<f:facet name="footer">
					<p:fieldset>
						<p:dataTable value="#{invoice.item.invCreditRecDet}" var="r"
							rowIndexVar="rno">
							<p:column headerText="Sr">
                                #{rno+1}
                            </p:column>
							<p:column headerText="Invoice No">
								<h:outputText value="#{r.invoiceNo}"></h:outputText>
							</p:column>
							<p:column headerText="PayMode">
								<p:selectOneMenu value="#{r.payModeId}">
									<f:selectItem itemValue="" itemLabel="" />
									<f:selectItems value="#{payMode.list}" var="li"
										itemValue="#{li.payModeId}" itemLabel="#{li.payModeDesc}" />
								</p:selectOneMenu>
							</p:column>
							<p:column headerText="Amount">
								<p:inputText value="#{r.payAmt}" size="8" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</p:column>
							<p:column headerText="Tender">
								<p:inputText value="#{r.cashTAmt}" size="8" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</p:column>
							<p:column headerText="Refund">
								<p:inputText value="#{r.refAmt}" size="8" styleClass="num">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</p:column>
							<p:column headerText="CC Code">
								<p:inputText value="#{r.ccCode}" size="8" />
							</p:column>
							<p:column headerText="CC No">
								<p:inputText value="#{r.ccNo}" size="8" />
							</p:column>
							<p:column headerText="Cheque">
								<p:inputText value="#{r.chequeNo}" size="8" />
							</p:column>
							<p:column headerText="Cheque DT">
								<p:inputText value="#{r.chequeDt}" size="8">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:inputText>
							</p:column>
							<p:column headerText="Bank">
								<p:inputText value="#{r.bankName}" size="8" />
							</p:column>
							<p:column headerText="Action">
								<p:commandButton icon="ui-icon-trash"
									action="#{invoice.removeCreditRecDetLine(r)}" ajax="false" />
							</p:column>
						</p:dataTable>


						<p:commandButton ajax="false" value="Add New Line"
							action="#{invoice.addNewCreditRecDetLine()}" />
						<p:spacer width="20" />
						<p:commandButton value="Save" ajax="false"
							action="#{invoice.commitInvCreditRecLines}" />
					</p:fieldset>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages />
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
