<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Modem List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{modem.list}" var="row" rowIndexVar="r"
						resizableColumns="true" scrollable="true" scrollHeight="200">
						<p:column headerText="Sr#" width="30">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.modemId}" headerText="Modem ID">
							<h:commandLink value="#{row.modemId}"
								action="#{modem.load(row.modemId)}" />
						</p:column>

						<p:column headerText="Manufacturer">
							<h:outputText value="#{row.modemManufacturer}" />
						</p:column>
						<p:column headerText="Modem Model">
							<h:outputText value="#{row.modemModel}" />
						</p:column>

						<p:column headerText="SMSC Number">
							<h:outputText value="#{row.smscNumber}" />
						</p:column>
						<p:column headerText="Baud Rate">
							<h:outputText value="#{row.baudRate}" />
						</p:column>
						<p:column headerText="Status">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
