<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Payment Mode Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="editPan" styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Payment Mode Id" styleClass="caption" />
					<p:inputText value="#{payMode.item.payModeId}" size="20" />
					<h:outputText value="Payment Mode Desc" styleClass="caption" />
					<p:inputText value="#{payMode.item.payModeDesc}" size="50" />
					<h:outputText value="Status" styleClass="caption" />
					<p:selectOneRadio value="#{payMode.item.status}">
						<f:selectItem itemValue="Active" itemLabel="Active" />
						<f:selectItem itemValue="InActive" itemLabel="InActive" />
					</p:selectOneRadio>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save" icon="ui-icon-disk"
							action="#{payMode.commit()}"
							rendered="#{payMode.item.addAddowed or payMode.item.modifyAddowed }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{payMode.addNew()}"
							rendered="#{payMode.item.addAddowed and payMode.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{payMode.refreshPaymentModeList()}"
							rendered="#{payMode.item.viewAddowed}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{payMode.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{payMode.item.deleteAddowed and payMode.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset id="histPan">
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{payMode.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer height="1" width="10" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{payMode.item.createdBy}" />
					<p:spacer height="1" width="10" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{payMode.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer height="1" width="10" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{payMode.item.updatedBy}" />
					<p:spacer height="1" width="10" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{payMode.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>

			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
