<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Screens List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Screen" />
						<p:inputText value="#{screen.item.userScreen}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Status" />
						<p:inputText value="#{screen.item.status}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{screen.search()}"
							update="detail" icon="ui-icon-search" value="Search" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{screen.refresh()}"
							update="detail,searchPan" icon="ui-icon-refresh" value="Refresh" />
					</h:panelGrid>

				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{screen.list}" id="detail" var="row"
						scrollable="true" scrollHeight="350" rowIndexVar="r"
						resizableColumns="true">
						<p:column headerText="SrNo" width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.screen}" headerText="Section No">
							<h:commandLink action="#{section.load(row.userScreen)}"
								value="#{row.userScreen}" />
						</p:column>
						<p:column headerText="Status">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="60%">

						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>

		</h:form>
	</ui:define>

</ui:composition>
