<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Trans In List</ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Trans In No" styleClass="caption" />
						<p:inputText value="#{transIn.item.transId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Branch ID" styleClass="caption" />
						<p:selectOneMenu value="#{transIn.item.branchId}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{branch.listSelectOne}" var="b"
								itemValue="#{b.branchId}" itemLabel="#{b.branchName}">
							</f:selectItems>
							<p:ajax process="@parent" update="branch_name"
								listener="#{transIn.setBranchName(transIn.item.branchId)}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Branch Name" styleClass="caption" />
						<p:inputText value="#{transIn.item.branchName}" id="branch_name" />
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="From Date" styleClass="caption" />
						<p:inputText value="#{transIn.item.fromDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Date" styleClass="caption" />
						<p:inputText value="#{transIn.item.toDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Search" action="#{transIn.search}"
							ajax="true" process="searchPan" update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" action="#{transIn.refreshList}"
							ajax="true" process="searchPan" update="searchPan,data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Add new" action="#{transIn.addNew()}"
							ajax="false" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable id="data_table" value="#{transIn.list}" var="row"
						rowIndexVar="r" resizableColumns="true" scrollable="true"
						scrollHeight="400" scrollRows="20">
						<p:column headerText="Sr#" width="50">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.transId}" headerText="Trans ID">
							<h:commandLink action="#{transIn.load(row.transId)}"
								value="#{row.transId}">
							</h:commandLink>
						</p:column>
						<p:column headerText="TransIn Date">
							<h:outputText value="#{row.transDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column sortBy="#{row.branchTransId}"
							headerText="Branch Trans ID">
							<h:outputText value="#{row.branchTransId}" />
						</p:column>
						<p:column headerText="Branch TransIn Date">
							<h:outputText value="#{row.branchTransDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Branch ID">
							<h:outputText value="#{row.branchId}" />
						</p:column>
						<p:column headerText="Branch Name">
							<h:outputText value="#{row.branchName}" />
						</p:column>
						<p:column headerText="Purch Amt" styleClass="tar">
							<h:outputText value="#{row.purchAmt}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Sales Amt" styleClass="tar">
							<h:outputText value="#{row.salesAmt}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" width="80" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:messages />
		</h:form>
	</ui:define>

</ui:composition>
