<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Uom Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="1" columnClasses="vat,vat">
					<h:panelGrid columns="2">
						<h:outputText value="Uom" styleClass="caption" />
						<p:inputText value="#{uom.item.uom}" size="20" />
						<h:outputText value="Color Desc" styleClass="caption" />
						<p:inputText value="#{uom.item.uomDesc}" size="50" />
						<h:outputText value="Status" styleClass="caption" />
						<p:selectOneRadio value="#{uom.item.status}">
							<f:selectItem itemValue="Active" itemLabel="Active" />
							<f:selectItem itemValue="InActive" itemLabel="InActive" />
						</p:selectOneRadio>
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<h:panelGrid columns="10">
							<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
								action="#{uom.commit()}"
								rendered="#{uom.item.addAddowed or uom.item.modifyAddowed}" />
							<p:commandButton ajax="false" value="Add New"
								action="#{uom.addNew()}"
								rendered="#{uom.item.addAddowed and uom.item.objectId gt 0}" />
							<p:commandButton ajax="false" value="List"
								action="#{uom.refreshList()}" rendered="#{uom.item.viewAddowed}" />
							<p:commandButton ajax="true" value="Delete"
								actionListener="#{uom.delete()}" icon="ui-icon-trash"
								process="editPan" update="editPan,messagePan,histPan"
								rendered="#{uom.item.deleteAddowed and uom.item.objectId gt 0}">
								<p:confirm header="Confirmation"
									message="Are you sure you want to delete?" icon="ui-icon-alert" />
							</p:commandButton>
						</h:panelGrid>
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<h:panelGrid columns="20" id="histPan">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{uom.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{uom.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{uom.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{uom.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{uom.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>

			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
