<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Account Transaction
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="4">
					<h:outputText value="Trans Id" styleClass="caption" />
					<p:inputText value="#{accTrans.item.transId}" readonly="true"
						size="20">
						<f:convertNumber pattern="#0" />
					</p:inputText>

					<h:outputText value="Trans Date" styleClass="caption" />
					<p:inputText value="#{accTrans.item.transDate}" size="20">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>

					<h:outputText value="Trans Code" styleClass="caption" />
					<p:selectOneMenu value="#{accTrans.item.transCode}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItem itemValue="DirectPosting" itemLabel="DirectPosting" />
						<f:selectItem itemValue="CustPayRec" itemLabel="CustPayRec" />
						<f:selectItem itemValue="CustPayRecCan" itemLabel="CustPayRecCan" />
						<f:selectItem itemValue="SuppPayment" itemLabel="SuppPayment" />
						<f:selectItem itemValue="SuppPayCan" itemLabel="SuppPayCan" />
					</p:selectOneMenu>

					<h:outputText value="Account" styleClass="caption" />
					<p:selectOneMenu value="#{accTrans.item.accountId}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{account.list}" var="ac"
							itemValue="#{ac.accountId}"
							itemLabel="#{ac.accountId} - #{ac.accountDesc}" />
					</p:selectOneMenu>

					<h:outputText value="Dr/Cr" styleClass="caption" />
					<p:selectOneMenu value="#{accTrans.item.drCr}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItem itemValue="Cr" itemLabel="Cr" />
						<f:selectItem itemValue="Dr" itemLabel="Dr" />
					</p:selectOneMenu>

					<h:outputText value="Amount" styleClass="caption" />
					<p:inputText value="#{accTrans.item.amount}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>

					<h:outputText value="Ref Id" styleClass="caption" />
					<p:inputText value="#{accTrans.item.refId}" size="20" />

					<h:outputText value="Ref Date" styleClass="caption" />
					<p:inputText value="#{accTrans.item.refDate}" size="20">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>

					<h:outputText value="Bank Name" styleClass="caption" />
					<p:inputText value="#{accTrans.item.bankName}" size="20" />

					<h:outputText value="" />
					<h:outputText value="" />

					<h:outputText value="Cheque No" styleClass="caption" />
					<p:inputText value="#{accTrans.item.chequeNo}" size="20" />

					<h:outputText value="Cheque Date" styleClass="caption" />
					<p:inputText value="#{accTrans.item.chequeDt}" size="20">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Remark" styleClass="caption" />
					<p:inputTextarea value="#{accTrans.item.remark}" cols="22" rows="1" />
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{accTrans.commit()}" />
						<p:commandButton ajax="false" value="Add New"
							action="#{accTrans.addNew()}" />
						<p:commandButton ajax="false" value="List"
							action="#{accTrans.prepareList}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{accTrans.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{accTrans.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{accTrans.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{accTrans.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{accTrans.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
