<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Brand Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2">
					<h:outputText value="Brand" styleClass="caption" />
					<p:inputText value="#{brand.item.brand}" size="20" />
					<h:outputText value="Brand Desc" styleClass="caption" />
					<p:inputText value="#{brand.item.brandDesc}" size="50" />
					<h:outputText value="GST(%)" styleClass="caption" />
					<p:inputText value="#{brand.item.taxPerc}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Disc(%)" styleClass="caption" />
					<p:inputText value="#{brand.item.discPerc}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>

					<h:outputText value="Status" styleClass="caption" />
					<p:selectOneRadio value="#{brand.item.status}">
						<f:selectItem itemValue="Active" itemLabel="Active" />
						<f:selectItem itemValue="InActive" itemLabel="InActive" />
					</p:selectOneRadio>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{brand.commit()}"
							rendered="#{brand.item.addAddowed or brand.item.modifyAddowed }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{brand.addNew()}"
							rendered="#{brand.item.addAddowed and brand.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{brand.getBrandList}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{brand.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{brand.item.deleteAddowed and brand.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset id="histPan">
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{brand.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{brand.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{brand.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{brand.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{brand.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
