<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Invoice Return List</ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="20" id="searchPan">
					<h:panelGrid columns="1">
						<h:outputText value="Inv Ret No" styleClass="caption" />
						<p:inputText value="#{invRet.item.invRetNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Invoice No" styleClass="caption" />
						<p:inputText value="#{invRet.item.invoiceNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust ID" styleClass="caption" />
						<p:inputText value="#{invRet.item.customerId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust Name" styleClass="caption" />
						<p:inputText value="#{invRet.item.customerName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust Address" styleClass="caption" />
						<p:inputText value="#{invRet.item.custAddress}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Date" styleClass="caption" />
						<p:inputText value="#{invRet.item.fromDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Date" styleClass="caption" />
						<p:inputText value="#{invRet.item.toDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Search" action="#{invRet.search}"
							ajax="true" process="searchPan" update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" action="#{invRet.refreshList}"
							ajax="true" process="searchPan" update="data_table" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{invRet.list}" var="row"
						resizableColumns="true" id="data_table" scrollable="true"
						scrollHeight="400" rowIndexVar="r">
						<p:column headerText="Sr#" width="50">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.invoiceNo}" headerText="Inv Ret No">
							<h:commandLink action="#{invRet.load(row.invRetNo)}"
								value="#{row.invRetNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Ret Dt">
							<h:outputText value="#{row.invRetDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column sortBy="#{row.invoiceNo}" headerText="Invoice No">
							<h:commandLink action="#{invRet.load(row.invoiceNo)}"
								value="#{row.invoiceNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Inv Date" width="80">
							<h:outputText value="#{row.invoiceDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Customer ID">
							<h:outputText value="#{row.customerId}" />
						</p:column>
						<p:column headerText="Customer Name">
							<h:outputText value="#{row.customerName}" />
						</p:column>
						<p:column headerText="Tot Qty" styleClass="tar">
							<h:outputText value="#{row.totQty}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Net Value" styleClass="tar">

							<h:outputText value="#{row.netValue}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" width="80" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
