<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Invoice Refund List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="20" id="searchPan">
					<h:panelGrid columns="1">
						<h:outputText value="Ref Voucher No" />
						<p:inputText value="#{invRefund.item.refundVoucherNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" value="Search" process="searchPan"
							update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" action="#{invRefund.refresh()}"
							ajax="true" process="searchPan" update="searchPan,data_table" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{invRefund.list}" id="data_table"
						scrollable="true" scrollHeight="400" scrollRows="3" var="row"
						rowIndexVar="r">
						<p:column headerText="Sr#">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column headerText="Ref Voucher No"
							sortBy="#{row.refundVoucherNo}">
							<h:outputText value="#{row.refundVoucherNo}" />
						</p:column>
						<p:column headerText="Value To Refund" styleClass="tar">
							<h:outputText value="#{row.refundValue}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Ref Date">
							<h:outputText value="#{row.refundDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Inv Ret No">
							<h:outputText value="#{row.invRetNo}" />
						</p:column>

						<p:column headerText="Adjusted Against Inv No ">
							<h:outputText value="#{row.invoiceNo}" />
						</p:column>
						<p:column headerText="Value Adjusted">
							<h:outputText value="#{row.refundedValue}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Ref Adjusted On Date">
							<h:outputText value="#{row.updatedOn}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
