<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Purchase Return List</ui:define>
	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="PO Ret No" styleClass="caption" />
						<p:inputText value="#{por.item.poRetNo}" size="10" />
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="PR No" styleClass="caption" />
						<p:inputText value="#{por.item.prNo}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Chalan No" styleClass="caption" />
						<p:inputText value="#{por.item.chalanNo}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Bill No" styleClass="caption" />
						<p:inputText value="#{por.item.billNo}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supplier ID" styleClass="caption" />
						<p:inputText value="#{por.item.supplierId}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supplier Name" styleClass="caption" />
						<p:inputText value="#{por.item.supplierName}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Ret Date" styleClass="caption" />
						<p:inputText value="#{por.item.fromDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Ret Date" styleClass="caption" />
						<p:inputText value="#{por.item.toDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Sarch" action="#{por.search}"
							icon="ui-icon-search" ajax="true" process="searchPan"
							update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" icon="ui-icon-refresh"
							action="#{por.refreshList}" ajax="true" process="searchPan"
							update="searchPan,data_table" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{por.list}" var="row" rowIndexVar="r"
						id="data_table" scrollable="true" scrollHeight="400"
						scrollRows="20" resizableColumns="true">
						<p:column headerText="Sr#" width="30">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.poRetNo}" headerText="PO Ret No">
							<h:commandLink action="#{por.load(row.poRetNo)}"
								value="#{row.poRetNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Po Ret Date">
							<h:outputText value="#{row.poRetDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column sortBy="#{row.prNo}" headerText="PR No">
							<h:commandLink action="#{pr.load(row.prNo)}" value="#{row.prNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="PR Date">
							<h:outputText value="#{row.prDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Chalan No">
							<h:outputText value="#{row.chalanNo}" />
						</p:column>
						<p:column headerText="Chalan Date">

							<h:outputText value="#{row.chalanDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Bill No">
							<h:outputText value="#{row.billNo}" />
						</p:column>
						<p:column headerText="Bill Date">
							<h:outputText value="#{row.billDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Sup ID">
							<h:outputText value="#{row.supplierId}" />
						</p:column>
						<p:column headerText="Sup Name" width="150">
							<h:outputText value="#{row.supplierName}" />
						</p:column>

						<p:column headerText="Tot Qty" styleClass="tar">
							<h:outputText value="#{row.totalQty}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Net Value" styleClass="tar">

							<h:outputText value="#{row.netAmt}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" styleClass="tac" width="60">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
