<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="top">
        Purchase Receipt
    </ui:define>
	<ui:define name="content">
		<h:form id="form1">
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" columnClasses="vat,vat,vat">
					<h:panelGrid columns="2" columnClasses="textCaption,">
						<h:outputText value="Supp ID" />
						<p:selectOneMenu value="#{pr.item.supplierId}"
							style="width:120px;" id="supp_id">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{supp.listSelectOne}" var="lst"
								itemValue="#{lst.suppId}"
								itemLabel="#{lst.suppId}-#{lst.suppName}" />
							<p:ajax update="supp_name,supp_address"
								listener="#{pr.setSupplier}" process="supp_id" />
						</p:selectOneMenu>
						<h:outputText value="Supp Name" />
						<p:inputText value="#{pr.item.supplierName}" size="20"
							id="supp_name" />
						<h:outputText value="Supp Address" />
						<p:inputTextarea value="#{pr.item.supplierAddress}" rows="1"
							id="supp_address" autoResize="false" cols="30" />
					</h:panelGrid>

					<h:panelGrid columns="4" columnClasses="textCaption,,textCaption,">
						<h:outputText value="Receipt No" />
						<p:inputText value="#{pr.item.porNo}"
							readonly="#{pr.item.objectId gt 0}" size="20" />
						<h:outputText value="Receipt Date" />
						<p:inputText value="#{pr.item.porDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
						<h:outputText value="Chalan No" />
						<p:inputText value="#{pr.item.chalanNo}" size="20" />
						<h:outputText value="Chalan Date" />
						<p:inputText value="#{pr.item.chalanDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
						<h:outputText value="Bill No" />
						<p:inputText value="#{pr.item.billNo}" size="20" />
						<h:outputText value="Bill Date" />
						<p:inputText value="#{pr.item.billDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
						<h:outputText value="Po No" />
						<p:inputText value="#{pr.item.poNo}" size="20" />
						<h:outputText value="Status" />
						<h:outputText value="#{pr.item.status}" />

					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:inputTextarea cols="50" rows="4" value="#{pr.item.noteText}"
							autoResize="false" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
			<h:panelGrid columns="2" columnClasses="vat,vat" id="selPan"
				rendered="#{pr.item.status ne 'Received'}">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Search"></h:outputText>
						<p:inputText value="#{pr.item.porLineSelected.search_text}"
							size="8" onkeypress="if (event.keyCode == 13) { return false; }">
							<p:ajax process="selPan" listener="#{pr.searchItems()}"
								update="selPan,selPanel"></p:ajax>
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Item Desc"></h:outputText>
						<p:inputText size="20" value="#{pr.item.porLineSelected.itemDesc}"
							id="item_desc">
							<p:ajax process="selPan" listener="#{pr.searchItems()}"
								update="selPan,selPanel"></p:ajax>
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Qty" />
						<p:inputText value="#{pr.item.porLineSelected.qty}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{pr.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="UOM"></h:outputText>
						<p:selectOneMenu value="#{pr.item.porLineSelected.uom}"
							style="width: 80px;" filter="true">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{uom.list}" var="sel"
								itemValue="#{sel.uom}" itemLabel="#{sel.uomDesc}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="GrossPP"></h:outputText>
						<p:inputText value="#{pr.item.porLineSelected.grossPp}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{pr.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Disc%"></h:outputText>
						<p:inputText value="#{pr.item.porLineSelected.discPerc}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{pr.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="GST%"></h:outputText>
						<p:inputText value="#{pr.item.porLineSelected.taxPerc}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{pr.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Pur Price"></h:outputText>
						<p:inputText size="6" value="#{pr.item.porLineSelected.purPrice}"
							id="pur_price" readonly="true">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Amount"></h:outputText>
						<p:inputText size="6" value="#{pr.item.porLineSelected.amount}"
							id="amount" readonly="true">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>


					<h:panelGrid columns="1">
						<h:outputText value="MRP"></h:outputText>
						<p:inputText size="4" value="#{pr.item.porLineSelected.mrp}">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{pr.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="SP"></h:outputText>
						<p:inputText size="4" value="#{pr.item.porLineSelected.wsp}">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{pr.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Rem"></h:outputText>
						<p:inputText size="4" value="#{pr.item.porLineSelected.remark}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Batch"></h:outputText>
						<p:inputText size="4" value="#{pr.item.porLineSelected.batch}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Exp DT"></h:outputText>
						<p:inputText size="8" value="#{pr.item.porLineSelected.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2">
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{pr.addItem}"
							value="Add Item"
							rendered="#{pr.item.porLineSelected.lineNo == 0}"
							process="selPan" update="selPan,detail_table,finalSummary,msgPan" />
						<p:commandButton ajax="true" action="#{pr.updateItem}"
							value="Update" rendered="#{pr.item.porLineSelected.lineNo != 0}"
							process="selPan" update="detail_table,finalSummary,msgPan,selPan" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{pr.resetSelected}"
							value="Reset" process="selPan" update="selPan" />
					</h:panelGrid>
				</h:panelGrid>
			</h:panelGrid>
			<h:panelGrid columns="1" id="selPanel">
				<p:dataTable value="#{pr.articleItems.list}" var="items"
					rowIndexVar="r" scrollable="true" scrollHeight="100"
					id="selPanList" rendered="#{pr.articleItems.list.size() gt 1}">
					<p:column headerText="Sl." width="20">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Item Code">
						<h:commandLink value="#{items.item_code}"
							action="#{pr.setItemCode(items.item_code)}" />
					</p:column>
					<p:column headerText="Bar Code">
						<h:outputText value="#{items.bar_code}" />
					</p:column>
					<p:column headerText="Article">
						<h:outputText value="#{items.article_no}" />
					</p:column>
					<p:column headerText="MRP">
						<h:outputText value="#{items.mrp}" styleClass="tar">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="PP">
						<h:outputText value="#{items.pur_price}" styleClass="tar">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP">
						<h:outputText value="#{items.sales_price}" styleClass="tar">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Item Desc">
						<h:outputText value="#{items.article_desc}" />
					</p:column>

				</p:dataTable>
			</h:panelGrid>
			<p:fieldset
				style="padding-left: 2px;padding-right: 2px;padding-top: 2px;margin-bottom: 2px;">
				<p:dataTable value="#{pr.item.porLines}" var="line" rowIndexVar="r"
					scrollable="true" scrollHeight="200" id="detail_table">
					<p:column headerText="Sr#" width="30">
						<h:outputText value="#{r+1}."></h:outputText>
					</p:column>
					<p:column headerText="Article No" width="80">
						<h:outputText value="#{line.articleNo}"></h:outputText>
					</p:column>
					<p:column headerText="Item Code" width="80">
						<h:outputText value="#{line.itemCode}"></h:outputText>
					</p:column>
					<p:column headerText="Item Desc" width="120">
						<h:outputText value="#{line.itemDesc}"></h:outputText>
					</p:column>
					<p:column headerText="Qty" styleClass="centerAligned" width="60">
						<h:outputText value="#{line.qty}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="UOM" styleClass="centerAligned" width="30">
						<h:outputText value="#{line.uom}"></h:outputText>
					</p:column>
					<p:column headerText="Gross PP" styleClass="centerAligned"
						width="60">
						<h:outputText value="#{line.grossPp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc%" styleClass="centerAligned" width="40">
						<h:outputText value="#{line.discPerc}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc Amt" styleClass="centerAligned"
						width="60">
						<h:outputText value="#{line.discAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="GST%" styleClass="centerAligned" width="40">
						<h:outputText value="#{line.taxPerc}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="GST Amt" styleClass="centerAligned"
						width="60">
						<h:outputText value="#{line.taxAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="Pur Price" styleClass="centerAligned"
						width="60">
						<h:outputText value="#{line.purPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="MRP" styleClass="centerAligned" width="60">
						<h:outputText value="#{line.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" styleClass="centerAligned" width="60">
						<h:outputText value="#{line.wsp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Amt" styleClass="centerAligned" width="60">
						<h:outputText value="#{line.amount}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="MP%" rendered="false" width="40">
						<h:outputText value="#{line.mpPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="WSP%" rendered="false" width="60">
						<h:outputText value="#{line.wspPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="Act">
						<p:commandButton action="#{pr.setSlectedDetail(line)}"
							title="Edit" icon="ui-icon-pencil"
							rendered="#{pr.item.status ne 'Received'}" ajax="false" />
						<p:commandButton action="#{pr.deletDetail(line)}" title="Delete"
							icon="ui-icon-trash" rendered="#{pr.item.status ne 'Received'}"
							ajax="false" />
						<p:commandButton icon="ui-icon-print" ajax="false"
							title="Print Barcode"
							action="#{pr.printPurchaseBarCode(line.itemCode)}"
							rendered="#{pr.item.printAddowed and pr.item.status eq 'Received'}" />
					</p:column>
					<p:column headerText="Sec" rendered="false" width="60">
						<h:outputText value="#{line.section}"></h:outputText>
					</p:column>
					<p:column headerText="Sub Sec" rendered="false" width="60">
						<h:outputText value="#{line.subSection}"></h:outputText>
					</p:column>
					<p:column headerText="Color" rendered="false" width="60">
						<h:outputText value="#{line.color}"></h:outputText>
					</p:column>
					<p:column headerText="Size" width="60" rendered="false">
						<h:outputText value="#{line.itemSize}"></h:outputText>
					</p:column>
					<p:column headerText="Brand" rendered="false" width="60">
						<h:outputText value="#{line.brand}"></h:outputText>
					</p:column>

					<p:column headerText="Style" rendered="false" width="60">
						<h:outputText value="#{line.style}"></h:outputText>
					</p:column>
					<p:column headerText="Rem" rendered="false" width="60">
						<h:outputText value="#{line.remark}"></h:outputText>
					</p:column>
					<p:column headerText="Bar Code" width="100">
						<h:outputText value="#{line.barCode}"></h:outputText>
					</p:column>
					<p:column headerText="Batch" width="40">
						<h:outputText value="#{line.batch}" />
					</p:column>
					<p:column headerText="Exp DT" width="60">
						<h:outputText value="#{line.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

				</p:dataTable>
			</p:fieldset>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" style="width:100%" styleClass=",,tar">
					<p:fieldset style="height:60px;">
						<p:commandButton ajax="false" icon="ui-icon-disk"
							action="#{pr.commit}" value="Save" accesskey="s"
							rendered="#{(pr.item.modifyAddowed or pr.item.addAddowed ) and pr.item.status ne 'Received'}" />
						<p:commandButton ajax="false" action="#{pr.newItem}"
							value="Add New" accesskey="n"
							rendered="#{pr.item.addAddowed and pr.item.objectId gt 0}" />
						<p:commandButton ajax="false" action="#{pr.receive}"
							value="Receive"
							rendered="#{pr.item.postAddowed and pr.item.status ne 'Received' and pr.item.objectId gt 0 and pr.item.porLines.size() gt 0}" />
						<p:commandButton ajax="false" action="#{pr.getPoList}"
							value="List" rendered="#{pr.item.viewAddowed}" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							action="#{pr.printPurchaseBarCode('')}" icon="ui-icon-print"
							value="BarCode" rendered="#{pr.item.printAddowed }" />
						<p:spacer width="2" height="1" />
						<p:commandButton ajax="false"
							action="#{pr.printPurchaseReport('')}" icon="ui-icon-print"
							value="GRN Report" rendered="#{pr.item.printAddowed }" />
						<p:spacer width="2" height="1" />
						<p:commandButton ajax="false"
							action="#{pr.printPurchaseBarCode3825('')}" icon="ui-icon-print"
							value="3825" rendered="#{pr.item.printAddowed }" />
						<p:commandButton ajax="true" icon="ui-icon-refresh"
							rendered="#{pr.item.status eq 'Received' and pr.item.cancelAllowed}"
							process="form1" update="form1" action="#{pr.cancelGrn()}"
							value="Cancel Receipt">
							<p:confirm header="Confirmation"
								message="Are you sure you want to Cancel Delivery?"
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:fieldset>
					<p:fieldset style="height:60px;" id="msgPan">
						<p:messages></p:messages>
					</p:fieldset>
					<p:fieldset style="height:60px;" id="finalSummary">
						<h:panelGrid columns="6"
							columnClasses="textCaption,,textCaption,,textCaption,textCaption">
							<h:outputText value="Sub Total" />
							<p:inputText value="#{pr.item.subTotal}" size="20">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
							<h:outputText value="Disc %" />
							<h:panelGrid columns="2">
								<p:inputText value="#{pr.item.discPer}" size="4">
									<f:convertNumber pattern="#0.00" />
									<p:ajax process="finalSummary" listener="#{pr.process()}"
										update="finalSummary" />
								</p:inputText>
								<p:inputText value="#{pr.item.discAmt}" size="10"
									readonly="true">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:outputText value="Total Amount :" />
							<h:outputText value="#{pr.item.netAmt}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
							<h:outputText value="Other Charges" />
							<p:inputText value="#{pr.item.exciseOh}" size="20">
								<f:convertNumber pattern="#0.00" />
								<p:ajax process="finalSummary" listener="#{pr.process()}"
									update="finalSummary" />
							</p:inputText>
							<h:outputText value="GST %" />
							<h:panelGrid columns="2">
								<p:inputText value="#{pr.item.taxPer}" size="4">
									<f:convertNumber pattern="#0.00" />
									<p:ajax process="finalSummary" listener="#{pr.process()}"
										update="finalSummary" />
								</p:inputText>
								<p:inputText value="#{pr.item.taxAmt}" size="10" readonly="true">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>

							<h:outputText value="Total Quantity: " />
							<h:outputText value="#{pr.item.totalQty}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="20">
						<h:outputText value="Created On" styleClass="caption" />
						<h:outputText value="#{pr.item.createdOn}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
						<p:spacer width="10" height="1" />
						<h:outputText value="Created By" styleClass="caption" />
						<h:outputText value="#{pr.item.createdBy}" />
						<p:spacer width="10" height="1" />
						<h:outputText value="Updated On" styleClass="caption" />
						<h:outputText value="#{pr.item.updatedOn}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
						<p:spacer width="10" height="1" />
						<h:outputText value="Updated By" styleClass="caption" />
						<h:outputText value="#{pr.item.updatedBy}" />
						<p:spacer width="10" height="1" />
						<h:outputText value="Object ID" styleClass="caption" />
						<h:outputText value="#{pr.item.objectId}">
							<f:convertNumber pattern="#0" />
						</h:outputText>
					</h:panelGrid>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
