<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Roles
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Role" styleClass="caption" />
					<p:inputText value="#{roles.item.role}" size="20" />
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save"
							action="#{roles.commit()}"
							rendered="#{roles.item.addAddowed || roles.item.modifyAddowed}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" rendered="#{roles.item.addAddowed }"
							value="Add New" action="#{roles.addNew()}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" rendered="#{roles.item.viewAddowed}"
							value="List" action="#{roles.refreshList()}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{roles.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{roles.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{roles.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{roles.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{roles.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
