<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Sales Person Related Reports
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Sales Person" styleClass="caption" />
					<p:selectOneMenu value="#{salesPersonReport.salesPerson}"
						style="width:100px;">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{salesPerson.listSelectOne}" var="sp"
							itemValue="#{sp.personCode}" itemLabel="#{sp.personName}" />
					</p:selectOneMenu>

					<h:outputText value="From Date" styleClass="caption" />
					<p:inputText value="#{salesPersonReport.fromDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="To Date" styleClass="caption" />
					<p:inputText value="#{salesPersonReport.toDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Output Format" styleClass="caption" />
					<p:selectOneMenu value="#{salesPersonReport.outputFormat}"
						style="width:100px;">
						<f:selectItems value="#{jasperOutputFormat.list}" var="ol"
							itemValue="#{ol.formatCode}" itemLabel="#{ol.formatDesc}" />
					</p:selectOneMenu>

				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false"
							rendered="#{salesPersonReport.viewAddowed}"
							value="Sales Person Report"
							action="#{salesPersonReport.printSalesPersonWiseSales() }" />
						<p:spacer width="20" height="1" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
