<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Stock</ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Item Code" styleClass="caption" />
						<p:inputText value="#{stock.item.itemCode}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Article No" styleClass="caption" />
						<p:inputText value="#{stock.item.articleNo}" size="8" />
					</h:panelGrid>
					
					<h:panelGrid columns="1">
						<h:outputText value="Item Desc" styleClass="caption" />
						<p:inputText value="#{stock.item.itemDesc}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Section" styleClass="caption" />
						<p:inputText value="#{stock.item.section}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="SubSec" styleClass="caption" />
						<p:inputText value="#{stock.item.subSection}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Color" styleClass="caption" />
						<p:inputText value="#{stock.item.color}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Size" styleClass="caption" />
						<p:inputText value="#{stock.item.itemSize}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Brand" styleClass="caption" />
						<p:inputText value="#{stock.item.brand}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton icon="ui-icon-search" action="#{stock.search}"
							ajax="true" value="Search" process="searchPan"
							update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton icon="ui-icon-refresh" value="Reset"
							action="#{stock.refreshList}" ajax="true" process="searchPan"
							update="searchPan,data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Xls" action="#{stock.generateXls()}"
							ajax="true" process="searchPan" />
					</h:panelGrid>
				</h:panelGrid>

				<f:facet name="footer">
					<p:dataTable value="#{stock.list}" id="data_table" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="400">
						<p:column headerText="Sr#" width="40">
                            #{r+1}
                        </p:column>
						<p:column headerText="Item Code" width="80">
							<h:outputText value="#{row.itemCode}" />
						</p:column>
						<p:column headerText="Item Desc" width="150">
							<h:outputText value="#{row.itemDesc}" />
						</p:column>
						<p:column headerText="Article" width="80">
							<h:outputText value="#{row.articleNo}" />
						</p:column>

						<p:column headerText="Sec" width="80">
							<h:outputText value="#{row.section}" />
						</p:column>
						<p:column headerText="Sub Sec" width="80" rendered="false">
							<h:outputText value="#{row.subSection}" />
						</p:column>
						<p:column headerText="Color" width="60" >
							<h:outputText value="#{row.color}" />
						</p:column>
						<p:column headerText="Size" width="30" >
							<h:outputText value="#{row.itemSize}" />
						</p:column>
						<p:column headerText="Bar Code" width="100">
							<h:outputText value="#{row.barCode}" />
						</p:column>
						<p:column headerText="Order" width="80">
							<h:outputText value="#{row.purchaseOrder}" />
						</p:column>
						<p:column headerText="Qty" styleClass="tar" width="60">
							<h:outputText value="#{row.qty}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Stock" styleClass="tar" width="60">
							<h:outputText value="#{row.qtyOnHand}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="UOM" styleClass="tac" width="60">
							<h:outputText value="#{row.uom}" />
						</p:column>
						<p:column headerText="GPP" styleClass="tar" width="60">
							<h:outputText value="#{row.grossPp}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="PP" styleClass="tar" width="60">
							<h:outputText value="#{row.purPrice}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="MRP" styleClass="tar" width="60">
							<h:outputText value="#{row.mrp}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="WSP" styleClass="tar" width="60">
							<h:outputText value="#{row.wsp}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Batch" styleClass="tar" width="40">
							<h:outputText value="#{row.batch}" />
						</p:column>
						<p:column headerText="Exp DT" styleClass="tar" width="60">
							<h:outputText value="#{row.expDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
					</p:dataTable>

				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
