<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Supplier Payments List</ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Voucher No" />
						<p:inputText value="#{suppPay.item.voucherNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supp ID" />
						<p:inputText value="#{suppPay.item.suppId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supp Name" />
						<p:inputText value="#{suppPay.item.suppName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Payer Ref ID" />
						<p:inputText value="#{suppPay.item.payerRefId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Inv DT" />
						<p:inputText value="#{suppPay.item.fromDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Inv DT" />
						<p:inputText value="#{suppPay.item.toDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Search" action="#{suppPay.search}"
							ajax="true" process="searchPan" update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" action="#{suppPay.refresh}"
							ajax="true" process="searchPan" update="searchPan,data_table" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable id="data_table" value="#{suppPay.list}" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="400"
						scrollRows="20">
						<p:column headerText="Sr#" width="30">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.voucherNo}" headerText="Voucher No">
							<h:commandLink action="#{suppPay.load(row.voucherNo)}"
								value="#{row.voucherNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="voucher Date">
							<h:outputText value="#{row.voucherDate}">
								<f:convertDateTime pattern="dd/MM/yyyy  HH:mm" />
							</h:outputText>
						</p:column>
						<p:column headerText="Amount" styleClass="tar">
							<h:outputText value="#{row.amount}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Supp ID">
							<h:outputText value="#{row.suppId}" />
						</p:column>
						<p:column headerText="Supp Name">
							<h:outputText value="#{row.suppName}" />
						</p:column>
						<p:column headerText="Payer Ref ID">
							<h:outputText value="#{row.payerRefId}" />
						</p:column>
						<p:column headerText="Payer Ref Date">
							<h:outputText value="#{row.payerRefDate }">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Remark">
							<h:outputText value="#{row.remark}" />
						</p:column>
						<p:column headerText="Status" width="60" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>

					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:messages />
		</h:form>
	</ui:define>

</ui:composition>
