<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Supplier Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2" columnClasses="vat,vat">
					<h:panelGrid columns="4">
						<h:outputText value="Supplier ID" styleClass="caption" />
						<p:inputText value="#{supp.item.suppId}" size="20" />
						<h:outputText value="Name" styleClass="caption" />
						<p:inputText value="#{supp.item.suppName}" size="50" />
						<h:outputText value="Tin" styleClass="caption" />
						<p:inputText value="#{supp.item.tin}" size="50" />
						<h:outputText value="Pan" styleClass="caption" />
						<p:inputText value="#{supp.item.pan}" size="50" />
						<h:outputText value="Mail" styleClass="caption" />
						<p:inputText value="#{supp.item.mail}" size="50" />
						<h:outputText value="Phone" styleClass="caption" />
						<p:inputText value="#{supp.item.phone}" size="50" />
						<h:outputText value="Mob" styleClass="caption" />
						<p:inputText value="#{supp.item.mob}" size="50" />
						<h:outputText value="Disc Per" styleClass="caption" />
						<p:inputText value="#{supp.item.discPer}" size="10">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
						<h:outputText value="Op Bal Dr" styleClass="caption" />
						<p:inputText value="#{supp.item.opBalDr}" size="10">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
						<h:outputText value="Op Bal Cr" styleClass="caption" />
						<p:inputText value="#{supp.item.opBalCr}" size="10">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
						<h:outputText value="Status" styleClass="caption" />
						<p:selectOneRadio value="#{supp.item.status}">
							<f:selectItem itemValue="Active" itemLabel="Active" />
							<f:selectItem itemValue="InActive" itemLabel="InActive" />
						</p:selectOneRadio>
					</h:panelGrid>

					<h:panelGrid columns="1" columnClasses="vat">
						<h:outputText value="Address" styleClass="caption" />
						<p:inputTextarea rows="3" cols="40" value="#{supp.item.address}"
							autoResize="false" />
						<h:outputText value="Remark" styleClass="caption" />
						<p:inputTextarea rows="2" cols="40" autoResize="false"
							value="#{supp.item.noteText}" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save" icon="ui-icon-disk"
							action="#{supp.commit()}"
							rendered="#{supp.item.addAddowed or supp.item.modifyAddowed }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{supp.addNew()}"
							rendered="#{supp.item.addAddowed and supp.item.objectId gt 0 }" />
						<p:commandButton ajax="false" value="List"
							action="#{supp.getSupplierList}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{supp.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{supp.item.deleteAddowed and supp.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset id="histPan">
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{supp.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{supp.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{supp.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{supp.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{supp.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
