<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Transaction Prefix List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="20" id="searchPan">

					<h:panelGrid columns="1">
						<h:outputText value="Trans Prefix" styleClass="caption" />
						<p:inputText value="#{transactionPrefix.item.prefix}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Trans Type" styleClass="caption" />
						<p:selectOneMenu value="#{transactionPrefix.item.transType}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItem itemValue="ARTICLE" itemLabel="Article Number" />
							<f:selectItem itemValue="DAMAGE" itemLabel="Damage" />
							<f:selectItem itemValue="EXPENSE" itemLabel="Expense" />
							<f:selectItem itemValue="INV" itemLabel="Invoice" />
							<f:selectItem itemValue="INVRET" itemLabel="Invoice Return" />
							<f:selectItem itemValue="SUPPPAY" itemLabel="Supplier Payment" />
							<f:selectItem itemValue="SUPPPAYCAN"
								itemLabel="Supplier Payment Cancellation" />
							<f:selectItem itemValue="CUSTPAYREC"
								itemLabel="Cust Payment Receipt" />
							<f:selectItem itemValue="CUSTPAYRECCAN"
								itemLabel="Cust Payment Receipt Cancellation" />
							<f:selectItem itemValue="PO" itemLabel="Purchase" />
							<f:selectItem itemValue="POR" itemLabel="Purchase Receipt" />
							<f:selectItem itemValue="PORET" itemLabel="Purchase Return" />
							<f:selectItem itemValue="TRANSIN" itemLabel="Trans In" />
							<f:selectItem itemValue="TRANSOUT" itemLabel="Trans Out" />

						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Search"
							action="#{transactionPrefix.search}" ajax="tru"
							process="searchPan" update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset"
							action="#{transactionPrefix.refreshList()}" ajax="tru"
							process="searchPan" update="searchPan,data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1"
						rendered="#{transactionPrefix.item.addAddowed}">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Add New"
							action="#{transactionPrefix.addNew()}" ajax="false" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{transactionPrefix.list}" id="data_table"
						scrollHeight="400" var="row" rowIndexVar="r" scrollable="true"
						scrollRows="20">
						<p:column headerText="Sr#" width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.prefix}" headerText="Trans Prefix">
							<h:commandLink
								action="#{transactionPrefix.load(row.prefix,row.transType)}"
								value="#{row.prefix}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Trans Type">
							<h:outputText value="#{row.transType}" />
						</p:column>
						<p:column headerText="Current No">
							<h:outputText value="#{row.currentNo}">
								<f:convertNumber pattern="#0" />
							</h:outputText>
						</p:column>
						<p:column headerText="Valid From">
							<h:outputText value="#{row.validFrom}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Valid Up To">
							<h:outputText value="#{row.validUpTo}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Description" width="150">
							<h:outputText value="#{row.transDesc}" />
						</p:column>
						<p:column headerText="Remark">
							<h:outputText value="#{row.remark}" />
						</p:column>
						<p:column headerText="Is Default">
							<h:outputText value="#{row.isDefault}" />
						</p:column>
						<p:column headerText="Append Prefix">
							<h:outputText value="#{row.appendPrefix}" />
						</p:column>
						<p:column headerText="Status" width="60" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
