<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Uom List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{uom.list}" var="row" rowIndexVar="r"
						id="detail" resizableColumns="true" scrollable="true"
						scrollHeight="300">
						<p:column headerText="Sr#" width="30">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.uom}" headerText="Uom"
							filterBy="#{row.uom}">
							<h:commandLink action="#{uom.load(row.uom)}" value="#{row.uom}" />
						</p:column>
						<p:column headerText="Description" sortBy="#{row.uomDesc}"
							filterBy="#{row.uomDesc}">
							<h:outputText value="#{row.uomDesc}" />
						</p:column>
						<p:column headerText="Status" sortBy="#{row.status}"
							filterBy="#{row.status}" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="60%" />
					</p:dataTable>
					<p:commandButton value="Refresh List" action="#{uom.refreshList()}"
						process="@this" update="detail" />
				</f:facet>

			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
