<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Article Master
    </ui:define>

	<ui:define name="content">
		<h:form id="frm">
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid>
					<h:panelGrid columns="10">
						<h:outputText value="Search" styleClass="caption" />
						<p:inputText value="#{article.filter.search_text}" />
						<p:commandButton action="#{article.searchOnScreen()}" ajax="false"
							value="Search" />
					</h:panelGrid>
				</h:panelGrid>
				<p:separator />
				<h:panelGrid columns="6">
					<h:outputText value="Article No" styleClass="caption" />
					<p:inputText value="#{article.item.articleNo}" size="30"
						readonly="#{article.item.objectId gt 0}" />
					<h:outputText value="Article Desc" styleClass="caption" />
					<p:inputText value="#{article.item.articleDesc}" size="80" />
					<h:outputText value="Article Type" styleClass="caption" />
					<p:inputText value="#{article.item.article_type}" size="30" />

					<h:outputText value="Section" styleClass="caption" />
					<p:selectOneMenu value="#{article.item.article_group}"
						style="width: 180px" filter="true" id="group">
						<f:selectItem itemValue="" itemLabel=""></f:selectItem>
						<f:selectItems value="#{section.listSelectOne}" var="sec"
							itemValue="#{sec.sectionNo}" itemLabel="#{sec.sectionDesc}" />
						<p:ajax process="group" update="sub_group"
							listener="#{article.rePreapreSubSecList()}" />
					</p:selectOneMenu>
					<h:outputText value="Sub Section" styleClass="caption" />
					<p:selectOneMenu id="sub_group"
						value="#{article.item.article_sub_group}" style="width: 180px"
						filter="true">
						<f:selectItem itemValue="" itemLabel=""></f:selectItem>
						<f:selectItems value="#{subSection.listSelectOne}" var="subSec"
							itemValue="#{subSec.subSection}"
							itemLabel="#{subSec.subSectionDesc}" />
					</p:selectOneMenu>
					<h:outputText value="Style" styleClass="caption" />
					<p:inputText value="#{article.item.style}" size="30" />

					<h:outputText value="UOM" styleClass="caption" />
					<p:selectOneMenu value="#{article.item.inventory_uom}"
						style="width: 180px" filter="true">
						<f:selectItem itemValue="" itemLabel=""></f:selectItem>
						<f:selectItems value="#{uom.list}" var="u" itemValue="#{u.uom}"
							itemLabel="#{u.uomDesc}" />
					</p:selectOneMenu>
					<h:outputText value="Size" styleClass="caption" />
					<p:inputText value="#{article.item.article_size }" size="30" />

					<h:outputText value="Color" styleClass="caption" />
					<p:inputText value="#{article.item.color }" size="30" />


					<h:outputText value="Manufacture" styleClass="caption" />
					<p:selectOneMenu value="#{article.item.manufacturer}" filter="true"
						style="width: 180px">
						<f:selectItem itemValue="" itemLabel=""></f:selectItem>
						<f:selectItems value="#{brand.listSelectOne}" var="br"
							itemValue="#{br.brand}" itemLabel="#{br.brand}" />
					</p:selectOneMenu>
					<h:outputText value="Article Short Desc" styleClass="caption" />
					<p:inputText value="#{article.item.article_short_desc }" size="80" />
					<h:outputText value="Min Stock" styleClass="caption" />
					<p:inputText value="#{article.item.min_stock }" size="30">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Max Stock" styleClass="caption" />
					<p:inputText value="#{article.item.max_stock }" size="30">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Tax Per" styleClass="caption" />
					<p:inputText value="#{article.item.tax_per }" size="30">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Disc Per" styleClass="caption" />
					<p:inputText value="#{article.item.disc_per }" size="30">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Wsp Disc Per" styleClass="caption" />
					<p:inputText value="#{article.item.wsp_disc_per }" size="30">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Opening Balance" styleClass="caption" />
					<p:inputText value="#{article.item.open_bal }" size="30">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="" />
					<h:outputText value="" />
					<h:outputText value="Remark1" styleClass="caption" />
					<p:inputText value="#{article.item.remark1 }" size="30" />
					<h:outputText value="Remark2" styleClass="caption" />
					<p:inputText value="#{article.item.remark2 }" size="30" />
					<h:outputText value="Remark3" styleClass="caption" />
					<p:inputText value="#{article.item.remark3 }" size="30" />

					<h:outputText value="Rack" styleClass="caption" />
					<p:inputText value="#{article.item.rack }" size="30" />


				</h:panelGrid>
				<h:panelGrid columns="10">
					<p:commandButton ajax="false" value="Save" icon="ui-icon-disk"
						action="#{article.commit}"
						rendered="#{article.item.addAddowed or article.item.modifyAddowed }" />
					<p:commandButton ajax="false" value="Add New"
						action="#{article.addNew}"
						rendered="#{article.item.addAddowed  and  article.item.objectId gt 0}" />
					<p:commandButton ajax="false" value="List"
						action="#{article.search()}"
						rendered="#{article.item.viewAddowed}" />
					<p:commandButton ajax="true" value="Delete"
						actionListener="#{article.delete()}" icon="ui-icon-trash"
						process="editPan" update="editPan,messagePan,histPan"
						rendered="#{article.item.deleteAddowed and article.item.objectId gt 0}">
						<p:confirm header="Confirmation"
							message="Are you sure you want to delete?" icon="ui-icon-alert" />
					</p:commandButton>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{article.item.itemsList}" var="itm"
						rowIndexVar="r" id="detail_table" scrollable="true"
						scrollHeight="120">
						<p:column headerText="Sr#" width="20">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column headerText="Item code" width="60">
							<h:outputText value="#{itm.item_code}"
								rendered="#{not itm.isEditable}" />
							<p:inputText value="#{itm.item_code}"
								rendered="#{itm.isEditable}" size="10"
								readonly="#{itm.object_id gt 0}" />
						</p:column>
						<p:column headerText="Barcode" width="60">
							<h:outputText value="#{itm.bar_code}"
								rendered="#{not itm.isEditable}" />
							<p:inputText value="#{itm.bar_code}" rendered="#{itm.isEditable}"
								size="10"
								onkeypress="if (event.keyCode == 13) { return false; }" />
						</p:column>
						<p:column headerText="Pur Price" width="60" styleClass="tar">
							<h:outputText value="#{itm.pur_price}"
								rendered="#{not itm.isEditable}">
							</h:outputText>
							<p:inputText value="#{itm.pur_price}"
								rendered="#{itm.isEditable}" size="10">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="MRP" width="60" styleClass="tar">
							<h:outputText value="#{itm.mrp}" rendered="#{not itm.isEditable}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
							<p:inputText value="#{itm.mrp}" rendered="#{itm.isEditable}"
								size="10">
								<f:convertNumber pattern="#0.00" />
								<p:ajax listener="#{article.setSPandWSP(itm)}"
									process="detail_table" update="detail_table" />
							</p:inputText>
						</p:column>
						<p:column headerText="Sales Price" width="60" styleClass="tar">
							<h:outputText value="#{itm.sales_price}"
								rendered="#{not itm.isEditable}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
							<p:inputText value="#{itm.sales_price}"
								rendered="#{itm.isEditable}" size="10">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="WSP" width="60" styleClass="tar">
							<h:outputText value="#{itm.wsp}" rendered="#{not itm.isEditable}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
							<p:inputText value="#{itm.wsp}" rendered="#{itm.isEditable}"
								size="10">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</p:column>
						<p:column headerText="Barcode " width="60" styleClass="tar">

							<p:inputText value="#{itm.barCodeQty}" size="10">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
							<p:commandButton
								actionListener="#{article.printBarCode(itm.item_code, itm.barCodeQty)}"
								icon="ui-icon-print" ajax="false" />
						</p:column>
						<p:column headerText="Status" width="60">
							<h:outputText value="#{itm.status}"
								rendered="#{not itm.isEditable}" />
							<p:selectOneRadio value="#{itm.status}"
								rendered="#{itm.isEditable}">
								<f:selectItem itemValue="Active" itemLabel="Active" />
								<f:selectItem itemValue="InActive" itemLabel="InActive" />
							</p:selectOneRadio>
						</p:column>
						<p:column headerText="Action" width="60">
							<p:commandButton action="#{article.editItemCode(itm)}"
								icon="ui-icon-pencil" rendered="#{not itm.isEditable}"
								process="@this" update="detail_table,:frm:messagePan" />
							<p:commandButton action="#{article.deleteItemCode(itm)}"
								icon="ui-icon-trash" process="@this"
								update="detail_table,:frm:messagePan">
								<p:confirm header="Confirmation"
									message="Are you sure you want to delete?" icon="ui-icon-alert" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
					<p:commandButton ajax="true" process="@this" update="detail_table"
						action="#{article.addNewItem()}" value="Add" icon="ui-icon-plus" />
				</f:facet>

			</p:panel>

			<p:fieldset id="histPan">
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{article.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{article.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{article.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{article.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{article.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
