<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Brand List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Brand" styleClass="caption" />
						<p:inputText value="#{brand.item.brand}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Brand Desc" styleClass="caption" />
						<p:inputText value="#{brand.item.brandDesc}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Status" styleClass="caption" />
						<p:inputText value="#{brand.item.status}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" styleClass="caption" />
						<p:commandButton value="Search" ajax="true" process="searchPan"
							update="detail_table" icon="ui-icon-search"
							action="#{brand.search}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" styleClass="caption" />
						<p:commandButton value="Refresh" icon="ui-icon-refresh"
							process="searchPan" update="searchPan,detail_table"
							action="#{brand.refreshBrandList()}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" styleClass="caption" />
						<p:commandButton value="Add New" icon="ui-icon-plus"
							action="#{brand.addNew()}" ajax="false" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{brand.list}" id="detail_table" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="300"
						style="width: 100%" resizableColumns="true">
						<p:column headerText="Sr#" style="width: 50px">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.brand}" headerText="Brand">
							<h:commandLink action="#{brand.load(row.brand)}"
								value="#{row.brand}" />
						</p:column>
						<p:column headerText="Description" sortBy="#{row.brandDesc}"
							width="250">
							<h:outputText value="#{row.brandDesc}" />
						</p:column>
						<p:column headerText="Tax%">
							<h:outputText value="#{row.taxPerc}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Disc%">
							<h:outputText value="#{row.discPerc}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" sortBy="#{row.status}">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="40%">
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:fieldset style="min-height: 40px;">
				<p:messages />
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
