<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Invoice List</ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Invoice No" styleClass="caption" />
						<p:inputText value="#{invoice.item.invoiceNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust ID" styleClass="caption" />
						<p:inputText value="#{invoice.item.customerId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust Name" styleClass="caption" />
						<p:inputText value="#{invoice.item.customerName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cust Addre" styleClass="caption" />
						<p:inputText value="#{invoice.item.custAddress}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Inv DT" styleClass="caption" />
						<p:inputText value="#{invoice.item.fromDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Inv DT" styleClass="caption" />
						<p:inputText value="#{invoice.item.toDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton icon="ui-icon-search" value="Search"
							action="#{invoice.search}" ajax="true" process="searchPan"
							update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton icon="ui-icon-refresh" value="Reset"
							action="#{invoice.refreshList}" ajax="true" process="searchPan"
							update="searchPan,data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Add New" action="#{invoice.addNew()}"
							ajax="false" />
					</h:panelGrid>
				</h:panelGrid>

				<f:facet name="footer">
					<p:dataTable value="#{invoice.list}" id="data_table" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="400">
						<p:column headerText="Sr#" width="30">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.invoiceNo}" headerText="Invoice No">
							<h:commandLink action="#{invoice.load(row.invoiceNo)}"
								value="#{row.invoiceNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Inv Date">
							<h:outputText value="#{row.invoiceDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Customer ID">
							<h:outputText value="#{row.customerId}" />
						</p:column>
						<p:column headerText="Customer Name">
							<h:outputText value="#{row.customerName}" />
						</p:column>
						<p:column headerText="Tot Qty" styleClass="tar">
							<h:outputText value="#{row.totQty}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Tot Sale Amt" styleClass="tar">
							<h:outputText value="#{row.totSalsePrice}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Tot Disc" styleClass="tar">
							<h:outputText value="#{row.totDiscValue}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Tot Tax" styleClass="tar">
							<h:outputText value="#{row.totalTax}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>

						<p:column headerText="Net Value" styleClass="tar">
							<h:outputText value="#{row.netValue}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" styleClass="tac" width="80">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>

			<p:messages />
		</h:form>
	</ui:define>

</ui:composition>
