<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Item Size List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{size.list}" var="row" rowIndexVar="r"
						resizableColumns="true" scrollable="true" scrollHeight="300">
						<p:column headerText="Sr#" width="50">
                           
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.itemSize}" headerText="size"
							filterBy="#{row.itemSize}">
							<h:commandLink action="#{size.load(row.itemSize)}"
								value="#{row.itemSize}" />
						</p:column>
						<p:column headerText=" Description" sortBy="#{row.sizeDesc}"
							filterBy="#{row.sizeDesc}">
							<h:outputText value="#{row.sizeDesc}" />
						</p:column>
						<p:column width="60%">
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
