<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>CashWrap: Easy Retail</title>
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/main.css" rel="stylesheet" type="text/css" />
	<h:outputScript library="js" name="jquery-2.2.1.min.js" />
	<script>
		$(document).ready(function() {
			jQuery.noConflict();
			$("#arrow-btn").click(function() {
				var className = $('#arrow-btn').attr('class');
				$(".left-nav-panel").toggle();
				if (className == "show-btn") {
					$("#arrow-btn").removeClass("show-btn");
					$("#arrow-btn").addClass("show-btn2");
					$(".right-panel").removeClass("marg70l");
				} else {
					$("#arrow-btn").removeClass("show-btn2");
					$("#arrow-btn").addClass("show-btn");
					$(".right-panel").addClass("marg70l");
				}

			});

		});
	</script>
</h:head>

<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="center">
			<div id="top" class="top">
				<h:form>
					<h:panelGrid columns="3" width="98%">

						<h:panelGrid columns="5"
							columnClasses="ScreenHeading,ScreenHeading,ScreenHeading">
							<h:link outcome="retail" value="" styleClass="caption"
								style="margin-left:74px; background:url(resources/images/cash-wrap-logo.png); width:112px; height:45px;" />
							<!-- <h:outputText value=" | " style="width:5px;" /> -->
							<!-- <h:link outcome="retail" value="" styleClass="caption" style="background:url(resources/images/home-icon.png); width:24px; height:20px;" /> -->
							<!-- <h:outputText value=" | " /> -->
							<!-- <ui:insert name="top">Retail Software</ui:insert> -->
						</h:panelGrid>


						<h:panelGrid columns="8" style="float:right">
							<p:commandLink action="#{userInfo.load(login.user.loginId)}"
								ajax="false">
								<h:outputText value="#{login.user.userName}"
									style="font-weight:bold; background:url(resources/images/admin-icon.png) no-repeat 0 0; padding-left:20px; height:19px; display:inline-block; line-height: 19px;" />
							</p:commandLink>
							<p:spacer height="1" width="5" />
							<h:outputText value="|" />

							<p:commandLink action="#{userInfo.logout()}" ajax="false">
								<h:outputText value="Logout"
									style="font-weight:bold; background:url(resources/images/logout-icon.png) no-repeat 4px 0; padding-left:25px; height:19px; display:inline-block; line-height: 19px;" />
							</p:commandLink>
							<p:spacer height="1" width="5" />
							<h:outputText value="|" />
							<p:spacer height="1" width="5" />
							<p:menuButton value="Setting">
								<p:menuitem action="#{po.addNew()}"
									rendered="#{po.item.viewAddowed}" value="Goods Receipt Note"
									ajax="false" />
								<p:menuitem value="Purchse Return"
									rendered="#{por.item.viewAddowed}" action="#{por.addNew()}"
									ajax="false" />
								<p:menuitem value="Stock" rendered="#{stock.item.viewAddowed}"
									action="#{stock.addNew()}" ajax="false" />
								<p:menuitem value="Invoice"
									rendered="#{invoice.item.viewAddowed}"
									action="#{invoice.addNew()}" ajax="false" />
								<p:menuitem value="Invoice Return"
									rendered="#{invRet.item.viewAddowed}"
									action="#{invRet.addNew()}" ajax="false" />
								<p:menuitem value="Invenory Transactions"
									rendered="#{trans.item.viewAddowed}"
									action="#{trans.refreshList()}" ajax="false" />
								<p:separator />
								<p:menuitem value="Logout" action="#{userInfo.logout()}" />
							</p:menuButton>
							<h:panelGrid columns="1" width="50px">
								<p:ajaxStatus>
									<f:facet name="start">
										<h:panelGrid columns="3">
											<h:graphicImage name="images/loading.gif" />
											<p:spacer width="10" height="1" />
											<h:graphicImage name="images/RingLoading.gif" />
										</h:panelGrid>
									</f:facet>
								</p:ajaxStatus>
							</h:panelGrid>
						</h:panelGrid>

					</h:panelGrid>
					<p:confirmDialog global="true" showEffect="fade"
						hideEffect="explode">
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</h:form>
			</div>
			<div class="left-nav-panel">
				<div class="user-grid">
					<span class="user-img"><p:graphicImage
							name="/images/user.png" styleClass="img" /></span>
					<!-- <span class="user-detail">User Name<span>[Designation]</span></span> -->
					<div class="clr"></div>
				</div>
				<div class="nav-list">
					<h:form>
						<ul>
							<li class="active"><span class="nav-icon"><p:graphicImage
										name="/images/master.png" /></span> <!-- Masters -->
								<ul>
									<li><p:commandLink action="#{account.addNew()}"
											rendered="#{account.item.viewAddowed}" ajax="false">Account</p:commandLink></li>
									<li><p:commandLink action="#{article.addNew()}"
											rendered="#{article.item.viewAddowed}" ajax="false">Article</p:commandLink></li>
									<li><p:commandLink action="#{branch.addNew()}"
											rendered="#{branch.item.viewAddowed}" ajax="false">Branch</p:commandLink></li>
									<li><p:commandLink action="#{brand.addNew()}"
											rendered="#{brand.item.viewAddowed}" ajax="false">Brand</p:commandLink></li>
									<li><p:commandLink action="#{color.addNew()}"
											rendered="#{color.item.viewAddowed}" ajax="false">Color</p:commandLink></li>
									<li><p:commandLink action="#{cust.addNew()}"
											rendered="#{cust.item.viewAddowed}" ajax="false">Customer</p:commandLink></li>
									<li><p:commandLink action="#{emp.addNew()}"
											rendered="#{emp.item.viewAddowed}" ajax="false">Employees</p:commandLink></li>
									<li><p:commandLink action="#{expenseHead.addNew()}"
											rendered="#{expenseHead.item.viewAddowed}" ajax="false">Expense Heads</p:commandLink></li>
									<li><p:commandLink action="#{payMode.addNew()}"
											rendered="#{payMode.item.viewAddowed}" ajax="false">Payment Modes</p:commandLink></li>
									<li><p:commandLink action="#{salesPerson.addNew()}"
											rendered="#{salesPerson.item.viewAddowed}" ajax="false">Sales Person</p:commandLink></li>
									<li><p:commandLink action="#{section.addNew()}"
											rendered="#{section.item.viewAddowed}" ajax="false">Section</p:commandLink></li>
									<li><p:commandLink action="#{subSection.addNew()}"
											rendered="#{subSection.item.viewAddowed}" ajax="false">Sub Section</p:commandLink></li>
									<li><p:commandLink action="#{size.addNew()}"
											rendered="#{size.item.viewAddowed}" ajax="false">Size</p:commandLink></li>
									<li><p:commandLink action="#{supp.addNew()}"
											rendered="#{supp.item.viewAddowed}" ajax="false">Supplier</p:commandLink></li>
									<li><p:commandLink action="#{tax.addNew()}"
											rendered="#{tax.item.viewAddowed}" ajax="false">Tax</p:commandLink></li>
									<li><p:commandLink action="#{uom.addNew()}"
											rendered="#{uom.item.viewAddowed}" ajax="false">UOM</p:commandLink></li>
								</ul></li>
							<li><span class="nav-icon"><p:graphicImage
										name="/images/transaction.png" /></span> <!-- Transactions -->
								<ul>
									<li><p:commandLink action="#{po.preparePurchaseOrder()}"
											rendered="#{po.item.viewAddowed}" ajax="false">Good Receipt</p:commandLink></li>
									<li><p:commandLink action="#{invoice.prepareInvoice()}"
											rendered="#{invoice.item.viewAddowed}" ajax="false">Invoice</p:commandLink></li>
									<li><p:commandLink action="#{invRet.addNew()}"
											rendered="#{invRefund.item.viewAddowed}" ajax="false">Invoice Return</p:commandLink></li>
									<li><p:commandLink action="#{por.addNew()}"
											rendered="#{por.item.viewAddowed}" ajax="false">Purchase Return</p:commandLink></li>
									<li><p:commandLink action="#{damage.addNew()}"
											rendered="#{damage.item.viewAddowed}" ajax="false">Damages</p:commandLink></li>
									<li><p:commandLink action="#{transIn.addNew()}"
											rendered="#{transIn.item.viewAddowed}" ajax="false">Trans In</p:commandLink></li>
									<li><p:commandLink action="#{transOut.addNew()}"
											rendered="#{transOut.item.viewAddowed}" ajax="false">Trans Out</p:commandLink></li>
								</ul></li>
							<li><span class="nav-icon"><p:graphicImage
										name="/images/account-tranction.png" /></span> <!-- Account Transactions -->
								<ul>
									<li><p:commandLink action="#{custPayRec.addNew()}"
											rendered="#{custPayRec.item.viewAddowed}" ajax="false">Customer Payment Receipt</p:commandLink></li>
									<li><p:commandLink action="#{custPayRecCan.addNew()}"
											rendered="#{custPayRecCan.item.viewAddowed}" ajax="false">Customer Pay Receipt Cancellation</p:commandLink></li>
									<li><p:commandLink action="#{expense.addNew()}"
											rendered="#{expense.item.viewAddowed}" ajax="false">Expences</p:commandLink></li>
									<li><p:commandLink action="#{suppPay.addNew()}"
											rendered="#{suppPay.item.viewAddowed}" ajax="false">Supplier Payment</p:commandLink></li>
									<li><p:commandLink action="#{suppPayCan.addNew()}"
											rendered="#{suppPayCan.item.viewAddowed}" ajax="false">Supplier Payement Cancellation</p:commandLink></li>
								</ul></li>
							<li><span class="nav-icon"><p:graphicImage
										name="/images/report.png" /></span> <!-- Reports -->
								<ul>
									<li><p:commandLink action="#{accTrans.addNew()}"
											rendered="#{accTrans.item.viewAddowed}" ajax="false">Account Transactions</p:commandLink></li>
									<li><p:commandLink action="#{accTrans.refreshList()}"
											rendered="#{accTrans.item.viewAddowed}" ajax="false">Account Transaction List</p:commandLink></li>
									<li><p:commandLink action="#{trans.refreshList()}"
											rendered="#{trans.item.viewAddowed}" ajax="false">Inventory Transactions</p:commandLink></li>
									<li><p:commandLink action="#{stock.refreshList}"
											rendered="#{stock.item.viewAddowed}" ajax="false">Stock</p:commandLink></li>
									<li><p:commandLink
											action="#{custReport.prepareReportPage()}"
											rendered="#{custReport.viewAddowed}" ajax="false">Customer Ledger</p:commandLink></li>
									<li><p:commandLink
											action="#{expenseReport.prepareReportPage()}"
											rendered="#{expenseReport.viewAddowed}" ajax="false">Expense Reports</p:commandLink></li>
									<li><p:commandLink
											action="#{purchaseReport.prepareReportPage()}"
											rendered="#{purchaseReport.viewAddowed}" ajax="false">Purchase Report</p:commandLink></li>
									<li><p:commandLink
											action="#{purRecRep.prepareReportPage()}"
											rendered="#{uom.item.viewAddowed}" ajax="false">Purchase Receipt Report</p:commandLink></li>
									<li><p:commandLink
											action="#{salesReport.prepareReportPage()}"
											rendered="#{purRecRep.viewAddowed}" ajax="false">Sales Report</p:commandLink></li>
									<li><p:commandLink
											action="#{salesPersonReport.prepareReportPage()}"
											rendered="#{salesPersonReport.viewAddowed}" ajax="false">Sales Person Report</p:commandLink></li>
									<li><p:commandLink
											action="#{stockReport.prepareReportPage()}"
											rendered="#{stockReport.viewAddowed}" ajax="false">Stock Reports</p:commandLink></li>
									<li><p:commandLink
											action="#{transInReport.prepareReportPage()}"
											rendered="#{transInReport.viewAddowed}" ajax="false">Trans In Reports</p:commandLink></li>
									<li><p:commandLink
											action="#{transOutReport.prepareReportPage()}"
											rendered="#{prepareReportPage.viewAddowed}" ajax="false">Trans Out Reports</p:commandLink></li>
								</ul></li>
							<li><span class="nav-icon"><p:graphicImage
										name="/images/utilities.png" /></span> <!-- Utilities -->
								<ul>
									<li><p:commandLink action="#{messagePack.preparePage()}"
											rendered="#{messagePack.item.viewAddowed}" ajax="false">Message Pack Control Board</p:commandLink></li>
									<li><p:commandLink
											action="#{companyParameter.preparePage()}"
											rendered="#{companyParameter.item.viewAddowed}" ajax="false">Company Parameter</p:commandLink></li>
									<li><p:commandLink
											action="#{masterParameter.preparePage()}"
											rendered="#{masterParameter.item.viewAddowed}" ajax="false">Master Parameter</p:commandLink></li>
									<li><p:commandLink action="#{printManager.preparePage()}">Printer Manager</p:commandLink></li>
									<li><h:link outcome="Modem"
											class="ui-commandlink ui-widget">Modem Configuration</h:link></li>
									<li><h:link outcome="MyScreenRights"
											class="ui-commandlink ui-widget">MyScreenRights</h:link></li>
									<li><p:commandLink action="#{transactionPrefix.addNew()}"
											rendered="#{transactionPrefix.item.viewAddowed}" ajax="false">Transaction Prefix</p:commandLink></li>
									<li><p:commandLink
											action="#{transactionPrefix.refreshList()}"
											rendered="#{transactionPrefix.item.viewAddowed}" ajax="false">Transaction Prefix List</p:commandLink></li>
									<li><p:commandLink action="#{calculator.run()}"
											ajax="false">Calculator</p:commandLink></li>
								</ul></li>
							<li><span class="nav-icon"><p:graphicImage
										name="/images/user-management.png" /></span> <!-- User Management -->
								<ul>
									<li><p:commandLink action="#{userInfo.addNew}"
											rendered="#{userInfo.item.viewAddowed}" ajax="false">User Info</p:commandLink></li>
									<li><p:commandLink action="#{userInfo.refreshUsersList()}"
											rendered="#{userInfo.item.viewAddowed}" ajax="false">Users List</p:commandLink></li>
									<li><p:commandLink
											action="#{userInfo.prapreChangePassowrd()}" ajax="false">Users Management</p:commandLink></li>
									<li><p:commandLink
											action="#{userInfo.prapreChangeOthersPassowrd()}"
											rendered="#{login.isAdmin}" ajax="false">Change Users Password</p:commandLink></li>
									<li><p:commandLink action="#{roles.addNew()}"
											rendered="#{roles.item.viewAddowed}" ajax="false">Roles</p:commandLink></li>
									<li><p:commandLink action="#{screen.addNew()}"
											rendered="#{screen.item.viewAddowed}" ajax="false">Screens</p:commandLink></li>
									<li><p:commandLink action="#{roleScreen.addNew()}"
											rendered="#{roleScreen.item.viewAddowed}" ajax="false">Role Screen grants</p:commandLink></li>
								</ul></li>
						</ul>
					</h:form>
				</div>
			</div>
			<div class="show-btn" id="arrow-btn">
				<p:graphicImage name="/images/nav-icon.png" />
			</div>

			<div class="colm-100">
				<div class="right-panel marg70l">
					<div class="page-title">
						<h:link outcome="retail" value="" styleClass="caption"
							style="background:url(resources/images/home-icon.png) no-repeat; border-right: 1px solid #b7b7b7; padding-right: 10px; width:24px; height:20px; display: inline-block;" />
						<ui:insert name="top"> Dashboard</ui:insert>
					</div>
					<div class="right-pannel-inner">
						<div class="grid-container" id="content">
							<ui:insert name="content">Content</ui:insert>
						</div>
					</div>
				</div>
			</div>
			<div class="clr"></div>
			<div class=""></div>

		</p:layoutUnit>
	</p:layout>
</h:body>

</html>
