<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Message Pack Control Board
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2">
					<h:outputText value="Base URL" styleClass="caption" />
					<p:inputText value="#{messagePack.item.baseUrl}" size="100" />

					<h:outputText value="User Filed Name" styleClass="caption" />
					<p:inputText value="#{messagePack.item.userNameFieldName}"
						size="50" />
					<h:outputText value="User Name" styleClass="caption" />
					<p:inputText value="#{messagePack.item.userName}" size="50" />

					<h:outputText value="Password Field Name" styleClass="caption" />
					<p:inputText value="#{messagePack.item.passwordFieldName}"
						size="50" />
					<h:outputText value="Password" styleClass="caption" />
					<p:inputText value="#{messagePack.item.password}" size="50" />

					<h:outputText value="Sender Id Field Name" styleClass="caption" />
					<p:inputText value="#{messagePack.item.senderIdFieldName}"
						size="50" />
					<h:outputText value="Sender ID" styleClass="caption" />
					<p:inputText value="#{messagePack.item.senderId}" size="50" />

					<h:outputText value="Additional Parameters" styleClass="caption" />
					<p:inputText value="#{messagePack.item.additionalParameters}"
						size="100" />

					<h:outputText value="Mobles Field Name" styleClass="caption" />
					<p:inputText value="#{messagePack.item.mobilesFieldName}" size="50" />
					<h:outputText value="Mobile Number" styleClass="caption" />
					<p:inputText value="#{messagePack.item.mobiles}" size="50" />

					<h:outputText value="SMS Field Name" styleClass="caption" />
					<p:inputText value="#{messagePack.item.smsFieldName}" size="50" />
					<h:outputText value="SMS Message" styleClass="caption" />
					<p:inputTextarea value="#{messagePack.item.sms}" rows="3" cols="50" />

				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{messagePack.commit()}"
							rendered="#{messagePack.item.modifyAddowed ||messagePack.item.addAddowed}" />
						<p:commandButton ajax="false" value="Send Message"
							action="#{messagePack.sendMessage()}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
