<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">Purchase Order List </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="PO No" styleClass="caption" />
						<p:inputText value="#{po.item.poNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Chalan No" styleClass="caption" />
						<p:inputText value="#{po.item.chalanNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Bill No" styleClass="caption" />
						<p:inputText value="#{po.item.billNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supplier ID" styleClass="caption" />
						<p:inputText value="#{po.item.supplierId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supp Name" styleClass="caption" />
						<p:inputText value="#{po.item.supplierName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Dt" styleClass="caption" />
						<p:inputText value="#{po.item.fromDate}" size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Dt" styleClass="caption" />
						<p:inputText value="#{po.item.toDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Search" action="#{po.search}"
							icon="ui-icon-search" ajax="true" process="searchPan"
							update="data_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" icon="ui-icon-refresh"
							action="#{po.refreshList}" ajax="true" process="searchPan"
							update="data_table,searchPan" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{po.list}" var="row" rowIndexVar="r"
						id="data_table" resizableColumns="true" scrollable="true"
						scrollHeight="400">
						<p:column headerText="Sr#" width="40">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.poNo}" headerText="PO No">
							<h:commandLink action="#{po.load(row.poNo)}" value="#{row.poNo}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Po Date">
							<h:outputText value="#{row.poDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Chalan No">
							<h:outputText value="#{row.chalanNo}" />
						</p:column>
						<p:column headerText="Chalan Date">

							<h:outputText value="#{row.chalanDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Bill No">
							<h:outputText value="#{row.billNo}" />
						</p:column>
						<p:column headerText="Bill Date">
							<h:outputText value="#{row.billDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Sup ID">
							<h:outputText value="#{row.supplierId}" />
						</p:column>
						<p:column headerText="Sup Name" width="150">
							<h:outputText value="#{row.supplierName}" />
						</p:column>
						<p:column headerText="Tot Qty" styleClass="tar">
							<h:outputText value="#{row.totalQty}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Net Value" styleClass="tar">
							<h:outputText value="#{row.netAmt}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" width="60" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>

		</h:form>
	</ui:define>

</ui:composition>
