<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Purchase Reports
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Po No" styleClass="caption" />
					<p:inputText value="#{purchaseReport.poNo}" size="20" />
					<h:outputText value="Supp ID" styleClass="caption" />
					<p:selectOneMenu value="#{purchaseReport.suppId}"
						style="width:120px;" id="supp_id">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{supp.listSelectOne}" var="lst"
							itemValue="#{lst.suppId}" itemLabel="#{lst.suppName}" />
					</p:selectOneMenu>
					<h:outputText value="From Date" styleClass="caption" />
					<p:inputText value="#{purchaseReport.fromDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="To Date" styleClass="caption" />
					<p:inputText value="#{purchaseReport.toDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Output Format" styleClass="caption" />
					<p:selectOneMenu value="#{purchaseReport.outputFormat}"
						style="width:100px;">
						<f:selectItems value="#{jasperOutputFormat.list}" var="ol"
							itemValue="#{ol.formatCode}" itemLabel="#{ol.formatDesc}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="100">
						<p:commandButton ajax="false"
							rendered="#{purchaseReport.printAddowed}"
							value="Purchase Register"
							action="#{purchaseReport.printPurchaseRegister() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{purchaseReport.printAddowed}"
							value="Article Wise Purchase History"
							action="#{purchaseReport.printPurchaseRegisterItemDetail() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{purchaseReport.printAddowed}"
							value="VendorWise Purchase Register"
							action="#{purchaseReport.printPurchaseRegisterVendorWise() }" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
