<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="content">



		<!-- *********************** start ******************************** -->
		<!-- *********************** start ******************************** -->



		<div class="colm-100">
			<div class="right-panel marg70l">

				<div class="right-pannel-inner">
					<div class="colm-70">
						<div class="grid-container">
							<h:form>
								<ul>
									<li><p:commandLink action="#{invoice.prepareInvoice()}"
											ajax="false" disabled="#{not invoice.item.viewAddowed}">
											<p:graphicImage name="/images/icon1.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{po.preparePurchaseOrder()}"
											ajax="false" disabled="#{not po.item.viewAddowed}">
											<p:graphicImage name="/images/icon2.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>
									<li><p:commandLink action="#{pr.preparePurchaseReceipt()}"
											ajax="false" disabled="#{not pr.item.viewAddowed}">
											<p:graphicImage name="/images/icon3.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>
									<li><p:commandLink
											action="#{por.preparePurchaseReturnScreen()}" ajax="false"
											disabled="#{not por.item.viewAddowed}">
											<p:graphicImage name="/images/icon4.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>
									<li><p:commandLink action="#{invRet.addNew()}"
											ajax="false" disabled="#{not invRet.item.viewAddowed}">
											<p:graphicImage name="/images/icon5.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{transIn.addNew()}"
											ajax="false" disabled="#{not transIn.item.viewAddowed}">
											<p:graphicImage name="/images/icon6.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{transOut.addNew()}"
											ajax="false" disabled="#{not transOut.item.viewAddowed}">
											<p:graphicImage name="/images/icon7.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink
											action="#{salesReport.prepareReportPage}" ajax="false"
											disabled="#{not salesReport.viewAddowed}">
											<p:graphicImage name="/images/icon8.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink
											action="#{purchaseReport.prepareReportPage}" ajax="false"
											disabled="#{not purchaseReport.viewAddowed}">
											<p:graphicImage name="/images/icon9.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{stock.refreshList()}"
											disabled="#{not stock.item.viewAddowed}" ajax="false">
											<p:graphicImage name="/images/icon10.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink
											action="#{transInReport.prepareReportPage()}" ajax="false"
											disabled="#{not transInReport.viewAddowed}">
											<p:graphicImage name="/images/icon11.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink
											action="#{transOutReport.prepareReportPage()}" ajax="false"
											disabled="#{not transOutReport.viewAddowed}">
											<p:graphicImage name="/images/icon12.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{cust.addNew()}" ajax="false"
											disabled="#{not cust.item.viewAddowed}">
											<p:graphicImage name="/images/icon13.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{custPayRec.addNew()}"
											ajax="false" disabled="#{not custPayRec.item.viewAddowed}">
											<p:graphicImage name="/images/icon14.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{supp.addNew() }" ajax="false"
											disabled="#{not supp.item.viewAddowed}">
											<p:graphicImage name="/images/icon15.png" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>

									<li><p:commandLink action="#{calculator.run }"
											ajax="false">
											<p:graphicImage name="/images/calculator-icon.png"
												styleClass="img" width="90" height="90" />
										</p:commandLink></li>

									

									<li><p:commandLink action="#{suppPay.addNew()}"
											rendered="false" ajax="false"
											disabled="#{not suppPay.item.viewAddowed}">
											<p:graphicImage name="/images/SUPPLIER.jpg" styleClass="img"
												width="90" height="90" />
										</p:commandLink></li>
								</ul>
							</h:form>
						</div>
					</div>
					<div class="colm-30">
						<div class="right-panel">
							<div class="time-container">
								<iframe
									src="http://free.timeanddate.com/clock/i5j7us1e/n176/szw210/szh210/cf100/hnce1ead6"
									frameborder="0" width="210" height="210"
									style="margin: auto; display: block;"></iframe>
								<div class="time-container-overlay"></div>
							</div>
							<div class="weather"></div>
						</div>
					</div>
					<div class="clr"></div>
				</div>
			</div>
		</div>
		<!-- *********************** -->
		<div class="clr"></div>

		<!-- **************************** /end *************************** -->
		<!-- **************************** /end *************************** -->




		<p:messages />
	</ui:define>

</ui:composition>
