<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Sales Reports
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Invoice No" styleClass="caption" />
					<p:inputText value="#{salesReport.invoiceNo}" size="20" />
					<h:outputText value="From Date" styleClass="caption" />
					<p:inputText value="#{salesReport.fromDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="To Date" styleClass="caption" />
					<p:inputText value="#{salesReport.toDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Output Format" styleClass="caption" />
					<p:selectOneMenu value="#{salesReport.outputFormat}"
						style="width:100px;">
						<f:selectItems value="#{jasperOutputFormat.list}" var="ol"
							itemValue="#{ol.formatCode}" itemLabel="#{ol.formatDesc}" />
					</p:selectOneMenu>

				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="15">
						<p:commandButton ajax="false"
							rendered="#{salesReport.printAddowed}" value="Invoice Wise Sales"
							action="#{salesReport.printInvoiceWiseSales() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{salesReport.printAddowed}" value="Invoice Wise Tax"
							action="#{salesReport.printInvoiceWiseSalesTax() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{salesReport.printAddowed}" value="Article Wise Sales"
							action="#{salesReport.printArticleWiseSales() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{salesReport.printAddowed}" value="Sales Summary"
							action="#{salesReport.printSaleSummary() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{salesReport.printAddowed}"
							value="Sales Collection Summary"
							action="#{salesReport.printSaleCollectionSummary() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{salesReport.printAddowed}" value="Sales Tax Summary"
							action="#{salesReport.printSaleTaxSummary() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{salesReport.printAddowed}"
							value="Sales Tax on Inv Summary"
							action="#{salesReport.printSaleTaxInvSummary() }" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
