<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Stock Reports
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Item Code" styleClass="caption" />
						<p:inputText value="#{stockReport.itemCode}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Article No" styleClass="caption" />
						<p:inputText value="#{stockReport.articleNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="BarCode" styleClass="caption" />
						<p:inputText value="#{stockReport.barCode}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Item Desc" styleClass="caption" />
						<p:inputText value="#{stockReport.itemDesc}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Section" styleClass="caption" />
						<p:inputText value="#{stockReport.section}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="SubSec" styleClass="caption" />
						<p:inputText value="#{stockReport.subSection}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Brand" styleClass="caption" />
						<p:inputText value="#{stockReport.brand}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supplier" styleClass="caption" />
						<p:selectOneMenu value="#{stockReport.supplier}"
							style="width: 100px;">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{supp.listSelectOne}" var="s"
								itemValue="#{s.suppId}" itemLabel="#{s.suppId}-#{s.suppName}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Date" styleClass="caption" />
						<p:inputText value="#{stockReport.fromDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Date" styleClass="caption" />
						<p:inputText value="#{stockReport.toDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>

				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Output Format" styleClass="caption" />
					<p:selectOneMenu value="#{stockReport.outputFormat}"
						style="width:100px;">
						<f:selectItems value="#{jasperOutputFormat.list}" var="ol"
							itemValue="#{ol.formatCode}" itemLabel="#{ol.formatDesc}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false"
							rendered="#{stockReport.viewAddowed}"
							value="Item Code Wise Stock"
							action="#{stockReport.printItemCodeWiseStock() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false"
							rendered="#{stockReport.viewAddowed}" value="Article Wise Stock"
							action="#{stockReport.printArticleNoWiseStock() }" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
