<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Sub Section Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2">
					<h:outputText value="Sub Section No" styleClass="caption" />
					<p:inputText value="#{subSection.item.subSection}" size="20"
						readonly="#{subSection.item.objectId gt 0}" />
					<h:outputText value="Sub Section Desc" styleClass="caption" />
					<p:inputText value="#{subSection.item.subSectionDesc}" size="50" />
					<h:outputText value="Section No" styleClass="caption" />
					<p:selectOneMenu value="#{subSection.item.sectionNo}" filter="true"
						disabled="#{subSection.item.objectId !=0 }">
						<f:selectItem itemValue="" itemLabel=""></f:selectItem>
						<f:selectItems value="#{section.listSelectOne}" var="sec"
							itemValue="#{sec.sectionNo}"
							itemLabel="#{sec.sectionNo}-#{sec.sectionDesc}" />
					</p:selectOneMenu>
					<h:outputText value="Tax %" styleClass="caption" />
					<p:inputText value="#{subSection.item.taxPerc}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Disc %" styleClass="caption" />
					<p:inputText value="#{subSection.item.discPerc}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
					<h:outputText value="Status" styleClass="caption" />
					<p:selectOneRadio value="#{subSection.item.status}">
						<f:selectItem itemValue="Active" itemLabel="Active" />
						<f:selectItem itemValue="InActive" itemLabel="InActive" />
					</p:selectOneRadio>

				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{subSection.commit}"
							rendered="#{subSection.item.addAddowed or subSection.item.modifyAddowed }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{subSection.addNew}"
							rendered="#{subSection.item.addAddowed and subSection.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{subSection.getSubSectionList}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{subSection.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan"
							rendered="#{subSection.item.deleteAddowed and subSection.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{subSection.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{subSection.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{subSection.item.updatedOn}"
						styleClass="caption">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{subSection.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{subSection.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
