<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Tax List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{tax.list}" id="detail" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="300"
						resizableColumns="true">
						<p:column headerText="Sr#" width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.taxCode }" headerText="Tax Code"
							filterBy="#{row.taxCode}">
							<h:commandLink action="#{tax.load(row.taxCode)}"
								value="#{row.taxCode}" />
						</p:column>
						<p:column headerText="Tax  Desc" sortBy="#{row.taxDesc}"
							filterBy="#{row.taxDesc}">
							<h:outputText value="#{row.taxDesc}" />
						</p:column>
						<p:column headerText="Tax %" sortBy="#{row.taxPer}"
							styleClass="tar">
							<h:outputText value="#{row.taxPer}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status" sortBy="#{row.status}"
							filterBy="#{row.status}" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="60%">

						</p:column>
					</p:dataTable>
					<p:commandButton value="Refresh List" action="#{tax.refreshList()}"
						process="@this" update="detail" />
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
