<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="top">
        Trans In
    </ui:define>

	<ui:define name="content">
		<h:form id="form1">

			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2" columnClasses="vat,vat">
					<h:panelGrid columns="1" columnClasses="vat,vat">
						<h:panelGrid columns="4" columnClasses="vat,vat,vat,vat">
							<h:panelGrid columns="1">
								<h:outputText value="TransIn Id" styleClass="caption" />
								<p:inputText value="#{transIn.item.transId}"
									readonly="#{transIn.item.objectId gt 0}" />
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Date" styleClass="caption" />
								<p:inputText value="#{transIn.item.transDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Status" styleClass="caption" />
								<h:outputText value="#{transIn.item.status}"
									styleClass="caption" />
							</h:panelGrid>
						</h:panelGrid>
						<p:separator />

						<h:panelGrid columns="4" columnClasses="vat,vat,vat,vat">
							<h:panelGrid columns="1">
								<h:outputText value="Branch ID" styleClass="caption" />
								<p:selectOneMenu value="#{transIn.item.branchId}"
									style="width: 100px;">
									<f:selectItem itemValue="" itemLabel="" />
									<f:selectItems value="#{branch.listSelectOne}" var="b"
										itemValue="#{b.branchId}" itemLabel="#{b.branchName}">
									</f:selectItems>
									<p:ajax process="@parent" update="branch_name"
										listener="#{transIn.setBranchName(transIn.item.branchId)}" />
								</p:selectOneMenu>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Branch Name" styleClass="caption" />
								<p:inputText value="#{transIn.item.branchName}" id="branch_name" />
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Branch Tran ID" styleClass="caption" />
								<p:inputText value="#{transIn.item.branchTransId}" />
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Branch Tran Date" styleClass="caption" />
								<p:inputText value="#{transIn.item.branchTransDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:inputText>
							</h:panelGrid>
						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Remarks" styleClass="caption" />
						<p:inputTextarea rows="3" cols="50"
							value="#{transIn.item.noteText}" autoResize="false" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>
			<h:panelGrid columns="2" columnClasses="vat,vat" id="selPan"
				rendered="#{transIn.item.status ne 'Approved'}">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Search"></h:outputText>
						<p:inputText value="#{transIn.item.lineSelected.search_text}"
							size="8" onkeypress="if (event.keyCode == 13) { return false; }">
							<p:ajax process="selPan" listener="#{transIn.searchItems()}"
								update="selPan,selPanel"></p:ajax>
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Item Desc"></h:outputText>
						<p:inputText size="15"
							value="#{transIn.item.lineSelected.itemDesc}" id="item_desc">
							<p:ajax process="selPan" listener="#{transIn.searchItems()}"
								update="selPan,selPanel"></p:ajax>
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Qty" />
						<p:inputText value="#{transIn.item.lineSelected.qty}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{transIn.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="UOM"></h:outputText>
						<p:selectOneMenu value="#{transIn.item.lineSelected.uom}"
							style="width: 80px;">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{uom.list}" var="sel"
								itemValue="#{sel.uom}" itemLabel="#{sel.uomDesc}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Purch Price"></h:outputText>
						<p:inputText value="#{transIn.item.lineSelected.purPrice}"
							size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{transIn.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Disc%"></h:outputText>
						<p:inputText value="#{transIn.item.lineSelected.discPer}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{transIn.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Disc Amt"></h:outputText>
						<p:inputText value="#{transIn.item.lineSelected.discAmt}" size="4"
							id="disc_amt" readonly="true">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Tax%"></h:outputText>
						<p:inputText value="#{transIn.item.lineSelected.taxPer}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{transIn.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Tax Amt"></h:outputText>
						<p:inputText value="#{transIn.item.lineSelected.taxAmt}" size="4"
							id="tax_amt" readonly="true">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Amount"></h:outputText>
						<p:inputText size="6" value="#{transIn.item.lineSelected.netAmt}"
							id="amount" readonly="true">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>


					<h:panelGrid columns="1">
						<h:outputText value="MRP"></h:outputText>
						<p:inputText size="4" value="#{transIn.item.lineSelected.mrp}">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{transIn.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Sales Price"></h:outputText>
						<p:inputText size="4"
							value="#{transIn.item.lineSelected.salesPrice}">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{transIn.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Rem"></h:outputText>
						<p:inputText size="4" value="#{transIn.item.lineSelected.remark}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Batch" />
						<p:inputText value="#{transIn.item.lineSelected.batch}" size="4" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="ExpDt" />
						<p:inputText value="#{transIn.item.lineSelected.expDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="2"
					rendered="#{transIn.item.status ne 'Approved'}">
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{transIn.addItem}"
							value="Add" rendered="#{transIn.item.lineSelected.lineNo == 0}"
							process="selPan" update="selPan,datatable,finalSummary,msgBoard" />
						<p:commandButton ajax="true" action="#{transIn.updateItem}"
							value="Update"
							rendered="#{transIn.item.lineSelected.lineNo != 0}"
							process="selPan" update="datatable,finalSummary,selPan,msgBoard" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true"
							action="#{transIn.resetSelectedItem()}" value="Reset"
							process="selPan" update="selPan,selPanel" />

					</h:panelGrid>
				</h:panelGrid>
			</h:panelGrid>

			<h:panelGrid columns="1" id="selPanel">
				<p:dataTable value="#{transIn.articleItems.list}" var="items"
					rowIndexVar="r" scrollable="true" scrollHeight="100"
					id="selPanList" rendered="#{transIn.articleItems.list.size() gt 1}">
					<p:column headerText="Sl." width="20">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Item Code">
						<h:commandLink value="#{items.item_code}"
							action="#{transIn.setItemCode(items.item_code)}" />
					</p:column>
					<p:column headerText="Bar Code">
						<h:outputText value="#{items.bar_code}" />
					</p:column>
					<p:column headerText="Article">
						<h:outputText value="#{items.article_no}" />
					</p:column>
					<p:column headerText="MRP">
						<h:outputText value="#{items.mrp}" styleClass="tar">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="PP">
						<h:outputText value="#{items.pur_price}" styleClass="tar">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP">
						<h:outputText value="#{items.sales_price}" styleClass="tar">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Item Desc">
						<h:outputText value="#{items.article_desc}" />
					</p:column>
				</p:dataTable>
			</h:panelGrid>

			<p:panel>
				<p:dataTable value="#{transIn.item.lines}" id="datatable" var="row"
					rowIndexVar="r" scrollable="true" scrollHeight="150">
					<p:column headerText="Sl" width="20">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Item Code" width="60">
						<h:outputText value="#{row.itemCode}" />
					</p:column>
					<p:column headerText="Article" width="60">
						<h:outputText value="#{row.articleNo}" />
					</p:column>
					<p:column headerText="BarCode" width="80">
						<h:outputText value="#{row.barCode}" />
					</p:column>
					<p:column headerText="Description" width="150">
						<h:outputText value="#{row.itemDesc}" />
					</p:column>
					<p:column headerText="Qty" styleClass="num" width="40">
						<h:outputText value="#{row.qty}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="UOM" width="40">
						<h:outputText value="#{row.uom}" />
					</p:column>
					<p:column headerText="PP" styleClass="num" width="40">
						<h:outputText value="#{row.purPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="MRP" styleClass="num" width="40">
						<h:outputText value="#{row.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" styleClass="num" width="40">
						<h:outputText value="#{row.salesPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc%" styleClass="num" width="40">
						<h:outputText value="#{row.discPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="DiscAmt" styleClass="num" width="60">
						<h:outputText value="#{row.discAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="Tax%" styleClass="num" width="40">
						<h:outputText value="#{row.taxPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="TaxAmt" styleClass="num" width="60">
						<h:outputText value="#{row.taxAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Net Amt" styleClass="num" width="60">
						<h:outputText value="#{row.netAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Sec" rendered="false" width="40">
						<h:outputText value="#{row.section}" />
					</p:column>
					<p:column headerText="Sub Sec" rendered="false" width="40">
						<h:outputText value="#{row.subSection}" />
					</p:column>

					<p:column headerText="Batch" styleClass="centerAligned" width="40">
						<h:outputText value="#{row.batch}" />
					</p:column>
					<p:column headerText="ExpDt" styleClass="centerAligned" width="70">
						<h:outputText value="#{row.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="Action" width="80"
						rendered="#{transIn.item.status ne 'Approved'}">
						<p:commandButton ajax="false"
							action="#{transIn.setSlectedDetail(row)}" icon="ui-icon-pencil" />
						<p:spacer width="2" />
						<p:commandButton ajax="false" action="#{transIn.deletDetail(row)}"
							icon="ui-icon-trash" />
					</p:column>
				</p:dataTable>
			</p:panel>
			<h:panelGrid columns="3" style="width:100%" styleClass=",,tar">
				<p:fieldset style="height:60px;">
					<h:panelGrid columns="20">
						<p:commandButton ajax="false" action="#{transIn.commit}"
							value="Save" icon="ui-icon-disk"
							rendered="#{transIn.item.status != 'Approved' and (transIn.item.addAddowed or transIn.item.modifyAddowed ) }"
							accesskey="s" />
						<p:commandButton ajax="false" action="#{transIn.addNew}"
							value="New" accesskey="n"
							rendered="#{transIn.item.objectId gt 0}" />
						<p:commandButton ajax="false" action="#{transIn.approveReceipt}"
							value="Approve"
							rendered="#{transIn.item.status != 'Approved' and transIn.item.postAddowed and transIn.item.objectId gt 0}" />
						<p:commandButton ajax="false" action="#{transIn.refreshList()}"
							value="List" rendered="#{transIn.item.viewAddowed}" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false" icon="ui-icon-print"
							rendered="#{transIn.item.printAddowed and transIn.item.objectId gt 0}"
							accesskey="t" value="TransIn Report"
							action="#{transIn.printReport()}" />
						<p:commandButton ajax="true" icon="ui-icon-refresh"
							rendered="#{transIn.item.status eq 'Approved' and transIn.item.cancelAllowed}"
							process="form1" update="form1"
							action="#{transIn.cancelApproval()}" value="Cancel Receipt">
							<p:confirm header="Confirmation"
								message="Are you sure you want to Cancel Approval?"
								icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</p:fieldset>
				<p:fieldset style="height:60px;" id="msgBoard">
					<p:messages></p:messages>
				</p:fieldset>
				<p:fieldset style="height:60px;" id="finalSummary">
					<h:panelGrid columns="8">
						<h:panelGrid columns="1">
							<h:outputText value="Gross Value" styleClass="caption" />
							<p:inputText value="#{transIn.item.purchAmt}" readonly="true"
								styleClass="num" size="12">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</h:panelGrid>

						<h:panelGrid columns="1">
							<h:outputText value="Net Amount" styleClass="caption" />

							<p:inputText value="#{transIn.item.salesAmt}"
								style="font-weight: bold;background: #c3d9ff;" size="10"
								readonly="true" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</h:panelGrid>
					</h:panelGrid>
				</p:fieldset>
			</h:panelGrid>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{transIn.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />

					<h:outputText value="Created By:" styleClass="caption" />
					<h:outputText value="#{transIn.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{transIn.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By:" styleClass="caption" />

					<h:outputText value="#{transIn.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID : " styleClass="caption" />
					<h:outputText value="#{transIn.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>

				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
