<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        User Management (Change Password )
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="User ID" styleClass="caption" />
					<h:outputText value="#{userInfo.item.loginId}" />
					<h:outputText value="Old Password" styleClass="caption" />
					<p:password value="#{userInfo.item.oldPassword}" />
					<h:outputText value="New Password" styleClass="caption" />
					<p:password value="#{userInfo.item.newPassword}" />
					<h:outputText value="Conform Password" styleClass="caption" />
					<p:password value="#{userInfo.item.confirmPassword}" />
					<h:outputText value="" />

				</h:panelGrid>
				<f:facet name="footer">
					<p:commandButton value="Change Password"
						action="#{userInfo.changePassword()}" ajax="false" />
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
