<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Users List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">

					<p:dataTable value="#{userInfo.list}" var="u" id="detail_table"
						scrollable="true" scrollHeight="300" rowIndexVar="r">
						<p:column headerText="Sr" width="30">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column headerText="User ID">
							<h:outputText value="#{u.loginId}" />
						</p:column>
						<p:column headerText="User Name">
							<h:outputText value="#{u.userName}" />
						</p:column>
						<p:column headerText="Status">
							<h:outputText value="#{u.status}" />
						</p:column>
						<p:column headerText="Action"
							rendered="#{userInfo.item.viewAddowed}">
							<p:commandLink ajax="false" action="#{userInfo.load(u.loginId)}"
								value="Edit" />
						</p:column>
					</p:dataTable>

					<p:commandButton action="#{userInfo.refreshUsersList}"
						rendered="#{userInfo.item.viewAddowed}" value="Refres List"
						process="@this" update="detail_table" />

				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
