<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Color List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Color" styleClass="caption" />
						<p:inputText value="#{color.item.color}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Color Desc" styleClass="caption" />
						<p:inputText value="#{color.item.colorDesc}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Sarch" action="#{color.search()}"
							ajax="true" process="searchPan" update="searchPan,detail_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" action="#{color.refreshList}"
							ajax="true" process="searchPan" update="searchPan,detail_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Add New" action="#{color.addNew()}"
							ajax="false" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{color.list}" var="row" id="detail_table"
						rowIndexVar="r" resizableColumns="true" scrollable="true"
						scrollHeight="300">
						<p:column headerText="Sr#" width="50" style="text-align: center">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.color}" headerText="Color">
							<h:commandLink action="#{color.load(row.color)}"
								value="#{row.color}" />
						</p:column>
						<p:column headerText="Description" sortBy="#{row.colorDesc}">
							<h:outputText value="#{row.colorDesc}">
							</h:outputText>
						</p:column>
						<p:column width="60%">

						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
