<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Customer Payment Receipt Cancellation
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2" styleClass="vat,vat">
					<h:panelGrid columns="4">
						<h:outputText value="Prefix" styleClass="caption" />
						<p:selectOneMenu value="#{custPayRecCan.item.prefix}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems
								value="#{transactionPrefix.custPayRecCanPrefixlist}" var="prl"
								itemValue="#{prl.prefix}"
								itemLabel="#{prl.prefix} - #{prl.transDesc}" />
						</p:selectOneMenu>
						<h:outputText value="" />
						<h:outputText value="" />
						<h:outputText value="Voucher No" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.voucherNo}" size="20"
							readonly="true" />
						<h:outputText value="Voucher Date" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.voucherDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
						<h:outputText value="Payer Ref ID" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.payerRefId}" size="20" />
						<h:outputText value="Payer Ref Date" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.payerRefDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>

						<h:outputText value="Cust ID" styleClass="caption" />
						<p:selectOneMenu value="#{custPayRecCan.item.custId}"
							style="width: 100px;" id="cust_id" filter="true">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{cust.listSelectOne}" var="lst"
								itemValue="#{lst.custId}" itemLabel="#{lst.custName}"></f:selectItems>
							<p:ajax update="cust_name"
								listener="#{custPayRecCan.setCustomer}" process="cust_id" />
						</p:selectOneMenu>
						<h:outputText value="Cust Name" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.custName}" size="20"
							id="cust_name" />

						<h:outputText value="Pay Mode" styleClass="caption" />

						<p:selectOneMenu value="#{custPayRecCan.item.payModeId}">
							<f:selectItem itemLabel="" itemValue="" />
							<f:selectItems value="#{payMode.list}" var="pay"
								itemLabel="#{pay.payModeDesc}" itemValue="#{pay.payModeId}" />
						</p:selectOneMenu>

						<h:outputText value="Amount" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.amount}">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
						<h:outputText value="Debit From Account" styleClass="caption" />
						<p:selectOneMenu value="#{custPayRecCan.item.accountId}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{account.listSelectOne}" var="ac"
								itemValue="#{ac.accountId}"
								itemLabel="#{ac.accountId} - #{ac.accountDesc}" />
						</p:selectOneMenu>
						<h:outputText value="Status" styleClass="caption" />
						<h:outputText value="#{custPayRecCan.item.status}"
							styleClass="captionValue" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText styleClass="caption" value="Remark/Notes" />
						<p:inputTextarea cols="30" rows="8"
							value="#{custPayRecCan.item.remark}" />
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="20">

					<h:panelGrid columns="1">
						<h:outputText value="Bank Name" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.bankName }" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cheque No" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.chequeNo }" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cheque Date" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.chequeDt }">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="CC Code" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.ccCode}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="CC No" styleClass="caption" />
						<p:inputText value="#{custPayRecCan.item.ccNo}" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{custPayRecCan.commit()}"
							rendered="#{custPayRecCan.item.status != 'Approved' }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{custPayRecCan.addNew()}" />
						<p:commandButton ajax="false" value="Approve"
							action="#{custPayRecCan.approve()}"
							rendered="#{custPayRecCan.item.status != 'Approved' and custPayRecCan.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{custPayRecCan.getPaymentReceiptCanList}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{custPayRecCan.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
					<p:spacer width="20" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{custPayRecCan.item.createdBy}" />
					<p:spacer width="20" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{custPayRecCan.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
					</h:outputText>
					<p:spacer width="20" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{custPayRecCan.item.updatedBy}" />
					<p:spacer width="20" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{custPayRecCan.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
