<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Customer Reports
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Customer " styleClass="caption" />
					<p:selectOneMenu value="#{custReport.custId}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{cust.listSelectOne}" var="r"
							itemValue="#{r.custId}" itemLabel="#{r.custName}" />
					</p:selectOneMenu>

					<h:outputText value="From Date" styleClass="caption" />
					<p:inputText value="#{custReport.fromDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="To Date" styleClass="caption" />
					<p:inputText value="#{custReport.toDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Output Format" styleClass="caption" />
					<p:selectOneMenu value="#{custReport.outputFormat}"
						style="width:100px;">
						<f:selectItems value="#{jasperOutputFormat.list}" var="ol"
							itemValue="#{ol.formatCode}" itemLabel="#{ol.formatDesc}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Customer Ledger"
							action="#{custReport.printCustomerLedger() }"
							rendered="#{custReport.printAddowed}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" value="Customer Wise Ledger"
							action="#{custReport.printCustomerWiseLedger() }"
							rendered="#{custReport.printAddowed}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" value="Customer Inv Wise Sales"
							action="#{custReport.printCustomerInvoiceWiseSales() }"
							rendered="#{custReport.printAddowed}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" value="Customer Wise Sales/Return"
							action="#{custReport.printCustomerWiseSales() }"
							rendered="#{custReport.printAddowed}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
