<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Employee List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">

				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Supp Id" />
						<p:inputText value="#{emp.item.empId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Emp Name" />
						<p:inputText value="#{emp.item.empName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Address" />
						<p:inputText value="#{emp.item.address}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Mob" />
						<p:inputText value="#{emp.item.mob}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Phone" />
						<p:inputText value="#{emp.item.phone}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="E-mail" />
						<p:inputText value="#{emp.item.mail}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{emp.search()}"
							update="detail,searchPan" icon="ui-icon-search" value="Search" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{emp.refresh()}"
							update="detail,searchPan" icon="ui-icon-refresh" value="Refresh" />
					</h:panelGrid>

				</h:panelGrid>

				<f:facet name="footer">
					<p:dataTable value="#{emp.list}" var="row" rowIndexVar="r"
						scrollable="true" scrollHeight="400" id="detail">
						<p:column headerText="Sr#" width="40">
                            #{r+1}
                        </p:column>
						<p:column headerText="ID" sortBy="#{row.empId}">
							<h:commandLink action="#{emp.load(row.empId)}"
								value="#{row.empId}" />
						</p:column>
						<p:column headerText="Name">
							<h:outputText value="#{row.empName}" />
						</p:column>
						<p:column headerText="Address">
							<h:outputText value="#{row.address}" />
						</p:column>
						<p:column headerText="Phone">
							<h:outputText value="#{row.phone}" />
						</p:column>
						<p:column headerText="Mob">
							<h:outputText value="#{row.mob}" />
						</p:column>
						<p:column headerText="mail">
							<h:outputText value="#{row.mail}" />
						</p:column>
						<p:column headerText="Salary">
							<h:outputText value="#{row.salary}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status">
							<h:outputText value="#{row.status}"></h:outputText>
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
