<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Inventory Transaction History
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Trans Code" styleClass="caption" />
						<p:inputText value="#{trans.item.transactionCode}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Item Code" styleClass="caption" />
						<p:inputText value="#{trans.item.itemCode}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Item Desc" styleClass="caption" />
						<p:inputText value="#{trans.item.itemDesc}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Article No" styleClass="caption" />
						<p:inputText value="#{trans.item.articleNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Order ref" styleClass="caption" />
						<p:inputText value="#{trans.item.orderNo}" size="8" />
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Direction(+/-)" styleClass="caption" />
						<p:inputText value="#{trans.item.direction}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Inv DT" styleClass="caption" />
						<p:inputText value="#{trans.item.fromDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Inv DT" styleClass="caption" />
						<p:inputText value="#{trans.item.toDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton icon="ui-icon-search" value="Sarch"
							action="#{trans.search}" ajax="true" process="searchPan"
							update="detail" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton icon="ui-icon-refresh" value="Reset"
							action="#{trans.refreshList}" ajax="true" process="searchPan"
							update="detail,searchPan" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable id="detail" value="#{trans.list}" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="400">
						<p:column headerText="Sr#" width="60">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.transactionId}" headerText="Trans ID">
							<h:outputText value="#{row.transactionId}" />
						</p:column>
						<p:column headerText="Transaction">
							<h:outputText value="#{row.transactionCode}" />
						</p:column>
						<p:column headerText="Item Code" width="80">
							<h:outputText value="#{row.itemCode}" />
						</p:column>
						<p:column headerText="Item Desc" width="250">
							<h:outputText value="#{row.itemDesc}" />
						</p:column>
						<p:column headerText="Qty">
							<h:outputText value="#{row.qty}" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="UOM" width="40">
							<h:outputText value="#{row.uom}" />
						</p:column>
						<p:column headerText="Unit Price" styleClass="num">
							<h:outputText value="#{row.pricePerUnit}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Price" styleClass="num">
							<h:outputText value="#{row.price}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Dir" style="text-align:center;" width="30">
							<h:outputText value="#{row.direction}" />
						</p:column>
						<p:column headerText="Order Ref" styleClass="tac">
							<h:outputText value="#{row.orderNo}" />
						</p:column>
						<p:column headerText="Line" styleClass="tac" width="30">
							<h:outputText value="#{row.lineNo}">
								<f:convertNumber pattern="#0" />
							</h:outputText>
						</p:column>
						<p:column headerText="Trans Date" styleClass="tar" width="80">
							<h:outputText value="#{row.createdOn}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="User" styleClass="tac" width="50">
							<h:outputText value="#{row.createdBy}" />
						</p:column>

					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:messages />
		</h:form>

	</ui:define>

</ui:composition>
