<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Master Parameters
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Parameter ID" styleClass="caption" />
					<h:outputText value="#{masterParameter.item.parameterId}" />
					<h:outputText value="Is GST Inclusive ?" styleClass="caption" />
					<p:selectOneRadio value="#{masterParameter.item.isTaxInclusive}">
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
						<f:selectItem itemValue="No" itemLabel="No" />
					</p:selectOneRadio>
					<h:outputText value="Is Bill On Zero Stock Allowed ? "
						styleClass="caption" />
					<p:selectOneRadio value="#{masterParameter.item.isBillOnZeroBal}">
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
						<f:selectItem itemValue="No" itemLabel="No" />
					</p:selectOneRadio>
					<h:outputText value="Is Sales Price Editable ? "
						styleClass="caption" />
					<p:selectOneRadio value="#{masterParameter.item.editSalePrice}">
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
						<f:selectItem itemValue="No" itemLabel="No" />
					</p:selectOneRadio>

					<h:outputText value="Is Discount Editable Against Item ? "
						styleClass="caption" />
					<p:selectOneRadio value="#{masterParameter.item.editDiscount}">
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
						<f:selectItem itemValue="No" itemLabel="No" />
					</p:selectOneRadio>

					<h:outputText value="Is Discount Editable Against Invoice ? "
						styleClass="caption" />
					<p:selectOneRadio value="#{masterParameter.item.editDiscOnInv}">
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
						<f:selectItem itemValue="No" itemLabel="No" />
					</p:selectOneRadio>

					<h:outputText value="Max Discound Allowed for Items "
						styleClass="caption" />
					<p:inputText value="#{masterParameter.item.maxDiscOnItem}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>

					<h:outputText value="Max Discound Allowed In Final Invoice "
						styleClass="caption" />
					<p:inputText value="#{masterParameter.item.maxDiscOnInv}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>

					<h:outputText value="Extra Charge Amount" styleClass="caption" />
					<p:inputText value="#{masterParameter.item.extraChargeAmt}">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>

					<h:outputText value="Use Gsm Sms Service ? " styleClass="caption" />
					<p:selectOneRadio value="#{masterParameter.item.useSmsService}">
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
						<f:selectItem itemValue="No" itemLabel="No" />
					</p:selectOneRadio>

					<h:outputText value="Use Message Pack Sms Service ? "
						styleClass="caption" />
					<p:selectOneRadio
						value="#{masterParameter.item.userMessagePackService}">
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
						<f:selectItem itemValue="No" itemLabel="No" />
					</p:selectOneRadio>


					<h:outputText value="Sms Prefix" styleClass="caption" />
					<p:inputTextarea value="#{masterParameter.item.smsPrefix}" rows="1"
						cols="40" />
					<h:outputText value="Sms Suffix" styleClass="caption" />
					<p:inputTextarea value="#{masterParameter.item.smsSuffix}" rows="1"
						cols="40" />
					<h:outputText value="" />
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save"
							rendered="#{masterParameter.item.addAddowed || masterParameter.item.modifyAddowed}"
							action="#{masterParameter.commit}" />
					</h:panelGrid>
				</h:panelGrid>

				<f:facet name="footer">
					<h:panelGrid columns="20">
						<h:outputText value="Created On:" styleClass="caption" />
						<h:outputText value="#{masterParameter.item.createdOn}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
						<p:spacer width="10" height="1" />
						<h:outputText value="Created By :" styleClass="caption" />
						<h:outputText value="#{masterParameter.item.createdBy}" />
						<p:spacer width="10" height="1" />
						<h:outputText value="Updated On:" styleClass="caption" />
						<h:outputText value="#{masterParameter.item.updatedOn}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
						<p:spacer width="10" height="1" />
						<h:outputText value="Updated By :" styleClass="caption" />
						<h:outputText value="#{masterParameter.item.updatedBy}" />
						<p:spacer width="10" height="1" />
						<h:outputText value="Object ID :" styleClass="caption" />
						<h:outputText value="#{masterParameter.item.objectId}">
							<f:convertNumber pattern="#0" />
						</h:outputText>
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
