<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Payment Mode List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{payMode.list}" id="detail" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="300"
						resizableColumns="true">
						<p:column headerText="Sr#" width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.payModeId}" headerText="Payment Mode ID"
							filterBy="#{row.payModeId}">
							<h:commandLink action="#{payMode.load(row.payModeId)}"
								value="#{row.payModeId}" />
						</p:column>
						<p:column headerText="Payment Mode  Desc"
							sortBy="#{row.payModeDesc}" filterBy="#{row.payModeDesc}">
							<h:outputText value="#{row.payModeDesc}" />
						</p:column>
						<p:column headerText="Payment Mode  Status" sortBy="#{row.status}"
							filterBy="#{row.status}">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="60%">

						</p:column>
					</p:dataTable>
					<p:commandButton value="Refresh List"
						action="#{payMode.refreshPaymentModeList()}" process="@this"
						update="detail" />
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
