<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	<ui:define name="top">
        Purchase Return
    </ui:define>
	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" columnClasses="vat,vat,vat">

					<h:panelGrid columns="2" columnClasses="textCaption,">
						<h:outputText value="Supp ID" />
						<p:selectOneMenu value="#{por.item.supplierId}"
							style="width:120px;" id="supp_id">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{supp.listSelectOne}" var="lst"
								itemValue="#{lst.suppId}" itemLabel="#{lst.suppName}" />
							<p:ajax update="supp_name,supp_address"
								listener="#{por.setSupplier}" process="supp_id" />
						</p:selectOneMenu>
						<h:outputText value="Supp Name" />
						<p:inputText value="#{por.item.supplierName}" size="20"
							id="supp_name" />
						<h:outputText value="Supp Address" />
						<p:inputTextarea value="#{por.item.supplierAddress}" rows="2"
							id="supp_address" cols="30" />
					</h:panelGrid>

					<h:panelGrid columns="8" columnClasses="vat,vat,vat,vat,vat">
						<h:panelGrid columns="2">
							<h:outputText value="Po Ret No" styleClass="caption" />
							<p:inputText value="#{por.item.poRetNo}" size="20" />
							<h:outputText value="Po Ret Date" styleClass="caption" />
							<p:inputText value="#{por.item.poRetDate}" size="10">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
							<h:outputText value="Status" styleClass="caption" />
							<h:outputText value="#{por.item.status}" />
						</h:panelGrid>
						<h:panelGrid columns="2">
							<h:outputText value="PR No" styleClass="caption" />
							<h:panelGrid columns="2">
								<p:inputText value="#{por.item.prNo}" size="20" />
								<p:commandButton
									action="#{por.preparePurchaseReturn(por.item.prNo)}"
									ajax="false" title="Purchase Return"
									rendered="#{por.item.addAddowed and por.item.status ne 'Returned'}"
									icon="ui-icon-refresh"></p:commandButton>
							</h:panelGrid>
							<h:outputText value="PR Date" styleClass="caption" />
							<p:inputText value="#{por.item.prDate}" size="10">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</h:panelGrid>
						<h:panelGrid columns="2">
							<h:outputText value="Bill No" styleClass="caption" />
							<p:inputText value="#{por.item.billNo}" size="20" />
							<h:outputText value="Bill Date" styleClass="caption" />
							<p:inputText value="#{por.item.billDate}" size="10">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</p:inputText>
						</h:panelGrid>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:inputTextarea cols="30" rows="5" value="#{por.item.noteText}" />
					</h:panelGrid>
				</h:panelGrid>

			</p:panel>

			<h:panelGrid columns="3" columnClasses="vat,vat,vat" id="selPan"
				rendered="#{por.item.status ne 'Returned'}">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Search" />
						<p:inputText value="#{por.item.poRetLineSelected.search_text}"
							size="6">
							<p:ajax process="selPan" listener="#{por.searchItems()}"
								update="selPan,selPanel,infoSelected"></p:ajax>
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Item Desc"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.itemDesc}"
							size="18" id="item_desc">
							<p:ajax process="selPan" listener="#{por.searchItems()}"
								update="selPan,selPanel,infoSelected"></p:ajax>
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Qty" />
						<p:inputText value="#{por.item.poRetLineSelected.qty}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{por.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="UOM"></h:outputText>
						<p:selectOneMenu value="#{por.item.poRetLineSelected.uom}"
							style="width: 60px;">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{uom.list}" var="sel"
								itemValue="#{sel.uom}" itemLabel="#{sel.uomDesc}" />
						</p:selectOneMenu>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="GrossPP"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.grossPp}"
							size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{por.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Disc%"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.discPerc}"
							size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{por.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Disc Amt"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.discAmt}"
							size="4" readonly="true" id="disc_amt">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="GST%"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.taxPerc}"
							size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{por.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="GST Amt"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.taxAmt}" size="4"
							readonly="true" id="tax_amt">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Pur Price"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.purPrice}"
							size="4" id="pur_price">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Amount"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.amount}" size="4"
							readonly="true" id="amount">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="MRP"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.mrp}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{por.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="WSP"></h:outputText>
						<p:inputText value="#{por.item.poRetLineSelected.wsp}" size="4">
							<f:convertNumber pattern="#0.00" />
							<p:ajax listener="#{por.reProcessSelected}" update="selPan"
								process="selPan" />
						</p:inputText>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Batch" />
						<p:inputText value="#{por.item.poRetLineSelected.batch}" size="3" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="ExpDt" />
						<p:inputText value="#{por.item.poRetLineSelected.expDate}"
							size="10">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="&nbsp;" />
					<p:commandButton ajax="true" action="#{por.addItem}" value="Add"
						rendered="#{por.item.poRetLineSelected.lineNo eq 0}"
						process="selPan" update="detail_table,messagePan,selPan" />
					<p:commandButton ajax="true" action="#{por.updateItem}"
						value="Update"
						rendered="#{por.item.poRetLineSelected.lineNo != 0}"
						process="selPan" update="selPan,detail_table,messagePan" />
				</h:panelGrid>
				<h:panelGrid columns="1"
					rendered="#{por.item.status ne 'Delivered'}">
					<h:outputText value="&nbsp;" />
					<p:commandButton action="#{por.resetSelected}" value="Reset"
						process="selPan" ajax="true" update="selPan,infoSelected,selPanel" />
				</h:panelGrid>
			</h:panelGrid>
			<h:panelGrid columns="1" id="selPanel"
				rendered="#{por.item.status ne 'Returned'}">
				<p:dataTable value="#{por.articleItems.list}" var="s"
					scrollable="true" scrollHeight="100"
					rendered="#{por.articleItems.list.size() gt 1}">
					<p:column headerText="ItemsCode" width="60">
						<h:commandLink value="#{s.item_code}"
							action="#{por.setItemCode(s.item_code)}" />
					</p:column>
					<p:column headerText="MRP" width="100">
						<h:outputText value="#{s.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" width="100">
						<h:outputText value="#{s.wsp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Color" rendered="false">
						<h:outputText value="#{s.color}" />
					</p:column>

					<p:column headerText="Article" width="100">
						<h:outputText value="#{s.article_no}" />
					</p:column>
					<p:column headerText="BarCode" width="200">
						<h:outputText value="#{s.bar_code}" />
					</p:column>
					<p:column headerText="Qty On Hand" width="200" rendered="false">
						<h:outputText value="#{s.qty_on_hand}" />
					</p:column>
					<p:column headerText="Item Desc">
						<h:outputText value="#{s.article_desc}" />
					</p:column>

				</p:dataTable>
			</h:panelGrid>
			<h:panelGrid columns="20" id="infoSelected"
				rendered="#{por.item.status ne 'Returned'}">
				<h:outputText value="Qty In Stock : "
					rendered="#{por.articleItems.list.size() eq 1}" />
				<h:outputText value="#{por.item.poRetLineSelected.qtyOnHand}"
					rendered="#{por.articleItems.list.size() eq 1}"
					style="font-weight: bold;color: red">
					<f:convertNumber pattern="#0.00" />
				</h:outputText>
			</h:panelGrid>
			<p:panel>
				<p:dataTable value="#{por.item.poRetLines}" id="detail_table"
					var="line" rowIndexVar="r" scrollable="true" scrollHeight="100">
					<p:column headerText="Sr#" width="20">
						<h:outputText value="#{r+1}."></h:outputText>
					</p:column>
					<p:column headerText="Article No" width="60">
						<h:outputText value="#{line.articleNo}"></h:outputText>
					</p:column>
					<p:column headerText="Item Code" width="60">
						<h:outputText value="#{line.itemCode}"></h:outputText>
					</p:column>
					<p:column headerText="Item Desc" width="150">
						<h:outputText value="#{line.itemDesc}"></h:outputText>
					</p:column>


					<p:column headerText="Qty" width="60">
						<h:outputText value="#{line.qty}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="UOM" rendered="false" width="40">
						<h:outputText value="#{line.uom}"></h:outputText>
					</p:column>
					<p:column headerText="GrossPP" width="60">
						<h:outputText value="#{line.grossPp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc%" width="60">
						<h:outputText value="#{line.discPerc}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="DiscAmt" width="60">
						<h:outputText value="#{line.discAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Tax%" width="60">
						<h:outputText value="#{line.taxPerc}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="TaxAmt" width="60">
						<h:outputText value="#{line.taxAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="PurPrice" width="60">
						<h:outputText value="#{line.purPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="MRP" width="60">
						<h:outputText value="#{line.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="MP%" rendered="false" width="40">
						<h:outputText value="#{line.mpPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="WSP" width="60">
						<h:outputText value="#{line.wsp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="WSP%" rendered="false" width="40">
						<h:outputText value="#{line.wspPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Amt" width="60">
						<h:outputText value="#{line.amount}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Act"
						rendered="#{por.item.status ne 'Returned'}" width="80">
						<p:commandButton ajax="false"
							action="#{por.setSlectedDetail(line)}" icon="ui-icon-pencil" />
						<p:spacer width="2" height="10" />
						<p:commandButton ajax="false" action="#{por.DeletDetail(line)}"
							icon="ui-icon-trash" />
					</p:column>
					<p:column headerText="Bar Code" width="80">
						<h:outputText value="#{line.barCode}"></h:outputText>
					</p:column>
					<p:column headerText="Sec" width="40" rendered="false">
						<h:outputText value="#{line.section}"></h:outputText>
					</p:column>
					<p:column headerText="SubSec" width="60" rendered="false">
						<h:outputText value="#{line.subSection}"></h:outputText>
					</p:column>
					<p:column headerText="Color" width="40" rendered="false">
						<h:outputText value="#{line.color}"></h:outputText>
					</p:column>
					<p:column headerText="Size" width="40" rendered="false">
						<h:outputText value="#{line.itemSize}"></h:outputText>
					</p:column>
					<p:column headerText="Brand" rendered="false" width="40">
						<h:outputText value="#{line.brand}"></h:outputText>
					</p:column>
					<p:column headerText="Style" rendered="false">
						<h:outputText value="#{line.style}"></h:outputText>
					</p:column>
					<p:column headerText="Fabric" rendered="false">
						<h:outputText value="#{line.fabric}"></h:outputText>
					</p:column>
					<p:column headerText="Rem" rendered="false">
						<h:outputText value="#{line.remark}"></h:outputText>
					</p:column>
					<p:column headerText="Batch" styleClass="centerAligned" width="40">
						<h:outputText value="#{line.batch}" />
					</p:column>
					<p:column headerText="ExpDt" styleClass="centerAligned" width="70">
						<h:outputText value="#{line.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3" style="width:100%" styleClass=",,tar">
					<p:fieldset style="height:60px;">
						<p:commandButton ajax="false" action="#{por.commit}" value="Save"
							icon="ui-icon-disk"
							rendered="#{por.item.status ne 'Returned' and ( por.item.addAddowed or po.item.modifyAddowed)}" />
						<p:commandButton ajax="false" action="#{por.newItem}" value="New"
							icon="ui-icon-plusthick"
							rendered="#{por.item.objectId gt 0 and por.item.addAddowed}" />
						<p:commandButton ajax="false" action="#{por.returnPO()}"
							rendered="#{por.item.status ne 'Returned' and por.item.postAddowed and por.item.objectId  gt 0}"
							value="Return" />
						<h:outputText value=" " />
						<p:commandButton ajax="false" action="#{por.getPoRetList}"
							rendered="#{por.item.viewAddowed}" value="List" />
					</p:fieldset>
					<p:fieldset style="height:60px;" id="messagePan">
						<p:messages></p:messages>
					</p:fieldset>
					<p:fieldset style="height:60px;" id="finalSummary">
						<h:panelGrid columns="6"
							columnClasses="textCaption,,textCaption,,textCaption,textCaption">
							<h:outputText value="Sub Total" />
							<p:inputText value="#{por.item.subTotal}" size="20">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
							<h:outputText value="Disc %" />
							<h:panelGrid columns="2">
								<p:inputText value="#{por.item.discPer}" size="4">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
								<p:inputText value="#{por.item.discAmt}" size="10">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>
							<h:outputText value="Total Amount :" />
							<h:outputText value="#{por.item.netAmt}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
							<h:outputText value="Excise/OH" />
							<p:inputText value="#{por.item.exciseOh}" size="20">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
							<h:outputText value="GST %" />
							<h:panelGrid columns="2">
								<p:inputText value="#{por.item.taxPer}" size="4">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
								<p:inputText value="#{por.item.taxAmt}" size="10">
									<f:convertNumber pattern="#0.00" />
								</p:inputText>
							</h:panelGrid>

							<h:outputText value="Total Quantity: " />
							<h:outputText value="#{por.item.totalQty}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</h:panelGrid>
					</p:fieldset>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="20">
						<h:outputText value="Created On" styleClass="caption" />
						<h:outputText value="#{por.item.createdOn}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
						<p:spacer width="10" height="1" />
						<h:outputText value="Created By" styleClass="caption" />
						<h:outputText value="#{por.item.createdBy}" />
						<p:spacer width="10" height="1" />
						<h:outputText value="Updated On" styleClass="caption" />
						<h:outputText value="#{por.item.updatedOn}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
						<p:spacer width="10" height="1" />
						<h:outputText value="Updated By" styleClass="caption" />
						<h:outputText value="#{por.item.updatedBy}" />
						<p:spacer width="10" height="1" />
						<h:outputText value="Object ID : " styleClass="caption" />
						<h:outputText value="#{por.item.objectId}">
							<f:convertNumber pattern="#0" />
						</h:outputText>

					</h:panelGrid>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
