<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Roles List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{roles.list}" id="detail_table" var="row"
						rowIndexVar="r" scrollable="true" scrollHeight="400"
						scrollRows="4">
						<p:column headerText="Sr#" width="50">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.role}" headerText="Role">
							<h:commandLink action="#{roles.load(row.role)}"
								value="#{row.role}" />
						</p:column>
						<p:column width="80%" />
					</p:dataTable>

					<p:commandButton process="@this" update="detail_table"
						action="#{roles.refreshList()}" value="Refresh" />
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
