<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Sales Person List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{salesPerson.list}" id="detail_table"
						scrollable="true" scrollHeight="300" var="row" rowIndexVar="r"
						resizableColumns="true">
						<p:column headerText="Sr#" width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.personCode}"
							headerText="Sales Person Code">
							<h:commandLink action="#{salesPerson.load(row.personCode)}"
								value="#{row.personCode}">
							</h:commandLink>
						</p:column>

						<p:column sortBy="#{row.personName}"
							headerText="Sales Person Name">
							<h:outputText value="#{row.personName}" />
						</p:column>
						<p:column sortBy="#{row.commPerc}" headerText="Comm(%)">
							<h:outputText value="#{row.commPerc}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column sortBy="#{row.status}" headerText="Status">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="40%">

						</p:column>
					</p:dataTable>
					<p:commandButton value="Refresh List"
						action="#{salesPerson.refreshList()}" process="@this"
						update="detail_table" />
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
