<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Section List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Section No" />
						<p:inputText value="#{section.item.sectionNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Sec Desc" />
						<p:inputText value="#{section.item.sectionDesc}" size="8" />
					</h:panelGrid>

					<h:panelGrid columns="1">
						<h:outputText value="Status" />
						<p:inputText value="#{section.item.status}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{section.search()}"
							update="detail" icon="ui-icon-search" value="Search" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton ajax="true" action="#{section.refresh()}"
							update="detail,searchPan" icon="ui-icon-refresh" value="Refresh" />
					</h:panelGrid>

				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{section.list}" id="detail" var="row"
						scrollable="true" scrollHeight="350" rowIndexVar="r">
						<p:column headerText="SrNo" width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.sectionNo}" headerText="Section No">
							<h:commandLink action="#{section.load(row.sectionNo)}"
								value="#{row.sectionNo}" />
						</p:column>
						<p:column headerText="Sec Desc" sortBy="#{row.sectionDesc}">
							<h:outputText value="#{row.sectionDesc}" />
						</p:column>
						<p:column headerText="GST %" sortBy="#{row.taxPerc}"
							styleClass="tar">
							<h:outputText value="#{row.taxPerc}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Disc %" sortBy="#{row.discPerc}"
							styleClass="tar">
							<h:outputText value="#{row.discPerc}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="30%">

						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>

		</h:form>
	</ui:define>

</ui:composition>
