<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Sub Section List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">

				<f:facet name="footer">
					<p:dataTable value="#{subSection.list}" id="data_table"
						scrollable="true" scrollHeight="300" var="row" rowIndexVar="r">
						<p:column headerText="Sl.No." width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.sectionNo}" headerText="Section No"
							filterBy="#{row.sectionNo}" filterStyle="width:40px;">
							<h:commandLink action="#{section.load(row.sectionNo)}"
								value="#{row.sectionNo}">
							</h:commandLink>
						</p:column>
						<p:column sortBy="#{row.subSection}" headerText="Sub Section"
							filterBy="#{row.subSection}" filterStyle="width:40px;">
							<h:commandLink
								action="#{subSection.load(row.subSection,row.sectionNo)}"
								value="#{row.subSection}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Description" sortBy="#{row.subSectionDesc}"
							filterBy="#{row.subSectionDesc}" filterStyle="width:40px;">
							<h:outputText value="#{row.subSectionDesc}">
							</h:outputText>
						</p:column>
						<p:column headerText="GST %" sortBy="#{row.taxPerc}">
							<h:outputText value="#{row.taxPerc}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Disc %" sortBy="#{row.discPerc}">
							<h:outputText value="#{row.discPerc}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>

						<p:column headerText="Status" sortBy="#{row.status}">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column width="30%">

						</p:column>
					</p:dataTable>
					<p:commandButton value="RefeshList"
						action="#{subSection.refreshList()}" process="@this"
						update="data_table" />
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
