<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Supplier List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Supp Id" styleClass="caption" />
						<p:inputText value="#{supp.item.suppId}" size="8"
							readonly="#{supp.item.objectId gt 0}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Supp Name" styleClass="caption" />
						<p:inputText value="#{supp.item.suppName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Address" styleClass="caption" />
						<p:inputText value="#{supp.item.address}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Mob" styleClass="caption" />
						<p:inputText value="#{supp.item.mob}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="PAN" styleClass="caption" />
						<p:inputText value="#{supp.item.pan}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Phone" styleClass="caption" />
						<p:inputText value="#{supp.item.phone}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="E-mail" styleClass="caption" />
						<p:inputText value="#{supp.item.mail}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" styleClass="caption" />
						<p:commandButton ajax="true" action="#{supp.search()}"
							update="detail,searchPan" icon="ui-icon-search" value="Search" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" styleClass="caption" />
						<p:commandButton ajax="true" action="#{supp.refresh()}"
							update="detail,searchPan" icon="ui-icon-refresh" value="Refresh" />
					</h:panelGrid>
					<h:panelGrid columns="1" rendered="#{supp.item.addAddowed}">
						<h:outputText value="&nbsp;" styleClass="caption" />
						<p:commandButton ajax="false" action="#{supp.addNew()}"
							value="Add New" />
					</h:panelGrid>

				</h:panelGrid>
				<f:facet name="footer">
					<p:dataTable value="#{supp.list}" id="detail" scrollable="true"
						scrollHeight="300" var="row" rowIndexVar="r"
						resizableColumns="true">
						<p:column headerText="Sr#" width="50">
                            #{r+1}
                        </p:column>
						<p:column headerText="ID" sortBy="#{row.suppId}">
							<h:commandLink action="#{supp.load(row.suppId)}"
								value="#{row.suppId}">
							</h:commandLink>
						</p:column>
						<p:column headerText="Name">
							<h:outputText value="#{row.suppName}" />
						</p:column>
						<p:column headerText="Address">
							<h:outputText value="#{row.address}" />
						</p:column>
						<p:column headerText="Tin">
							<h:outputText value="#{row.tin}" />
						</p:column>
						<p:column headerText="Pan">
							<h:outputText value="#{row.pan}" />
						</p:column>
						<p:column headerText="Phone">
							<h:outputText value="#{row.phone}" />
						</p:column>
						<p:column headerText="Mob">
							<h:outputText value="#{row.mob}" />
						</p:column>
						<p:column headerText="mail">
							<h:outputText value="#{row.mail}" />
						</p:column>
						<p:column headerText="Disc%">
							<h:outputText value="#{row.discPer}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Status">
							<h:outputText value="#{row.status}"></h:outputText>
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
