<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Tax Master
    </ui:define>

	<ui:define name="content">
		<h:form>

			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2">
					<h:outputText value="Tax Code" styleClass="caption" />
					<p:inputText value="#{tax.item.taxCode}" size="20"
						readonly="#{tax.item.objectId gt 0}" />
					<h:outputText value="Tax Desc" styleClass="caption" />
					<p:inputText value="#{tax.item.taxDesc}" size="50" />
					<h:outputText value="Tax Per" styleClass="caption" />
					<p:inputText value="#{tax.item.taxPer}" size="50">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>

					<h:outputText value="Status" styleClass="caption" />
					<p:selectOneRadio value="#{tax.item.status}">
						<f:selectItem itemValue="Active" itemLabel="Active" />
						<f:selectItem itemValue="InActive" itemLabel="InActive" />
					</p:selectOneRadio>
				</h:panelGrid>
				<f:facet name="footer">

					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{tax.commit()}"
							rendered="#{tax.item.addAddowed or tax.item.modifyAddowed}" />
						<p:commandButton ajax="false" value="Add New"
							action="#{tax.addNew()}"
							rendered="#{tax.item.addAddowed and tax.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{tax.getTaxList}" rendered="#{tax.item.viewAddowed}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{tax.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{tax.item.deleteAddowed and tax.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>

			</p:panel>
			<p:fieldset id="histPan">

				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{tax.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer height="1" width="10" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{tax.item.createdBy}" />
					<p:spacer height="1" width="10" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{tax.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer height="1" width="10" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{tax.item.updatedBy}" />
					<p:spacer height="1" width="10" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{tax.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
