<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	<ui:define name="top">
        Trans Out
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2" columnClasses="vat,vat,vat">
					<h:panelGrid columns="1">
						<h:panelGrid columns="4" columnClasses="vat,vat,vat,vat">
							<h:panelGrid columns="1">
								<h:outputText value="Trans Out ID" styleClass="caption" />
								<p:inputText value="#{transOut.item.transId}"
									readonly="#{transOut.item.objectId gt 0}" />
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Date" styleClass="caption" />
								<p:inputText value="#{transOut.item.transDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:inputText>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Status" styleClass="caption" />
								<h:outputText value=" #{transOut.item.status}"
									styleClass="captionValue" />
							</h:panelGrid>

						</h:panelGrid>
						<p:separator />
						<h:panelGrid columns="4" columnClasses="vat,vat,vat,vat">
							<h:panelGrid columns="1">
								<h:outputText value="Branch ID" styleClass="caption" />
								<p:selectOneMenu value="#{transOut.item.branchId}"
									style="width:100px;">
									<f:selectItem itemValue="" itemLabel="" />
									<f:selectItems value="#{branch.listSelectOne}" var="b"
										itemValue="#{b.branchId}" itemLabel="#{b.branchName}">
									</f:selectItems>
									<p:ajax process="@parent" update="branch_name"
										listener="#{transOut.setBranchName(transOut.item.branchId)}" />
								</p:selectOneMenu>
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Branch Name" styleClass="caption" />
								<p:inputText value="#{transOut.item.branchName}"
									id="branch_name" />
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Branch Tran ID" styleClass="caption" />
								<p:inputText value="#{transOut.item.branchTransId}" />
							</h:panelGrid>
							<h:panelGrid columns="1">
								<h:outputText value="Branch Tran Date" styleClass="caption" />
								<p:inputText value="#{transOut.item.branchTransDate}">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</p:inputText>
							</h:panelGrid>
						</h:panelGrid>

					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Remarks" styleClass="caption" />
						<p:inputTextarea rows="3" cols="50"
							value="#{transOut.item.noteText}" autoResize="false" />
					</h:panelGrid>
				</h:panelGrid>
			</p:panel>

			<h:panelGrid columns="20" id="selectionPan"
				rendered="#{transOut.item.status ne 'Approved'}">
				<h:panelGrid columns="1">
					<h:outputText value="Search" />
					<p:inputText value="#{transOut.item.lineSelected.search_text}"
						size="6" onkeypress="if (event.keyCode == 13) { return false; }">
						<p:ajax process="selectionPan"
							listener="#{transOut.searchItems()}"
							update="selectionPan,infoSelected,selPanel,msgBoard"></p:ajax>
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Item Desc" />
					<p:inputText value="#{transOut.item.lineSelected.itemDesc}"
						size="18">
						<p:ajax process="selectionPan"
							listener="#{transOut.searchItems()}"
							update="selectionPan,infoSelected,selPanel,msgBoard"></p:ajax>
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Qty" />
					<p:inputText value="#{transOut.item.lineSelected.qty}" size="2">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{transOut.reProcessSelected}"
							update="selectionPan" process="@this" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="UOM" />
					<p:inputText value="#{transOut.item.lineSelected.uom}" size="4" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="MRP" />
					<p:inputText value="#{transOut.item.lineSelected.mrp}" size="4">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="SP" />
					<p:inputText value="#{transOut.item.lineSelected.salesPrice}"
						size="4" readonly="#{masterParameter.item.editSalePrice eq 'No'}">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{tarnsOut.reProcessSelected}"
							update="selectionPan" process="selectionPan" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc%" />
					<p:inputText value="#{transOut.item.lineSelected.discPer}" size="2"
						readonly="#{masterParameter.item.editDiscount eq 'No'}">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{transOut.reProcessSelected}"
							update="selectionPan,msgBoard" process="selectionPan" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Disc Amt" />
					<p:inputText value="#{transOut.item.lineSelected.discAmt}" size="2"
						id="disc_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>

				<h:panelGrid columns="1">
					<h:outputText value="GST%" />
					<p:inputText value="#{transOut.item.lineSelected.taxPer}" size="2"
						id="tax_per">
						<f:convertNumber pattern="#0.00" />
						<p:ajax listener="#{transOut.reProcessSelected}"
							update="selectionPan" process="selectionPan" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="GST Amt" />
					<p:inputText value="#{transOut.item.lineSelected.taxAmt}" size="2"
						id="tax_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Net Amt" />
					<p:inputText value="#{transOut.item.lineSelected.netAmt}" size="4"
						id="net_amt">
						<f:convertNumber pattern="#0.00" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Sub Sec" />
					<p:inputText value="#{transOut.item.lineSelected.subSection}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Sec" />
					<p:inputText value="#{transOut.item.lineSelected.section}" size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Size" />
					<p:inputText value="#{transOut.item.lineSelected.itemSize}"
						size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Color" />
					<p:inputText value="#{transOut.item.lineSelected.color}" size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="Batch" />
					<p:inputText value="#{transOut.item.lineSelected.batch}" size="3" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="ExpDt" />
					<p:inputText value="#{transOut.item.lineSelected.expDate}"
						size="10">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="&nbsp;" />
					<p:commandButton action="#{transOut.addItem}" value="Add"
						rendered="#{transOut.item.lineSelected.lineNo == 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,finalSummary,infoSelected,msgBoard" />
					<p:commandButton action="#{transOut.updateItem}" value="Update"
						rendered="#{transOut.item.lineSelected.lineNo != 0}"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,finalSummary,infoSelected,msgBoard" />
				</h:panelGrid>
				<h:panelGrid columns="1">
					<h:outputText value="&nbsp;" />
					<p:commandButton action="#{transOut.resetSelected()}" value="Reset"
						process="selectionPan" ajax="true"
						update="datatable,selectionPan,finalSummary,infoSelected,msgBoard" />
				</h:panelGrid>

			</h:panelGrid>
			<h:panelGrid columns="1" id="selPanel">
				<p:dataTable value="#{transOut.articleItems.list}" var="s"
					scrollable="true" scrollHeight="100"
					rendered="#{transOut.articleItems.list.size() gt 1}">
					<p:column headerText="ItemsCode">
						<h:commandLink value="#{s.item_code}"
							action="#{transOut.setItemCode(s.item_code)}" />
					</p:column>
					<p:column headerText="MRP">
						<h:outputText value="#{s.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP">
						<h:outputText value="#{s.wsp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Color">
						<h:outputText value="#{s.color}" />
					</p:column>

					<p:column headerText="Article">
						<h:outputText value="#{s.article_no}" />
					</p:column>
					<p:column headerText="BarCode">
						<h:outputText value="#{s.bar_code}" />
					</p:column>
					<p:column headerText="Item Desc">
						<h:outputText value="#{s.article_desc}" />
					</p:column>

				</p:dataTable>
			</h:panelGrid>
			<h:panelGrid columns="20" id="infoSelected"
				rendered="#{transOut.item.status ne 'Approved'}">
				<h:outputText value="Qty In Stock : "
					rendered="#{transOut.stock.list.size() eq 1}" />
				<h:outputText value="#{transOut.item.lineSelected.qtyOnHand}"
					rendered="#{transOut.stock.list.size() eq 1}"
					style="font-weight: bold;color: red">
					<f:convertNumber pattern="#0.00" />
				</h:outputText>
			</h:panelGrid>
			<p:fieldset
				style="padding-left: 2px;padding-right: 2px;padding-top: 2px;margin-bottom: 2px;">
				<p:dataTable value="#{transOut.item.lines}" id="datatable" var="row"
					rowIndexVar="r" scrollable="true" scrollHeight="150">
					<p:column headerText="Sl" width="30">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Item Code">
						<h:outputText value="#{row.itemCode}" />
					</p:column>
					<p:column headerText="Article">
						<h:outputText value="#{row.articleNo}" />
					</p:column>
					<p:column headerText="BarCode" width="80">
						<h:outputText value="#{row.barCode}" />
					</p:column>
					<p:column headerText="Description" width="150">
						<h:outputText value="#{row.itemDesc}" />
					</p:column>
					<p:column headerText="Qty" styleClass="num">
						<h:outputText value="#{row.qty}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="UOM" width="40">
						<h:outputText value="#{row.uom}" />
					</p:column>
					<p:column headerText="PP" styleClass="num">
						<h:outputText value="#{row.purPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="MRP" styleClass="num">
						<h:outputText value="#{row.mrp}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="SP" styleClass="num">
						<h:outputText value="#{row.salesPrice}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc per" styleClass="num">
						<h:outputText value="#{row.discPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Disc Amt" styleClass="num">
						<h:outputText value="#{row.discAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>

					<p:column headerText="GST %" styleClass="num">
						<h:outputText value="#{row.taxPer}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="GST Amt" styleClass="num">
						<h:outputText value="#{row.taxAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Net Amt" styleClass="num">
						<h:outputText value="#{row.netAmt}">
							<f:convertNumber pattern="#0.00" />
						</h:outputText>
					</p:column>
					<p:column headerText="Sec" rendered="false">
						<h:outputText value="#{row.section}" />
					</p:column>
					<p:column headerText="Sub Sec" rendered="false">
						<h:outputText value="#{row.subSection}" />
					</p:column>
					<p:column headerText="Size" rendered="false">
						<h:outputText value="#{row.itemSize}" />
					</p:column>
					<p:column headerText="Color" rendered="false">
						<h:outputText value="#{row.color}" />
					</p:column>
					<p:column headerText="Batch" styleClass="centerAligned" width="40">
						<h:outputText value="#{row.batch}" />
					</p:column>
					<p:column headerText="ExpDt" styleClass="centerAligned" width="70">
						<h:outputText value="#{row.expDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="Action">
						<p:commandButton ajax="false"
							action="#{transOut.setSlectedDetail(row)}" icon="ui-icon-pencil"
							rendered="#{transOut.item.status ne 'Approved'}" />
						<p:spacer width="2" />
						<p:commandButton ajax="false"
							action="#{transOut.deletDetail(row)}"
							rendered="#{transOut.item.status ne 'Approved'}"
							icon="ui-icon-trash" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
			<h:panelGrid columns="3" style="width:100%" styleClass=",,tar">
				<p:fieldset style="height:60px;">
					<h:panelGrid columns="20">
						<p:commandButton ajax="false" icon="ui-icon-disk"
							action="#{transOut.commit}" value="Save"
							rendered="#{transOut.item.addAddowed and transOut.item.status ne 'Approved' }"
							accesskey="s" />
						<h:outputText value=" " />
						<p:commandButton ajax="false" action="#{transOut.addNew}"
							rendered="#{transOut.item.addAddowed }" value="New" accesskey="n" />
						<h:outputText value=" " />
						<p:commandButton ajax="false"
							rendered="#{transOut.item.postAddowed and transOut.item.objectId gt 0 and transOut.item.status ne 'Approved'}"
							action="#{transOut.approveReceipt()}" value="Deliver" />
						<h:outputText value=" " />
						<p:commandButton ajax="false"
							rendered="#{transOut.item.viewAddowed }"
							action="#{transOut.refreshList }" value="List" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false" icon="ui-icon-print"
							rendered="#{transOut.item.printAddowed and transOut.item.objectId gt 0}"
							accesskey="t" action="#{transOut.printThermalReport}"
							value="TransOut Report" />

					</h:panelGrid>
				</p:fieldset>
				<p:fieldset style="height:60px;" id="msgBoard">
					<p:messages></p:messages>
				</p:fieldset>
				<p:fieldset style="height:60px;" id="finalSummary">
					<h:panelGrid columns="8">
						<h:panelGrid columns="1">
							<h:outputText value="Total Quantity" styleClass="caption" />
							<p:inputText value="#{transOut.item.totalQuantity}"
								readonly="true" styleClass="num" size="12">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</h:panelGrid>
						<h:panelGrid columns="1">
							<h:outputText value="Purchase Amount" styleClass="caption" />

							<p:inputText value="#{transOut.item.purchAmt}"
								style="font-weight: bold;background: #c3d9ff;" size="10"
								readonly="true" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</h:panelGrid>
						<h:panelGrid columns="1">
							<h:outputText value="Sales Amount" styleClass="caption" />

							<p:inputText value="#{transOut.item.salesAmt}"
								style="font-weight: bold;background: #c3d9ff;" size="10"
								readonly="true" styleClass="num">
								<f:convertNumber pattern="#0.00" />
							</p:inputText>
						</h:panelGrid>
					</h:panelGrid>
				</p:fieldset>
			</h:panelGrid>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{transOut.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By:" styleClass="caption" />
					<h:outputText value="#{transOut.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{transOut.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By:" styleClass="caption" />
					<p:spacer width="10" height="1" />
					<h:outputText value="#{transOut.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID : " styleClass="caption" />
					<h:outputText value="#{transOut.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>

				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>
</ui:composition>
