<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        User Info
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="User Id" styleClass="caption" />
					<p:inputText value="#{userInfo.item.loginId}" size="20"
						readonly="#{userInfo.item.loginId != null}" />
					<h:outputText value="User Name" styleClass="caption" />
					<p:inputText value="#{userInfo.item.userName}" size="50" />
					<h:outputText value="Status" styleClass="caption" />
					<p:selectOneRadio value="#{userInfo.item.status}">
						<f:selectItem itemValue="Active" itemLabel="Active" />
						<f:selectItem itemValue="InActive" itemLabel="InActive" />
					</p:selectOneRadio>
				</h:panelGrid>
				<p:dataTable value="#{userInfo.item.rolesList}" var="ur"
					id="detail_table" rowIndexVar="r"
					rendered="#{userInfo.item.rolesList.size() gt 0}">
					<p:column headerText="SrNo" width="30">
						<h:outputText value="#{r+1}" />
					</p:column>
					<p:column headerText="Role" sortBy="#{ur.role}">
						<h:outputText value="#{ur.role}" />
					</p:column>
					<p:column headerText="Assigned On" sortBy="#{ur.createdOn}">
						<h:outputText value="#{ur.createdOn}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
					</p:column>
					<p:column headerText="Assigned By" sortBy="#{ur.createdBy}">
						<h:outputText value="#{ur.createdBy}" />
					</p:column>
					<p:column headerText="Action">
						<p:commandLink action="#{userInfo.removeRole(ur.role)}"
							ajax="false" value="Remove" />
					</p:column>
					<p:column headerText="" width="60%">

					</p:column>
				</p:dataTable>
				<p:fieldset rendered="#{userInfo.item.loginId != null}">
					<h:panelGrid columns="6">
						<h:outputText value="Select Role" />
						<p:selectOneMenu value="#{userInfo.item.tempRole}" filter="true">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{roles.listSelectOne}" var="r"
								itemValue="#{r.role}" itemLabel="#{r.role}" />
						</p:selectOneMenu>
						<p:commandButton value="Add New Role"
							action="#{userInfo.addNewRole()}" ajax="false" />
					</h:panelGrid>
				</p:fieldset>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save"
							rendered="#{userInfo.item.addAddowed || userInfo.item.modifyAddowed}"
							action="#{userInfo.commit()}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" value="Add New"
							rendered="#{userInfo.item.addAddowed and userInfo.item.objectId gt 0}"
							action="#{userInfo.addNew()}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" value="Users List"
							rendered="#{userInfo.item.viewAddowed}"
							action="#{userInfo.refreshUsersList}" />
						<p:spacer width="10" height="1" />
						<p:commandButton ajax="false" value="User Account Management"
							action="#{userInfo.prapreChangePassowrd}"
							rendered="#{userInfo.item.userId != null}" />
					</h:panelGrid>
				</f:facet>



			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
			<p:fieldset>
				<h:panelGrid columns="20"
					columnClasses="vat,vat,vat,vat,vat,vat,vat,vat">

					<h:outputText value="Created On" styleClass="caption" />
					<h:outputText value="#{userInfo.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By" styleClass="caption" />
					<h:outputText value="#{userInfo.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On" styleClass="caption" />
					<h:outputText value="#{userInfo.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By" styleClass="caption" />
					<h:outputText value="#{userInfo.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID" styleClass="caption" />
					<h:outputText value="#{userInfo.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>

			</p:fieldset>

		</h:form>
	</ui:define>
</ui:composition>
