<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Account Transaction History
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel id="searchPan" styleClass="detailEditPanel">
				<h:panelGrid columns="20">
					<h:panelGrid columns="1">
						<h:outputText value="Trans Code" styleClass="caption" />
						<p:inputText value="#{accTrans.item.transCode}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Account" styleClass="caption" />
						<p:selectOneMenu value="#{accTrans.item.accountId}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{account.list}" var="ac"
								itemValue="#{ac.accountId}"
								itemLabel="#{ac.accountId} - #{ac.accountDesc}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Dr/Cr" styleClass="caption" />
						<p:selectOneMenu value="#{accTrans.item.drCr}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItem itemValue="Cr" itemLabel="Cr" />
							<f:selectItem itemValue="Dr" itemLabel="Dr" />
						</p:selectOneMenu>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Ref Id" styleClass="caption" />
						<p:inputText value="#{accTrans.item.refId}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Bank Name" styleClass="caption" />
						<p:inputText value="#{accTrans.item.bankName}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cheque No" styleClass="caption" />
						<p:inputText value="#{accTrans.item.chequeNo}" size="8" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="From Trans DT" styleClass="caption" />
						<p:inputText value="#{accTrans.item.fromDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="To Trans DT" styleClass="caption" />
						<p:inputText value="#{accTrans.item.toDate}" size="8">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Search" action="#{accTrans.search}"
							ajax="true" process="searchPan" update="trans_table" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="&nbsp;" />
						<p:commandButton value="Reset" action="#{accTrans.refreshList}"
							ajax="true" process="searchPan" update="trans_table,searchPan" />
					</h:panelGrid>
				</h:panelGrid>

				<f:facet name="footer">
					<p:dataTable value="#{accTrans.list}" var="row" rowIndexVar="r"
						id="trans_table" scrollable="true" scrollHeight="400">
						<p:column headerText="Sr#" width="50">
                            #{r+1}
                        </p:column>
						<p:column sortBy="#{row.transId}" headerText="Trans ID">
							<h:commandLink value="#{row.transId}"
								action="#{accTrans.load(row.transId)}" />
						</p:column>
						<p:column headerText="Trans Date" styleClass="tar">
							<h:outputText value="#{row.transDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Trans code">
							<h:outputText value="#{row.transCode}" />
						</p:column>
						<p:column headerText="Account">
							<h:outputText value="#{row.accountId}" />
						</p:column>
						<p:column headerText="Dr/Cr" style="text-align:center;">
							<h:outputText value="#{row.drCr}" />
						</p:column>
						<p:column headerText="Amount" styleClass="tar">
							<h:outputText value="#{row.amount}">
								<f:convertNumber pattern="#0.00" />
							</h:outputText>
						</p:column>
						<p:column headerText="Ref ID" styleClass="tac">
							<h:outputText value="#{row.refId }" />
						</p:column>
						<p:column headerText="Ref Date" styleClass="tar">
							<h:outputText value="#{row.refDate}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Bank Name" styleClass="tac">
							<h:outputText value="#{row.bankName }" />
						</p:column>
						<p:column headerText="Cheque No" styleClass="tac">
							<h:outputText value="#{row.chequeNo }" />
						</p:column>
						<p:column headerText="Cheque Dt" styleClass="tar">
							<h:outputText value="#{row.chequeDt}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
						<p:column headerText="Remark">
							<h:outputText value="#{row.remark }" />
						</p:column>
						<p:column headerText="User" styleClass="tac">
							<h:outputText value="#{row.createdBy}" />
						</p:column>
						<p:column headerText="Created On" styleClass="tac" width="120">
							<h:outputText value="#{row.createdOn}">
								<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:messages />
		</h:form>
	</ui:define>
</ui:composition>
