<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Account List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="20" id="selPan">
					<h:panelGrid columns="1">
						<h:outputText value="Account ID" styleClass="caption" />
						<p:inputText value="#{account.filter.accountId}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Account No" styleClass="caption" />
						<p:inputText value="#{account.filter.accountNo}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Account Desc" styleClass="caption" />
						<p:inputText value="#{account.filter.accountDesc}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="IFS Code" styleClass="caption" />
						<p:inputText value="#{account.filter.ifsCode}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Remarks" styleClass="caption" />
						<p:inputText value="#{account.filter.remarks}" size="10" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:spacer width="10" height="10" />
						<p:commandButton action="#{account.refreshList()}" value="Search"
							icon="ui-icon-search" ajax="true" process="selPan"
							update="detail_table,msgBoard" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:spacer width="10" height="10" />
						<p:commandButton action="#{account.reset()}" value="Reset"
							ajax="true" process="selPan"
							update="selPan,detail_table,msgBoard" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:spacer width="10" height="10" />
						<p:commandButton action="#{account.addNew()}" value="Add New"
							ajax="false" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<p:spacer width="10" height="10" />
						<p:commandButton action="#{account.generateXls() }" value="Xls"
							process="selPan" update="msgBoard" />
					</h:panelGrid>
				</h:panelGrid>


				<f:facet name="footer">
					<p:dataTable value="#{account.list}" var="row" rowIndexVar="r"
						scrollable="true" id="detail_table" scrollHeight="400">
						<p:column headerText="SR#" width="50">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.accountId}" headerText="Account ID">
							<h:commandLink action="#{account.load(row.accountId)}"
								value="#{row.accountId}">
							</h:commandLink>
						</p:column>
						<p:column sortBy="#{row.accountDesc}" headerText="Account Desc">
							<h:outputText value="#{row.accountDesc}">
							</h:outputText>
						</p:column>
						<p:column sortBy="#{row.accountNo }" headerText="Account No">
							<h:outputText value="#{row.accountNo}" />
						</p:column>

						<p:column sortBy="#{row.ifsCode}" headerText="IFS Code">
							<h:outputText value="#{row.ifsCode}" />
						</p:column>
						<p:column sortBy="#{row.address }" headerText="Address">
							<h:outputText value="#{row.address}" />
						</p:column>
						<p:column sortBy="#{row.remarks }" headerText="Remarks">
							<h:outputText value="#{row.remarks}" />
						</p:column>
						<p:column sortBy="#{row.status }" headerText="Status" width="60"
							styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>
			<p:messages id="msgBoard" />
		</h:form>
	</ui:define>

</ui:composition>
