<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Employee
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="3" styleClass="vat,vat,vat">
					<h:panelGrid columns="4">
						<h:outputText value="Emp Id" styleClass="caption" />
						<p:inputText value="#{emp.item.empId}" size="20" />

						<h:outputText value="Emp Name" styleClass="caption" />
						<p:inputText value="#{emp.item.empName}" size="20" />

						<h:outputText value="Department" styleClass="caption" />
						<p:inputText value="#{emp.item.department}" size="20" />

						<h:outputText value="Supervisor" styleClass="caption" />
						<p:selectOneMenu value="#{emp.item.supervisor}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{emp.listSelectOne}" var="eh"
								itemValue="#{eh.empId}" itemLabel="#{eh.empId} - #{eh.empName}" />
						</p:selectOneMenu>

						<h:outputText value="Mail" styleClass="caption" />
						<p:inputText value="#{emp.item.mail}" size="20" />

						<h:outputText value="Phone" styleClass="caption" />
						<p:inputText value="#{emp.item.phone}" size="20" />

						<h:outputText value="Mobile" styleClass="caption" />
						<p:inputText value="#{emp.item.mob}" size="20" />

						<h:outputText value="DOB" styleClass="caption" />
						<p:inputText value="#{emp.item.dob}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>

						<h:outputText value="Marriage Anniversary" styleClass="caption" />
						<p:inputText value="#{emp.item.marrAnniv}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>

						<h:outputText value="Salary" styleClass="caption" />
						<p:inputText value="#{emp.item.salary}">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>

						<h:outputText value="Status" styleClass="caption" />

						<p:selectOneRadio value="#{emp.item.status}">
							<f:selectItem itemValue="Active" itemLabel="Active" />
							<f:selectItem itemValue="InActive" itemLabel="InActive" />
						</p:selectOneRadio>

					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText styleClass="caption" value="Address" />
						<p:inputTextarea cols="30" rows="8" value="#{emp.item.address}"
							autoResize="false" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText styleClass="caption" value="Remark/Notes" />
						<p:inputTextarea cols="30" rows="8" value="#{emp.item.noteText}"
							autoResize="false" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{emp.commit()}"
							rendered="#{emp.item.addAddowed or emp.item.modifyAddowed}" />
						<p:commandButton ajax="false" value="Add New"
							action="#{emp.addNew()}"
							rendered="#{emp.item.addAddowed and emp.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{emp.getEmployeeList()}"
							rendered="#{emp.item.viewAddowed}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{emp.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{emp.item.deleteAddowed and emp.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<h:panelGrid columns="20" id="histPan">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{emp.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="20" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{emp.item.createdBy}" />
					<p:spacer width="20" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{emp.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="20" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{emp.item.updatedBy}" />
					<p:spacer width="20" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{emp.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
