<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Expenses
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2" styleClass="vat,vat">
					<h:panelGrid columns="4" styleClass="vat,vat">
						<h:outputText value="Prefix" styleClass="caption" />
						<p:selectOneMenu value="#{expense.item.prefix}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{transactionPrefix.expensePrefixlist}"
								var="prl" itemValue="#{prl.prefix}"
								itemLabel="#{prl.prefix} - #{prl.transDesc}" />
						</p:selectOneMenu>
						<h:outputText value="" />
						<h:outputText value="" />
						<h:outputText value="Voucher No" styleClass="caption" />
						<p:inputText value="#{expense.item.voucherNo}" size="20"
							readonly="true" />
						<h:outputText value="Voucher Date" styleClass="caption" />
						<p:inputText value="#{expense.item.voucherDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
						<h:outputText value="Expense Head" styleClass="caption" />
						<p:selectOneMenu value="#{expense.item.expenseHead}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{expenseHead.listSelectOne}" var="eh"
								itemValue="#{eh.head}" itemLabel="#{eh.headDesc}" />
						</p:selectOneMenu>
						<h:outputText value="" />
						<h:outputText value="" />
						<h:outputText value="Payer Ref ID" styleClass="caption" />
						<p:inputText value="#{expense.item.payerRefId}" size="20" />
						<h:outputText value="Payer Ref Date" styleClass="caption" />
						<p:inputText value="#{expense.item.payerRefDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>

						<h:outputText value="Emp ID" styleClass="caption" />
						<p:selectOneMenu value="#{expense.item.empId}" id="emp_id">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{emp.listSelectOne}" var="lst"
								itemValue="#{lst.empId}" itemLabel="#{lst.empName}"></f:selectItems>
							<p:ajax update="emp_name" listener="#{expense.setEmployee()}"
								process="emp_id" />
						</p:selectOneMenu>
						<h:outputText value="Emp Name" styleClass="caption" />
						<p:inputText value="#{expense.item.empName}" size="20"
							id="emp_name" />

						<h:outputText value="Pay Mode" styleClass="caption" />

						<p:selectOneMenu value="#{expense.item.payModeId}">
							<f:selectItem itemLabel="" itemValue="" />
							<f:selectItems value="#{payMode.list}" var="pay"
								itemLabel="#{pay.payModeDesc}" itemValue="#{pay.payModeId}" />
						</p:selectOneMenu>

						<h:outputText value="Amount" styleClass="caption" />
						<p:inputText value="#{expense.item.amount}">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
						<h:outputText value="Debit From Account" styleClass="caption" />
						<p:selectOneMenu value="#{expense.item.accountId}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{account.list}" var="ac"
								itemValue="#{ac.accountId}"
								itemLabel="#{ac.accountId} - #{ac.accountDesc}" />
						</p:selectOneMenu>
						<h:outputText value="Status" styleClass="caption" />
						<h:outputText value="#{expense.item.status}"
							styleClass="captionValue" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText styleClass="caption" value="Remark/Notes" />
						<p:inputTextarea cols="30" rows="8" value="#{expense.item.remark}"
							autoResize="false" />
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="20">

					<h:panelGrid columns="1">
						<h:outputText value="Bank Name" styleClass="caption" />
						<p:inputText value="#{expense.item.bankName }" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cheque No" styleClass="caption" />
						<p:inputText value="#{expense.item.chequeNo }" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cheque Date" styleClass="caption" />
						<p:inputText value="#{expense.item.chequeDt }">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="CC Code" styleClass="caption" />
						<p:inputText value="#{expense.item.ccCode}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="CC No" styleClass="caption" />
						<p:inputText value="#{expense.item.ccNo}" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" icon="ui-icon-disk" value="Save"
							action="#{expense.commit()}"
							rendered="#{expense.item.status != 'Approved' }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{expense.addNew()}"
							rendered="#{expense.item.objectId  gt 0 }" />
						<p:commandButton ajax="false" value="Approve"
							action="#{expense.approve()}"
							rendered="#{expense.item.status != 'Approved' and expense.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{expense.getExpenseList()}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{expense.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="20" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{expense.item.createdBy}" />
					<p:spacer width="20" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{expense.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="20" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{expense.item.updatedBy}" />
					<p:spacer width="20" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{expense.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
