<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Expense Head List
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<f:facet name="footer">
					<p:dataTable value="#{expenseHead.list}" var="row" id="detail"
						scrollHeight="300" scrollable="true" rowIndexVar="r">
						<p:column headerText="Sr#" width="50">
							<h:outputText value="#{r+1}" />
						</p:column>
						<p:column sortBy="#{row.head}" filterBy="#{row.head}"
							headerText="Expense Head">
							<h:commandLink action="#{expenseHead.load(row.head)}"
								value="#{row.head}" />
						</p:column>
						<p:column headerText="Head Description" sortBy="#{row.headDesc}"
							filterBy="#{row.headDesc}">
							<h:outputText value="#{row.headDesc}" />
						</p:column>
						<p:column headerText="Status" sortBy="#{row.status}"
							filterBy="#{row.status}" styleClass="tac">
							<h:outputText value="#{row.status}" />
						</p:column>
						<p:column />
					</p:dataTable>
					<p:commandButton value="Refresh List"
						action="#{expenseHead.refreshList()}" process="@this"
						update="detail" />
				</f:facet>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
