<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Expense Reports
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Voucher No" styleClass="caption" />
					<p:inputText value="#{expenseReport.voucherNo}" size="20" />
					<h:outputText value="Expense Head" styleClass="caption" />
					<p:selectOneMenu value="#{expenseReport.expenseHead}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{expenseHead.listSelectOne}" var="eh"
							itemValue="#{eh.head}" itemLabel="#{eh.headDesc}" />
					</p:selectOneMenu>
					<h:outputText value="Emp ID" styleClass="caption" />
					<p:selectOneMenu value="#{expenseReport.empId}" id="emp_id">
						<f:selectItem itemValue="" itemLabel=""></f:selectItem>
						<f:selectItems value="#{emp.listSelectOne}" var="lst"
							itemValue="#{lst.empId}" itemLabel="#{lst.empName}"></f:selectItems>
					</p:selectOneMenu>
					<h:outputText value="Account" styleClass="caption" />
					<p:selectOneMenu value="#{expenseReport.accountId}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{account.list}" var="ac"
							itemValue="#{ac.accountId}"
							itemLabel="#{ac.accountId} - #{ac.accountDesc}" />
					</p:selectOneMenu>
					<h:outputText value="From Date" styleClass="caption" />
					<p:inputText value="#{expenseReport.fromDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="To Date" styleClass="caption" />
					<p:inputText value="#{expenseReport.toDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Output Format" styleClass="caption" />
					<p:selectOneMenu value="#{expenseReport.outputFormat}"
						style="width:100px;">
						<f:selectItems value="#{jasperOutputFormat.list}" var="ol"
							itemValue="#{ol.formatCode}" itemLabel="#{ol.formatDesc}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="100">
						<p:commandButton ajax="false" value="Expense Register"
							action="#{expenseReport.printExpenseRegister() }" />
						<p:spacer width="20" height="1" />

					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
