<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Item Size Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel" id="editPan">
				<h:panelGrid columns="2">
					<h:outputText value="Size" styleClass="caption" />
					<p:inputText value="#{size.item.itemSize}" size="20"
						readonly="#{size.item.objectId gt 0}" />
					<h:outputText value="Description" styleClass="caption" />
					<p:inputText value="#{size.item.sizeDesc}" size="50" />
					<h:outputText value="" />
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save" icon="ui-icon-disk"
							action="#{size.commit()}"
							rendered="#{size.item.addAddowed or size.item.modifyAddowed }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{size.addNew()}"
							rendered="#{size.item.addAddowed and size.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{size.prepareList}" rendered="#{size.item.viewAddowed}" />
						<p:commandButton ajax="true" value="Delete"
							actionListener="#{size.delete()}" icon="ui-icon-trash"
							process="editPan" update="editPan,messagePan,histPan"
							rendered="#{size.item.deleteAddowed and size.item.objectId gt 0}">
							<p:confirm header="Confirmation"
								message="Are you sure you want to delete?" icon="ui-icon-alert" />
						</p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset id="histPan">
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{size.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By:" styleClass="caption" />
					<h:outputText value="#{size.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{size.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By:" styleClass="caption" />
					<h:outputText value="#{size.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID:" styleClass="caption" />
					<h:outputText value="#{size.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset id="messagePan">
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
