<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <link rel="icon" type="image/png"  href="resources/images/favicon-icon.png" />
	<title>Bulker Store</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="./resources/css/default.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/cssLayout.css" rel="stylesheet"
		type="text/css" />
	<link href="./resources/css/main.css" rel="stylesheet" type="text/css" />
    
</h:head>
<h:body class="cat-page">
	<h:form>
		<p:layout fullPage="true">
			<p:layoutUnit position="center">
				<p:focus />
				<div id="top" class="top">
					<h:panelGrid columns="3" width="98%">

						<h:panelGrid columns="5"
							columnClasses="ScreenHeading,ScreenHeading,ScreenHeading">

							<p:graphicImage name="/images/cash-wrap-logo.png"
								style="background:url(resources/images/cash-wrap-logo.png); width:112px; height:45px;" />
                            <p style="color: white"> <strong style="color: antiquewhite;font-size: 14px;"> For Support :</strong> support@cashwrap.in <strong style="color: antiquewhite;font-size: 14px;"> Visit </strong><a href="http://cashwrap.in/" target="_blank" style="display: inline; color: #ffed00;">Cashwrap.in </a> <strong style="color: antiquewhite;font-size: 14px;"> Contact:</strong> 01204327223 | 8285560008 | 8800384880  </p>
						</h:panelGrid>
					</h:panelGrid>
				</div>
				<h:panelGrid columns="3" style="width:99%; height: 600px; "
					columnClasses="vat,vat,vat" styleClass="custom-background">
					<h:panelGrid columns="5"
						style="margin:120px 20px 40px 100px;background:none; border-radius:0px"
						styleClass="defaultInsidegrid" cellspacing="20">
						<p:graphicImage name="/images/cash-wrap.png" styleClass="img" />
						<p:graphicImage rendered="false" name="/images/cash-wrap.png"
							styleClass="img" />
					</h:panelGrid>
					<h:panelGrid columns="2">
						<p:panel styleClass="detailEditPanel" class="login-container">
							
														
							
							
							<div class="login-heading">
							 <div class="login-left"><h:outputText value="Login" styleClass="captionValue" class="login-text" /></div>
							 <div class="login-right"><p:graphicImage name="/images/patanjali-store.png" class="client-logo" /></div>
							 <div class="clr"></div>
							</div>
							
							<f:facet name="footer">
								<h:panelGrid columns="1">
									<h:panelGrid columns="2" styleClass="defaultInsidegrid"
										cellspacing="20">
										<h:outputText value="User ID"  styleClass="caption" style="color: white;" />
										<p:inputText value="#{login.userid}" class="text-box" />
										<h:outputText value="Password" styleClass="caption" style="color: white;"/>
										<p:password value="#{login.password}" class="text-box" />
										<h:outputText value="" styleClass="caption" />
										<p:commandButton ajax="false" value="Login"
											action="#{login.login}" class="login-btn" />
									</h:panelGrid>
									<p:messages />
								</h:panelGrid>
							</f:facet>
						</p:panel>

					</h:panelGrid>
				</h:panelGrid>
			</p:layoutUnit>
		</p:layout>
	</h:form>

</h:body>
</html>

