<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Modem Data Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="1" columnClasses="vat,vat">
					<h:panelGrid columns="2">
						<h:outputText value="Modem Id" styleClass="caption" />
						<p:inputText value="#{modem.modem.modemId}" size="20" />
						<h:outputText value="SMSC Number" styleClass="caption" />
						<p:inputText value="#{modem.modem.smscNumber}" size="50" />
						<h:outputText value="COM Port" styleClass="caption" />
						<p:inputText value="#{modem.modem.comPort}" size="50" />
						<h:outputText value="Manufacturer" styleClass="caption" />
						<p:inputText value="#{modem.modem.modemManufacturer}" size="50" />
						<h:outputText value="Modem Model" styleClass="caption" />
						<p:inputText value="#{modem.modem.modemModel}" size="50" />
						<h:outputText value="Baud Rate" styleClass="caption" />
						<p:inputText value="#{modem.modem.baudRate}" size="50" />
						<h:outputText value="Status" styleClass="caption" />
						<p:selectOneRadio value="#{modem.modem.status}">
							<f:selectItem itemValue="Active" itemLabel="Active" />
							<f:selectItem itemValue="InActive" itemLabel="InActive" />
						</p:selectOneRadio>
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save"
							action="#{modem.commit()}" />
						<p:commandButton ajax="false" value="Add New"
							action="#{modem.addNew()}" />
						<p:commandButton ajax="false" value="List"
							action="#{modem.modemsList()}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{modem.modem.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{modem.modem.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{modem.modem.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{modem.modem.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{modem.modem.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
