<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        My Screen Grants
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">

				<f:facet name="footer">
					<p:dataTable value="#{login.screenGrants}" var="l"
						scrollable="true" scrollHeight="200">
						<p:column headerText="Screen">
							<h:outputText value="#{l.screen}" />
						</p:column>
						<p:column headerText="View" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.viewAddowed}" disabled="true" />
						</p:column>
						<p:column headerText="Add" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.addAddowed}" disabled="true" />
						</p:column>
						<p:column headerText="Modify" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.modifyAddowed}"
								disabled="true" />
						</p:column>
						<p:column headerText="Delete" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.deleteAddowed}"
								disabled="true" />
						</p:column>
						<p:column headerText="Print" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.printAddowed}"
								disabled="true" />
						</p:column>
						<p:column headerText="Post" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.postAddowed}" disabled="true" />
						</p:column>
						<p:column headerText="Cancel" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.cancelAllowed}"
								disabled="true" />
						</p:column>
					</p:dataTable>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>


		</h:form>
	</ui:define>

</ui:composition>
