<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Printer manager
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="14">
					<h:outputText value="Printers List" styleClass="caption" />
					<p:selectOneMenu value="#{printManager.tempPrinter}"
						id="printers_list">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{printManager.prinetersList}" var="p"
							itemValue="#{p}" itemLabel="#{p}" />
					</p:selectOneMenu>
					<p:spacer width="20" height="10" />
					<p:spacer width="20" height="10" />
					<h:outputText value="My Default Printer : " styleClass="caption" />
					<h:outputText value="#{login.user.defaultPrinter}"
						styleClass="captionValue" />
				</h:panelGrid>
				<h:panelGrid columns="10">
					<p:commandButton ajax="true"
						action="#{printManager.searchInstalledPrinters()}"
						value="Search Installed Printers" update="printers_list"
						process="@this" />
					<p:spacer width="10" height="10" />
					<p:commandButton ajax="false"
						action="#{printManager.updateMyDefaultPrinter()}"
						value="Set As My Default Printer" />
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="20">

					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
