<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Role Screen Grants
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="3">
					<h:outputText value="Role" styleClass="caption" />
					<p:selectOneMenu value="#{roleScreen.item.role}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{roles.listSelectOne}" var="l"
							itemValue="#{l.role}" itemLabel="#{l.role}" />
					</p:selectOneMenu>
					<p:commandButton ajax="false"
						action="#{roleScreen.showScreensForRole}"
						value="Show Screens for Role" />
				</h:panelGrid>
				<p:fieldset>
					<p:dataTable value="#{roleScreen.list}" var="l" scrollable="true"
						scrollHeight="200">
						<p:column headerText="Screen">
							<h:outputText value="#{l.screenId}" />
						</p:column>
						<p:column headerText="View" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.canInquire}" />
						</p:column>
						<p:column headerText="Add" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.canAdd}" />
						</p:column>
						<p:column headerText="Modify" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.canModify}" />
						</p:column>
						<p:column headerText="Delete" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.canDelete}" />
						</p:column>
						<p:column headerText="Post" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.canPost}" />
						</p:column>
						<p:column headerText="Print" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.canPrint}" />
						</p:column>
						<p:column headerText="Cancel" style="text-align: center">
							<p:selectBooleanCheckbox value="#{l.canCancel}" />
						</p:column>
					</p:dataTable>
				</p:fieldset>
				<h:panelGrid columns="3">
					<h:outputText value="Add New Screen" styleClass="caption" />
					<p:selectOneMenu value="#{roleScreen.selectedScreen.userScreen}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{screen.listSelectOne}" var="l"
							itemValue="#{l.userScreen}" itemLabel="#{l.userScreen}" />
					</p:selectOneMenu>
					<p:commandButton ajax="false" action="#{roleScreen.addNewScreen()}"
						value="Add Screen" />
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="SaveAll"
							action="#{roleScreen.saveAll()}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>


		</h:form>
	</ui:define>

</ui:composition>
