<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Supplier Payment Cancellation
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2" styleClass="vat,vat">
					<h:panelGrid columns="4">
						<h:outputText value="Prefix" styleClass="caption" />
						<p:selectOneMenu value="#{suppPayCan.item.prefix}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems
								value="#{transactionPrefix.suppPaymentCanPrefixlist}" var="prl"
								itemValue="#{prl.prefix}"
								itemLabel="#{prl.prefix} - #{prl.transDesc}" />
						</p:selectOneMenu>
						<h:outputText value="" />
						<h:outputText value="" />
						<h:outputText value="Voucher No" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.voucherNo}" size="20"
							readonly="true" />
						<h:outputText value="Voucher Date" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.voucherDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
						<h:outputText value="Payer Ref ID" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.payerRefId}" size="20" />
						<h:outputText value="Payer Ref Date" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.payerRefDate}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>

						<h:outputText value="Supp ID" styleClass="caption" />
						<p:selectOneMenu value="#{suppPayCan.item.suppId}"
							style="width: 100px;" id="supp_id" filter="true">
							<f:selectItem itemValue="" itemLabel=""></f:selectItem>
							<f:selectItems value="#{supp.listSelectOne}" var="lst"
								itemValue="#{lst.suppId}" itemLabel="#{lst.suppName}"></f:selectItems>
							<p:ajax update="supp_name" listener="#{suppPayCan.setSupplier()}"
								process="supp_id" />
						</p:selectOneMenu>
						<h:outputText value="Supp Name" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.suppName}" size="20"
							id="supp_name" />

						<h:outputText value="Pay Mode" styleClass="caption" />

						<p:selectOneMenu value="#{suppPayCan.item.payModeId}">
							<f:selectItem itemLabel="" itemValue="" />
							<f:selectItems value="#{payMode.list}" var="pay"
								itemLabel="#{pay.payModeDesc}" itemValue="#{pay.payModeId}" />
						</p:selectOneMenu>

						<h:outputText value="Amount" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.amount}">
							<f:convertNumber pattern="#0.00" />
						</p:inputText>
						<h:outputText value="Credit To Account" styleClass="caption" />
						<p:selectOneMenu value="#{suppPayCan.item.accountId}">
							<f:selectItem itemValue="" itemLabel="" />
							<f:selectItems value="#{account.listSelectOne}" var="ac"
								itemValue="#{ac.accountId}"
								itemLabel="#{ac.accountId} - #{ac.accountDesc}" />
						</p:selectOneMenu>
						<h:outputText value="Status" styleClass="caption" />
						<h:outputText value="#{suppPayCan.item.status}"
							styleClass="captionValue" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText styleClass="caption" value="Remark/Notes" />
						<p:inputTextarea cols="30" rows="8"
							value="#{suppPayCan.item.remark}" />
					</h:panelGrid>
				</h:panelGrid>
				<h:panelGrid columns="20">

					<h:panelGrid columns="1">
						<h:outputText value="Bank Name" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.bankName }" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cheque No" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.chequeNo }" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="Cheque Date" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.chequeDt }">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</p:inputText>
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="CC Code" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.ccCode}" />
					</h:panelGrid>
					<h:panelGrid columns="1">
						<h:outputText value="CC No" styleClass="caption" />
						<p:inputText value="#{suppPayCan.item.ccNo}" />
					</h:panelGrid>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save"
							action="#{suppPayCan.commit()}"
							rendered="#{suppPayCan.item.status != 'Approved' }" />
						<p:commandButton ajax="false" value="Add New"
							action="#{suppPayCan.addNew()}"
							rendered="#{suppPayCan.item.objectId gt 0 }" />
						<p:commandButton ajax="false" value="Approve"
							action="#{suppPayCan.approve()}"
							rendered="#{suppPayCan.item.status != 'Approved' and suppPayCan.item.objectId gt 0}" />
						<p:commandButton ajax="false" value="List"
							action="#{suppPayCan.search()}" />
					</h:panelGrid>
				</f:facet>
			</p:panel>

			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{suppPayCan.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{suppPayCan.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{suppPayCan.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated By :" styleClass="caption" />
					<h:outputText value="#{suppPayCan.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{suppPayCan.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
