<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Trans In Reports
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Trans ID" styleClass="caption" />
					<p:inputText value="#{transInReport.tarnsId}" size="20" />
					<h:outputText value="Branch ID" styleClass="caption" />
					<p:selectOneMenu value="#{transInReport.branchId}"
						style="width:120px;" id="supp_id">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItems value="#{branch.listSelectOne}" var="lst"
							itemValue="#{lst.branchId}" itemLabel="#{lst.branchName}" />
					</p:selectOneMenu>
					<h:outputText value="From Date" styleClass="caption" />
					<p:inputText value="#{transInReport.fromDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="To Date" styleClass="caption" />
					<p:inputText value="#{transInReport.toDate}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Output Format" styleClass="caption" />
					<p:selectOneMenu value="#{transInReport.outputFormat}"
						style="width:100px;">
						<f:selectItems value="#{jasperOutputFormat.list}" var="ol"
							itemValue="#{ol.formatCode}" itemLabel="#{ol.formatDesc}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="100">
						<p:commandButton ajax="false"
							rendered="#{transInReport.viewAddowed}" value="Trans In Register"
							action="#{transInReport.printTransInRegister() }" />
						<p:spacer width="20" height="1" />
						<p:commandButton ajax="false" value="Trans In Item Wise Reg"
							action="#{transInReport.printTransInItemWiseRegister() }" />
						<p:spacer width="20" height="1" />
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>

		</h:form>
	</ui:define>

</ui:composition>
