<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	template="./MasterTemplate.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="top">
        Transaction Prefix Master
    </ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel styleClass="detailEditPanel">
				<h:panelGrid columns="2">
					<h:outputText value="Prefix" />
					<p:inputText value="#{transactionPrefix.item.prefix}" size="20"
						required="true" />
					<h:outputText value="Transaction Type"></h:outputText>
					<p:selectOneMenu value="#{transactionPrefix.item.transType}"
						required="true" disabled="#{transactionPrefix.item.objectId!=0}">
						<f:selectItem itemValue="" itemLabel="" />
						<f:selectItem itemValue="ARTICLE" itemLabel="Article Number" />
						<f:selectItem itemValue="DAMAGE" itemLabel="Damage" />
						<f:selectItem itemValue="EXPENSE" itemLabel="Expense" />
						<f:selectItem itemValue="INV" itemLabel="Invoice" />
						<f:selectItem itemValue="INVRET" itemLabel="Invoice Return" />
						<f:selectItem itemValue="SUPPPAY" itemLabel="Supplier Payment" />
						<f:selectItem itemValue="SUPPPAYCAN"
							itemLabel="Supplier Payment Cancellation" />
						<f:selectItem itemValue="CUSTPAYREC"
							itemLabel="Cust Payment Receipt" />
						<f:selectItem itemValue="CUSTPAYRECCAN"
							itemLabel="Cust Payment Receipt Cancellation" />
						<f:selectItem itemValue="PO" itemLabel="Purchase" />
						<f:selectItem itemValue="POR" itemLabel="Purchase Receipt" />
						<f:selectItem itemValue="PORET" itemLabel="Purchase Return" />
						<f:selectItem itemValue="TRANSIN" itemLabel="Trans In" />
						<f:selectItem itemValue="TRANSOUT" itemLabel="Trans Out" />
					</p:selectOneMenu>
					<h:outputText value="Current No" />
					<p:inputText value="#{transactionPrefix.item.currentNo}" size="10"
						required="true">
						<f:convertNumber pattern="#0" />
					</p:inputText>
					<h:outputText value="Valid From" />
					<p:inputText value="#{transactionPrefix.item.validFrom}" size="10"
						required="true">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Valid Up To" />
					<p:inputText value="#{transactionPrefix.item.validUpTo}" size="10"
						required="true">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:inputText>
					<h:outputText value="Description" />
					<p:inputText value="#{transactionPrefix.item.transDesc}" size="50" />
					<h:outputText value="Is Default" />
					<h:panelGrid columns="3">
						<h:outputText value="#{transactionPrefix.item.isDefault}" />
						<p:spacer height="1" width="20" />
						<p:commandButton value="Set As Default" ajax="false"
							action="#{transactionPrefix.setAsDefaultPrefix(transactionPrefix.item.transType, transactionPrefix.item.prefix)}" />
					</h:panelGrid>
					<h:outputText value="Append Prefix" />
					<p:selectOneRadio value="#{transactionPrefix.item.appendPrefix}">
						<f:selectItem itemValue="No" itemLabel="No" />
						<f:selectItem itemValue="Yes" itemLabel="Yes" />
					</p:selectOneRadio>
					<h:outputText value="Status" />
					<p:selectOneRadio value="#{transactionPrefix.item.status}">
						<f:selectItem itemValue="Active" itemLabel="Active" />
						<f:selectItem itemValue="InActive" itemLabel="InActive" />
					</p:selectOneRadio>

				</h:panelGrid>
				<f:facet name="footer">
					<h:panelGrid columns="10">
						<p:commandButton ajax="false" value="Save"
							rendered="#{transactionPrefix.item.addAddowed or transactionPrefix.item.modifyAddowed}"
							action="#{transactionPrefix.commit()}" />
						<p:commandButton ajax="false" value="Add New"
							rendered="#{transactionPrefix.item.addAddowed }" immediate="true"
							action="#{transactionPrefix.addNew()}" />
						<p:commandButton ajax="false" value="Reset" immediate="true"
							rendered="#{transactionPrefix.item.addAddowed }"
							action="#{transactionPrefix.addNew()}"></p:commandButton>
						<p:commandButton ajax="false" value="List" immediate="true"
							rendered="#{transactionPrefix.item.viewAddowed }"
							action="#{transactionPrefix.getTransactionPrefixList}" />
						<p:commandButton ajax="false" value="Refresh All Prefixes"
							immediate="true"
							rendered="#{transactionPrefix.item.viewAddowed }"
							action="#{transactionPrefix.refresh()}"></p:commandButton>
					</h:panelGrid>
				</f:facet>
			</p:panel>
			<p:fieldset>
				<p:messages></p:messages>
			</p:fieldset>
			<p:fieldset>
				<h:panelGrid columns="20">
					<h:outputText value="Created On:" styleClass="caption" />
					<h:outputText value="#{transactionPrefix.item.createdOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{transactionPrefix.item.createdBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Updated On:" styleClass="caption" />
					<h:outputText value="#{transactionPrefix.item.updatedOn}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
					<p:spacer width="10" height="1" />
					<h:outputText value="Created By :" styleClass="caption" />
					<h:outputText value="#{transactionPrefix.item.updatedBy}" />
					<p:spacer width="10" height="1" />
					<h:outputText value="Object ID :" styleClass="caption" />
					<h:outputText value="#{transactionPrefix.item.objectId}">
						<f:convertNumber pattern="#0" />
					</h:outputText>
				</h:panelGrid>
			</p:fieldset>
		</h:form>
	</ui:define>

</ui:composition>
