body {
    background: #ffffff url(../images/bg.png);
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000; 
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #82868d;
  font-weight : 400;
  text-decoration: none;
  display:block;
  transition:all 0.5s ease;
}

.main-nav td{
	padding:0px !important;
	border:0px;
}
.main-nav a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
  box-shadow: 2px 3px 5px #909090;
  border-radius:25px 25px 0 25px;
  overflow: hidden;
}
.left-nav-bg{
	background:#2298D5;
	height:100%;
}
.left-nav-bg .ui-widget .ui-widget {    
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.left-nav-bg td {
    border-width: 0px;
    vertical-align: top;
    padding: 0px;
}

.ui-panelmenu .ui-panelmenu-panel {
    padding: 15px 10px;
    margin: 0;
}

.left-nav .ui-state-default, .left-nav .ui-widget-content .left-nav .ui-state-default{
	border: none;
    border-bottom: 1px solid #006CA4;
    background: none;
    -moz-box-shadow: -2px 2px 1px -1px #6AC9FB;
    -webkit-box-shadow: -2px 2px 1px -1px #6AC9FB;
    box-shadow: -2px 2px 1px -1px #6AC9FB;
    border-radius:0px;
}

.left-nav .ui-state-default a, .ui-state-default a:link{
	color:#fff;
	text-shadow:none;
}
.left-nav .ui-panelmenu .ui-panelmenu-panel {
    padding: 15px 10px;
    margin: 0;
}

.login-container{
	border: 1px dashed rgba(255,255,255,0.5);    
    margin-top: 140px;
    background: rgba(255,255,255,0.2) !important;	
}

.client-logo{
	display:block;
	margin-bottom: 15px;
	margin-left:30px;
	padding-top:10px;
}
.login-text{
	display:block;
	font-size:24px;
	margin-left:30px;
	border-bottom:1px solid #e4e4e4;
	padding-bottom:5px;
}
.login-btn{
	background: #2298D5 url(../images/login-icon.png) no-repeat 10px 8px !important;
    color: #fff !important;
    box-shadow: 2px 2px 1px 0px #055C89;
    border: none !important;
    padding: 4px 4px 4px 27px;
}
.reset-btn{
	background: #2298D5 !important;
    color: #fff !important;
    box-shadow: 2px 2px 1px 0px #055C89;
    border: none !important;
    padding: 3px 7px;
}
.login-btn:hover{
	box-shadow:none;	
}
.login-container .ui-widget-content {
    border:none;
}
.text-box{
    width: 200px;
    padding: 5px 10px;
    height: 25px;
}
.login-container .defaultInsidegrid {
    margin:0 10px;
}
.shadow-logo{
	position:absolute;
	bottom:15px;
	right:15px;
}

.tac{
    text-align: center;
}
.tar{
    text-align: right;
    padding-right: 2px;
}
