
#top {
    position: fixed;
    background-color: #fff;
    color: white;
    padding:6px;
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    box-shadow:0 0 2px 2px #ddd;
    margin-top:-3px;
    top:0px;
    width:100%;
    z-index:999;
    background: url(../images/bg1.jpg) no-repeat 0 0 / cover;
    box-shadow: none;
    
}
#top a:hover{ box-shadow:none; border-radius:0px;}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}


#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
.ui-layout-unit {padding: 0px !important;}
.ui-layout-unit .ui-layout-unit-content {padding: 0px !important;}
.center_content {padding: 63px 0 0 0 !important;}
img{transition:all 0.5s ease;}
.main-row{padding-bottom:15px; height: 100%;}
.clr{clear:both;}
.colm-100{width:100%; float:left;}
.colm-95{width:95%; float:left;}
.colm-80{width:80%; float:left;}
.colm-75{width:75%; float:left;}
.colm-70{width:70%; float:left;}
.colm-50{width:50%; float:left;}
.colm-30{width:30%; float:left;}
.colm-25{width:25%; float:left;}
.colm-20{width:20%; float:left;}
.colm-5{width:5%; float:left;}
.marg70l{margin-left:69px;}
.home-btn{}

.cat-page{}
.cat-page .login-container .ui-widget-content {background:none;}
.cat-page .ui-widget-content {background: url(../images/bg1.jpg) no-repeat 0 0 / cover;}
.cat-page-bg{background: url(../images/bg2.jpg) no-repeat 0 bottom / cover; height: 70%;}

.login-heading{border-bottom: 1px solid #fff; padding-bottom:7px;}
.login-left{float:left; width:120px;;}
.login-right{ float:left; width:300px;}
.login-right img{width:100%; margin:0px; padding:0px;}
.clr{clear:both;}
.login-heading .login-text {border-bottom:none; padding:20px 0; color:#fff; border-right:1px dotted #fff; margin-right: 10px;}

.left-nav-panel{background:#354052; color:#82868d; position:fixed; left:0px; width:70px; padding-top:15px; height:100%; z-index:999; top:62px;}
.left-nav-panel .user-grid{ marging-bottom:10px;}
.left-nav-panel .user-grid .user-img{display:block; width:45px; height:45px; border:1px solid #eee; border-radius:50%; overflow:hidden; text-align:center; margin:auto;}
.left-nav-panel .user-grid .user-img img{ width:80%;}
.left-nav-panel .user-grid .user-detail{display:block; float:left; font-size:18px; padding-left:15px; padding-top:12px;}
.left-nav-panel .user-grid .user-detail span{display:block;font-size:12px;}
.show-btn{position:fixed; top:0px; left:0px; width:70px; height:48px; cursor:pointer; background:#354052; z-index:9999; text-align: center; padding-top: 15px;}
.show-btn2{position:fixed; top:0px; left:0px; width:70px; height:48px; cursor:pointer; background:#354052; z-index:9999; text-align: center; padding-top: 15px;}

.nav-list{padding-top:20px;}
.nav-list ul{list-style:none; margin:0px; padding:0px; margin-right:2px;}
.nav-list ul li{display:block; color:#82868d; border-top:1px solid #445065; padding:12px 10px; min-height: 20px; font-size:15px; position:relative; box-shadow:0 0 1px 1px #26303f; text-align:center; cursor: pointer;}
.nav-list ul li .nav-icon{display:inline-block; width:25px; height:25px; marging:auto;}
.nav-list ul li .nav-icon img{width:100%;}
.nav-list ul li:hover, .nav-list ul li.active{background:rgba(47,55,72,1);}
.nav-list ul li ul{display:none; font-size:12px; width:200px; background:rgba(47,55,72,1);}
.nav-list ul li:hover ul{display:block; position:absolute; top:0px; left:100%; padding:0 12px;}
.nav-list ul li:hover ul li{border-bottom:1px dotted #eee; padding:6px 0; border-top:none; box-shadow:none; text-align:left;}
.nav-list ul li:hover ul li:hover{background:rgba(0,0,0,0.2);}

.right-panel{background:#ecf2f6; padding:15px; height: 100%; padding-top:72px; height:auto;}
.right-panel .page-title{background:#ffffff; border:1px solid #dadada; color:#9c9c9c; font-size:24px; padding:10px; margin-bottom:10px;}
.right-panel .right-pannel-inner{}
.right-panel .right-pannel-inner .grid-container{background:#fff; border: 1px solid #dadada; padding:20px;}
.right-panel .right-pannel-inner .grid-container ul{list-style:none; margin:0px; padding:0px;}
.right-panel .right-pannel-inner .grid-container ul li{display:inline-block; margin:5px;}
.right-panel .right-pannel-inner .grid-container ul li img{border-radius:25px 25px 0 25px;}
.right-panel .right-pannel-inner .grid-container ul li img:hover{color:#045491; font-weight:bold; text-decoration:underline;  box-shadow:2px 3px 5px #909090; border-radius:25px 0px 25px 0px; overflow:hidden;}
.right-panel .right-pannel-inner .form-container{background:#fff; padding:10px; border:1px solid #dadada;}
.right-panel .right-pannel-inner .right-panel{background:#fff; border: 1px solid #dadada; padding:15px; margin-left:15px; height: auto; background: rgba(255,255,255,0.3); border: 1px solid rgba(255,255,255,0.5);}
.time-container{border-bottom:1px solid #eee; padding-bottom:15px; margin-bottom:15px; position:relative; border-bottom: none;}
.time-container .time-container-overlay{width:100%; height:100%; position:absolute; top:0px; left:0px;}
.weather{border-bottom:1px solid #eee; padding-bottom:15px; margin-bottom:15px; display:none}




.center_content {
    position: relative;
    /*background-color: #dddddd;*/
    padding: 5px;
    height: 90%;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}
.ScreenHeading{
    font-size: large;
    font-family: cursive;
    color: #a8a8a8;
    font-family: arial;
    padding: 0 3px;
    font-size: 16px;
    display: inline-block;
}
#top a:link, #top a:visited {
  color: #333;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


