/* 
    Document   : main
    Created on : Aug 20, 2014, 11:27:37 PM
    Author     : Satyendra
    Description:
        Purpose of the stylesheet follows.
*/

*{
    padding:0px;
    margin: 0px;
    font-size:12px;
    font-family: arial;
}

.vat {
    vertical-align: top;
}
.tar{
    text-align: right;
    padding-right: 4px;
}
table.datatable {
    size: 12px;
    border-collapse: collapse;
    border:1px solid lightgray; 
}
table.datatable td{
    size: 10px;
    background: white;
    border:1px solid #c3d9ff;
    padding-left:2px;
    padding-right: 2px;
    padding-bottom: 4px;
    padding-top: 4px;
}
.num{
    text-align: right;
    padding-right: 2px;
}
table.datatable th{
    size: 10px;
    background: #ababab;
    border:1px solid #dedede;
    border-bottom: 2px solid #808080;
    padding-left:2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    font-weight: bold;
}
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    padding: 4px 2px 4px 2px;
    /* font-size: 90%;*/
}
.ui-datatable thead th{
    font-size: 80%; 
    font-weight: normal;
} 
.textCaption{
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
.boldFigures{
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
}
.caption {
    font-weight:bold;
    font-size: 12px;
}
.captionValue {
    font-weight:bold;
    font-size: 14px;
}
.MenuPannel{

    width: 200px;
    height: 400px;

}
.bgWhite {
    color:#ffffff;
}
.detailEditPanel{
    background: #e9e9e9;
}
.editKeyPan{
    background:#dedede;
}
.summaryPan{
    background: #c2dfef;
}
.img{
    border-style: none;
}
.centerAligned{
    text-align: center;
}
.rightAligned{
    text-align: right;
    padding-right: 2px;
}
.ui-inputfield{
    padding-top:2px !important;
    padding-bottom: 2px !important;
}
.ui-panel .ui-panel-content{
    padding:2px !important;
}
.ui-panel .ui-panel-footer{
    padding:2px !important;
} 
.defaultInsidegrid{
    margin: 10px;
}
.defaultInsidegrid .ui-widget-content{
    border: 0px !important;
}
.defaultInsidegrid  td{
    border-width: 0px !important;
}
.DefaultMenu{
    width: 100%;
}
.ui-panelmenu .ui-panelmenu-header a{
    font-size: 14px !important; 
    font-family: Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-weight: 400;
    padding-left: 24px;
}
.ui-menuitem {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.ui-menuitem-text{
    font-family:arial;
    font-size: 13px;
}
.custom-background {
    background-image: url("/GenSoft/resources/images/background.png");
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
}